openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Role assignments API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Role Assignments
paths:
  /role_assignments:
    get:
      operationId: fetchRoleAssignments
      summary: Fetch role assignments
      tags:
      - Role Assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: query
        in: query
        schema:
          type: string
        description: 'Filter by a freetext string. Properties searched: `user.email`, `user.name`

          '
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: role_id
        in: query
        schema:
          type: string
        description: Filter by role ID
      - name: assignee_type
        in: query
        schema:
          type: string
          enum:
          - User
          - Team
          - Guest
        description: Filter by assignee type
      - name: assignee_id
        in: query
        schema:
          type: integer
        description: Filter by assignee ID. Must be used with `assignee_type`
      - name: applies_to_type
        in: query
        schema:
          type: string
          enum:
          - Organization
          - Place
          - Group
        description: Filter by applies to type
      - name: applies_to_id
        in: query
        schema:
          type: integer
        description: Filter by applies to ID. Must be used with `applies_to_type`
      - name: scope
        deprecated: true
        in: query
        schema:
          type: string
          enum:
          - organization
          - place
          - group
          - team
        description: Filter by scope
      - name: user_id
        in: query
        schema:
          type:
          - integer
          - string
        description: Filter by user ID or by current user if value is `me`.
        deprecated: true
      - name: place_id
        in: query
        schema:
          type: integer
        description: Filter by place ID
        deprecated: true
      - name: group_id
        in: query
        schema:
          type: integer
        description: Filter by group ID
        deprecated: true
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - user.name
          - -user.name
        description: 'Sort the results. Prepend `-` to sort in reverse order.

          `user.name` - sort by user name, alphabetically

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Organization Role Assignment
                    properties:
                      id:
                        type: integer
                        description: The ID of the role assignment
                      resource_type:
                        type: string
                        description: The resource type of the role assignment
                        const: RoleAssignment
                      created_at:
                        type: string
                        format: date-time
                        description: When the role assignment was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the role assignment was updated
                      role_id:
                        type: string
                        description: The role ID of the role assignment.
                      notify:
                        type: boolean
                        description: Whether an email should be sent to the user when this role assignment is created or updated.
                      applies_to_type:
                        type: string
                        const: Organization
                      applies_to_id:
                        type: integer
                        description: The applies_to ID of the role assignment
                      applies_to:
                        type: object
                        description: The applies_to of the role assignment
                        oneOf:
                        - type: object
                          title: Organization
                          properties:
                            id:
                              type: integer
                              description: The ID of the organization
                            resource_type:
                              type: string
                              description: The resource type of the organization
                              const: Organization
                            name:
                              type: string
                              description: The name of the organization
                            domain:
                              type: string
                              description: The domain of the organization.
                          required:
                          - id
                          - resource_type
                          - name
                          - domain
                          additionalProperties: false
                        - type: object
                          title: Place
                          properties:
                            id:
                              type: integer
                              description: The ID of the place
                            resource_type:
                              type: string
                              description: The resource type of the place
                              const: Place
                            name:
                              type: string
                              description: The name of the place
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                        - type: object
                          title: Group
                          properties:
                            id:
                              type: integer
                              description: The ID of the group
                            resource_type:
                              type: string
                              description: The resource type of the group
                              const: Group
                            name:
                              type: string
                              description: The name of the group
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                      assignee_type:
                        type: string
                        enum:
                        - User
                        - Team
                        - Guest
                        description: The assignee type of the role assignment
                      assignee_id:
                        type: integer
                        description: The assignee ID of the role assignment
                      assignee:
                        type: object
                        description: The assignee of the role assignment
                        oneOf:
                        - type: object
                          title: User
                          properties:
                            id:
                              type: integer
                              description: The ID of the user
                            resource_type:
                              type: string
                              description: The resource type of the user
                              const: User
                            email:
                              type: string
                              format: email
                              description: The email of the user.
                            name:
                              type: string
                              description: The name of the user
                          required:
                          - id
                          - resource_type
                          - email
                          - name
                          additionalProperties: false
                        - type: object
                          title: Team
                          properties:
                            id:
                              type: integer
                              description: The ID of the team
                            resource_type:
                              type: string
                              description: The resource type of the team
                              const: Team
                            name:
                              type: string
                              description: The name of the team
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                        - type: object
                          title: Guest
                          properties:
                            id:
                              type: integer
                              description: The ID of the guest
                            resource_type:
                              type: string
                              description: The resource type of the guest
                              const: Guest
                            name:
                              type: string
                              description: The name of the guest
                            email:
                              type:
                              - string
                              - 'null'
                              format: email
                              description: The email of the guest.
                            phone_number:
                              type:
                              - string
                              - 'null'
                              description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                                '
                          required:
                          - id
                          - resource_type
                          - name
                          - email
                          - phone_number
                          additionalProperties: false
                      created_by_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - null
                        - User
                        - MarketplaceInstallation
                        description: The created_by type of the role assignment
                      created_by_id:
                        type:
                        - integer
                        - 'null'
                        description: The created_by ID of the role assignment
                      user_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the role assignment
                        deprecated: true
                      user:
                        type: object
                        title: User
                        description: The user of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      assignee_team_id:
                        type:
                        - integer
                        - 'null'
                        description: The assignee_team ID of the role assignment
                        deprecated: true
                      assignee_team:
                        type: object
                        title: Team
                        description: The assignee_team of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the team
                          resource_type:
                            type: string
                            description: The resource type of the team
                            const: Team
                          name:
                            type: string
                            description: The name of the team
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      guest_id:
                        type:
                        - integer
                        - 'null'
                        description: The guest ID of the role assignment
                        deprecated: true
                      guest:
                        type: object
                        title: Guest
                        description: The guest of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                      issued_by_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the user who created the role assignment.
                        deprecated: true
                      type:
                        type: string
                        const: organization
                        deprecated: true
                      scope:
                        type: string
                        const: organization
                        deprecated: true
                      organization_id:
                        type: integer
                        description: The organization ID of the role assignment
                        deprecated: true
                      organization:
                        type: object
                        title: Organization
                        description: The organization of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the organization
                          resource_type:
                            type: string
                            description: The resource type of the organization
                            const: Organization
                          name:
                            type: string
                            description: The name of the organization
                          domain:
                            type: string
                            description: The domain of the organization.
                        required:
                        - id
                        - resource_type
                        - name
                        - domain
                        additionalProperties: false
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - role_id
                    - notify
                    - applies_to_type
                    - applies_to_id
                    - applies_to
                    - assignee_type
                    - assignee_id
                    - assignee
                    - created_by_type
                    - created_by_id
                    - user_id
                    - assignee_team_id
                    - guest_id
                    - issued_by_id
                    - type
                    - scope
                    - organization_id
                    - organization
                    additionalProperties: false
                  - type: object
                    title: Place Role Assignment
                    properties:
                      id:
                        type: integer
                        description: The ID of the role assignment
                      resource_type:
                        type: string
                        description: The resource type of the role assignment
                        const: RoleAssignment
                      created_at:
                        type: string
                        format: date-time
                        description: When the role assignment was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the role assignment was updated
                      role_id:
                        type: string
                        description: The role ID of the role assignment.
                      notify:
                        type: boolean
                        description: Whether an email should be sent to the user when this role assignment is created or updated.
                      applies_to_type:
                        type: string
                        const: Place
                      applies_to_id:
                        type: integer
                        description: The applies_to ID of the role assignment
                      applies_to:
                        type: object
                        description: The applies_to of the role assignment
                        oneOf:
                        - type: object
                          title: Organization
                          properties:
                            id:
                              type: integer
                              description: The ID of the organization
                            resource_type:
                              type: string
                              description: The resource type of the organization
                              const: Organization
                            name:
                              type: string
                              description: The name of the organization
                            domain:
                              type: string
                              description: The domain of the organization.
                          required:
                          - id
                          - resource_type
                          - name
                          - domain
                          additionalProperties: false
                        - type: object
                          title: Place
                          properties:
                            id:
                              type: integer
                              description: The ID of the place
                            resource_type:
                              type: string
                              description: The resource type of the place
                              const: Place
                            name:
                              type: string
                              description: The name of the place
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                        - type: object
                          title: Group
                          properties:
                            id:
                              type: integer
                              description: The ID of the group
                            resource_type:
                              type: string
                              description: The resource type of the group
                              const: Group
                            name:
                              type: string
                              description: The name of the group
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                      assignee_type:
                        type: string
                        enum:
                        - User
                        - Team
                        - Guest
                        description: The assignee type of the role assignment
                      assignee_id:
                        type: integer
                        description: The assignee ID of the role assignment
                      assignee:
                        type: object
                        description: The assignee of the role assignment
                        oneOf:
                        - type: object
                          title: User
                          properties:
                            id:
                              type: integer
                              description: The ID of the user
                            resource_type:
                              type: string
                              description: The resource type of the user
                              const: User
                            email:
                              type: string
                              format: email
                              description: The email of the user.
                            name:
                              type: string
                              description: The name of the user
                          required:
                          - id
                          - resource_type
                          - email
                          - name
                          additionalProperties: false
                        - type: object
                          title: Team
                          properties:
                            id:
                              type: integer
                              description: The ID of the team
                            resource_type:
                              type: string
                              description: The resource type of the team
                              const: Team
                            name:
                              type: string
                              description: The name of the team
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                        - type: object
                          title: Guest
                          properties:
                            id:
                              type: integer
                              description: The ID of the guest
                            resource_type:
                              type: string
                              description: The resource type of the guest
                              const: Guest
                            name:
                              type: string
                              description: The name of the guest
                            email:
                              type:
                              - string
                              - 'null'
                              format: email
                              description: The email of the guest.
                            phone_number:
                              type:
                              - string
                              - 'null'
                              description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                                '
                          required:
                          - id
                          - resource_type
                          - name
                          - email
                          - phone_number
                          additionalProperties: false
                      created_by_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - null
                        - User
                        - MarketplaceInstallation
                        description: The created_by type of the role assignment
                      created_by_id:
                        type:
                        - integer
                        - 'null'
                        description: The created_by ID of the role assignment
                      user_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the role assignment
                        deprecated: true
                      user:
                        type: object
                        title: User
                        description: The user of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      assignee_team_id:
                        type:
                        - integer
                        - 'null'
                        description: The assignee_team ID of the role assignment
                        deprecated: true
                      assignee_team:
                        type: object
                        title: Team
                        description: The assignee_team of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the team
                          resource_type:
                            type: string
                            description: The resource type of the team
                            const: Team
                          name:
                            type: string
                            description: The name of the team
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      guest_id:
                        type:
                        - integer
                        - 'null'
                        description: The guest ID of the role assignment
                        deprecated: true
                      guest:
                        type: object
                        title: Guest
                        description: The guest of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                      issued_by_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the user who created the role assignment.
                        deprecated: true
                      type:
                        type: string
                        const: place
                        deprecated: true
                      scope:
                        type: string
                        const: place
                        deprecated: true
                      place_id:
                        type: integer
                        description: The place ID of the role assignment
                        deprecated: true
                      place:
                        type: object
                        title: Place
                        description: The place of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - role_id
                    - notify
                    - applies_to_type
                    - applies_to_id
                    - applies_to
                    - assignee_type
                    - assignee_id
                    - assignee
                    - created_by_type
                    - created_by_id
                    - user_id
                    - assignee_team_id
                    - guest_id
                    - issued_by_id
                    - type
                    - scope
                    - place_id
                    - place
                    additionalProperties: false
                  - type: object
                    title: Group Role Assignment
                    properties:
                      id:
                        type: integer
                        description: The ID of the role assignment
                      resource_type:
                        type: string
                        description: The resource type of the role assignment
                        const: RoleAssignment
                      created_at:
                        type: string
                        format: date-time
                        description: When the role assignment was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the role assignment was updated
                      role_id:
                        type: string
                        description: The role ID of the role assignment.
                      notify:
                        type: boolean
                        description: Whether an email should be sent to the user when this role assignment is created or updated.
                      applies_to_type:
                        type: string
                        const: Group
                      applies_to_id:
                        type: integer
                        description: The applies_to ID of the role assignment
                      applies_to:
                        type: object
                        description: The applies_to of the role assignment
                        oneOf:
                        - type: object
                          title: Organization
                          properties:
                            id:
                              type: integer
                              description: The ID of the organization
                            resource_type:
                              type: string
                              description: The resource type of the organization
                              const: Organization
                            name:
                              type: string
                              description: The name of the organization
                            domain:
                              type: string
                              description: The domain of the organization.
                          required:
                          - id
                          - resource_type
                          - name
                          - domain
                          additionalProperties: false
                        - type: object
                          title: Place
                          properties:
                            id:
                              type: integer
                              description: The ID of the place
                            resource_type:
                              type: string
                              description: The resource type of the place
                              const: Place
                            name:
                              type: string
                              description: The name of the place
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                        - type: object
                          title: Group
                          properties:
                            id:
                              type: integer
                              description: The ID of the group
                            resource_type:
                              type: string
                              description: The resource type of the group
                              const: Group
                            name:
                              type: string
                              description: The name of the group
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                      assignee_type:
                        type: string
                        enum:
                        - User
                        - Team
                        - Guest
                        description: The assignee type of the role assignment
                      assignee_id:
                        type: integer
                        description: The assignee ID of the role assignment
                      assignee:
                        type: object
                        description: The assignee of the role assignment
                        oneOf:
                        - type: object
                          title: User
                          properties:
                            id:
                              type: integer
                              description: The ID of the user
                            resource_type:
                              type: string
                              description: The resource type of the user
                              const: User
                            email:
                              type: string
                              format: email
                              description: The email of the user.
                            name:
                              type: string
                              description: The name of the user
                          required:
                          - id
                          - resource_type
                          - email
                          - name
                          additionalProperties: false
                        - type: object
                          title: Team
                          properties:
                            id:
                              type: integer
                              description: The ID of the team
                            resource_type:
                              type: string
                              description: The resource type of the team
                              const: Team
                            name:
                              type: string
                              description: The name of the team
                          required:
                          - id
                          - resource_type
                          - name
                          additionalProperties: false
                        - type: object
                          title: Guest
                          properties:
                            id:
                              type: integer
                              description: The ID of the guest
                            resource_type:
                              type: string
                              description: The resource type of the guest
                              const: Guest
                            name:
                              type: string
                              description: The name of the guest
                            email:
                              type:
                              - string
                              - 'null'
                              format: email
                              description: The email of the guest.
                            phone_number:
                              type:
                              - string
                              - 'null'
                              description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                                '
                          required:
                          - id
                          - resource_type
                          - name
                          - email
                          - phone_number
                          additionalProperties: false
                      created_by_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - null
                        - User
                        - MarketplaceInstallation
                        description: The created_by type of the role assignment
                      created_by_id:
                        type:
                        - integer
                        - 'null'
                        description: The created_by ID of the role assignment
                      user_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the role assignment
                        deprecated: true
                      user:
                        type: object
                        title: User
                        description: The user of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      assignee_team_id:
                        type:
                        - integer
                        - 'null'
                        description: The assignee_team ID of the role assignment
                        deprecated: true
                      assignee_team:
                        type: object
                        title: Team
                        description: The assignee_team of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the team
                          resource_type:
                            type: string
                            description: The resource type of the team
                            const: Team
                          name:
                            type: string
                            description: The name of the team
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      guest_id:
                        type:
                        - integer
                        - 'null'
                        description: The guest ID of the role assignment
                        deprecated: true
                      guest:
                        type: object
                        title: Guest
                        description: The guest of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                      issued_by_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the user who created the role assignment.
                        deprecated: true
                      type:
                        type: string
                        const: group
                        deprecated: true
                      scope:
                        type: string
                        const: group
                        deprecated: true
                      group_id:
                        type: integer
                        description: The group ID of the role assignment
                        deprecated: true
                      group:
                        type: object
                        title: Group
                        description: The group of the role assignment
                        deprecated: true
                        properties:
                          id:
                            type: integer
                            description: The ID of the group
                          resource_type:
                            type: string
                            description: The resource type of the group
                            const: Group
                          name:
                            type: string
                            description: The name of the group
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      valid_from:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: When the role assignment starts to be valid.
                      valid_until:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: When the role assignment stops to be valid.
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - role_id
                    - notify
                    - applies_to_type
                    - applies_to_id
                    - applies_to
                    - assignee_type
                    - assignee_id
                    - assignee
                    - created_by_type
                    - created_by_id
                    - user_id
                    - assignee_team_id
                    - guest_id
                    - issued_by_id
                    - type
                    - scope
                    - group_id
                    - group
                    - valid_from
                    - valid_until
                    additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createRoleAssignment
      summary: Create role assignment
      tags:
      - Role Assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Organization Role Assignment
                properties:
                  role_assignment:
                    type: object
                    properties:
                      applies_to_type:
                        type: string
                        const: Organization
                      applies_to_id:
                        type: integer
                        description: The applies_to ID of the role assignment
                      assignee_type:
                        type: string
                        enum:
                        - User
                        - Team
                        - Guest
                        description: The assignee type of the role assignment
                      assignee_id:
                        type: integer
                        description: The assignee ID of the role assignment
                      role_id:
                        type: string
                        description: The role ID of the role assignment.
                      user_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the role assignment
                        deprecated: true
                      organization_id:
                        type: integer
                        description: The organization ID of the role assignment
                        deprecated: true
                      notify:
                        type: boolean
                        description: Whether an email should be sent to the user when this role assignment is created or updated.
                    required:
                    - applies_to_type
                    - applies_to_id
                    - assignee_type
                    - assignee_id
                    - role_id
                required:
                - role_assignment
              - type: object
                title: Place Role Assignment
                properties:
                  role_assignment:
                    type: object
                    properties:
                      applies_to_type:
                        type: string
                        const: Place
                      applies_to_id:
                        type: integer
                        description: The applies_to ID of the role assignment
                      assignee_type:
                        type: string
                        enum:
                        - User
                        - Team
                        - Guest
                        description: The assignee type of the role assignment
                      assignee_id:
                        type: integer
                        description: The assignee ID of the role assignment
                      role_id:
                        type: string
                        description: The role ID of the role assignment.
                      user_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the role assignment
                        deprecated: true
                      place_id:
                        type: integer
                        description: The place ID of the role assignment
                        deprecated: true
                      notify:
                        type: boolean
                        description: Whether an email should be sent to the user when this role assignment is created or updated.
                    required:
                    - applies_to_type
                    - applies_to_id
                    - assignee_type
                    - assignee_id
                    - role_id
                required:
                - role_assignment
              - type: object
                title: Group Role Assignment
                properties:
                  role_assignment:
                    type: object
                    properties:
                      applies_to_type:
                        type: string
                        const: Group
                      applies_to_id:
                        type: integer
                        description: The applies_to ID of the role assignment
                      assignee_type:
                        type: string
                        enum:
                        - User
                        - Team
                        - Guest
                        description: The assignee type of the role assignment
                      assignee_id:
                        type: integer
                        description: The assignee ID of the role assignment
                      role_id:
                        type: string
                        description: The role ID of the role assignment.
                      user_id:
                        type:
                        - integer
                        - 'null'
                        description: The user ID of the role assignment
                        deprecated: true
                      group_id:
                        type: integer
                        description: The group ID of the role assignment
                        deprecated: true
                      notify:
                        type: boolean
                        description: Whether an email should be sent to the user when this role assignment is created or updated.
                      valid_from:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: When the role assignment starts to be valid.
                      valid_until:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: When the role assignment stops to be valid.
                    required:
                    - applies_to_type
                    - applies_to_id
                    - assignee_type
                    - assignee_id
                    - role_id
                required:
                - role_assignment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Organization Role Assignment
                  properties:
                    id:
                      type: integer
                      description: The ID of the role assignment
                    resource_type:
                      type: string
                      description: The resource type of the role assignment
                      const: RoleAssignment
                    created_at:
                      type: string
                      format: date-time
                      description: When the role assignment was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the role assignment was updated
                    role_id:
                      type: string
                      description: The role ID of the role assignment.
                    notify:
                      type: boolean
                      description: Whether an email should be sent to the user when this role assignment is created or updated.
                    applies_to_type:
                      type: string
                      const: Organization
                    applies_to_id:
                      type: integer
                      description: The applies_to ID of the role assignment
                    applies_to:
                      type: object
                      description: The applies_to of the role assignment
                      oneOf:
                      - type: object
                        title: Organization
                        properties:
                          id:
                            type: integer
                            description: The ID of the organization
                          resource_type:
                            type: string
                            description: The resource type of the organization
                            const: Organization
                          name:
                            type: string
                            description: The name of the organization
                          domain:
                            type: string
                            description: The domain of the organization.
                        required:
                        - id
                        - resource_type
                        - name
                        - domain
                        additionalProperties: false
                      - type: object
                        title: Place
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      - type: object
                        title: Group
                        properties:
                          id:
                            type: integer
                            description: The ID of the group
                          resource_type:
                            type: string
                            description: The resource type of the group
                            const: Group
                          name:
                            type: string
                            description: The name of the group
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    assignee_type:
                      type: string
                      enum:
                      - User
                      - Team
                      - Guest
                      description: The assignee type of the role assignment
                    assignee_id:
                      type: integer
                      description: The assignee ID of the role assignment
                    assignee:
                      type: object
                      description: The assignee of the role assignment
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Team
                        properties:
                          id:
                            type: integer
                            description: The ID of the team
                          resource_type:
                            type: string
                            description: The resource type of the team
                            const: Team
                          name:
                            type: string
                            description: The name of the team
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      - type: object
                        title: Guest
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                    created_by_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - User
                      - MarketplaceInstallation
                      description: The created_by type of the role assignment
                    created_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The created_by ID of the role assignment
                    user_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the role assignment
                      deprecated: true
                    user:
                      type: object
                      title: User
                      description: The user of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    assignee_team_id:
                      type:
                      - integer
                      - 'null'
                      description: The assignee_team ID of the role assignment
                      deprecated: true
                    assignee_team:
                      type: object
                      title: Team
                      description: The assignee_team of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the team
                        resource_type:
                          type: string
                          description: The resource type of the team
                          const: Team
                        name:
                          type: string
                          description: The name of the team
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    guest_id:
                      type:
                      - integer
                      - 'null'
                      description: The guest ID of the role assignment
                      deprecated: true
                    guest:
                      type: object
                      title: Guest
                      description: The guest of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the guest
                        resource_type:
                          type: string
                          description: The resource type of the guest
                          const: Guest
                        name:
                          type: string
                          description: The name of the guest
                        email:
                          type:
                          - string
                          - 'null'
                          format: email
                          description: The email of the guest.
                        phone_number:
                          type:
                          - string
                          - 'null'
                          description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                            '
                      required:
                      - id
                      - resource_type
                      - name
                      - email
                      - phone_number
                      additionalProperties: false
                    issued_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the user who created the role assignment.
                      deprecated: true
                    type:
                      type: string
                      const: organization
                      deprecated: true
                    scope:
                      type: string
                      const: organization
                      deprecated: true
                    organization_id:
                      type: integer
                      description: The organization ID of the role assignment
                      deprecated: true
                    organization:
                      type: object
                      title: Organization
                      description: The organization of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the organization
                        resource_type:
                          type: string
                          description: The resource type of the organization
                          const: Organization
                        name:
                          type: string
                          description: The name of the organization
                        domain:
                          type: string
                          description: The domain of the organization.
                      required:
                      - id
                      - resource_type
                      - name
                      - domain
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - role_id
                  - notify
                  - applies_to_type
                  - applies_to_id
                  - applies_to
                  - assignee_type
                  - assignee_id
                  - assignee
                  - created_by_type
                  - created_by_id
                  - user_id
                  - assignee_team_id
                  - guest_id
                  - issued_by_id
                  - type
                  - scope
                  - organization_id
                  - organization
                  additionalProperties: false
                - type: object
                  title: Place Role Assignment
                  properties:
                    id:
                      type: integer
                      description: The ID of the role assignment
                    resource_type:
                      type: string
                      description: The resource type of the role assignment
                      const: RoleAssignment
                    created_at:
                      type: string
                      format: date-time
                      description: When the role assignment was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the role assignment was updated
                    role_id:
                      type: string
                      description: The role ID of the role assignment.
                    notify:
                      type: boolean
                      description: Whether an email should be sent to the user when this role assignment is created or updated.
                    applies_to_type:
                      type: string
                      const: Place
                    applies_to_id:
                      type: integer
                      description: The applies_to ID of the role assignment
                    applies_to:
                      type: object
                      description: The applies_to of the role assignment
                      oneOf:
                      - type: object
                        title: Organization
                        properties:
                          id:
                            type: integer
                            description: The ID of the organization
                          resource_type:
                            type: string
                            description: The resource type of the organization
                            const: Organization
                          name:
                            type: string
                            description: The name of the organization
                          domain:
                            type: string
                            description: The domain of the organization.
                        required:
                        - id
                        - resource_type
                        - name
                        - domain
                        additionalProperties: false
                      - type: object
                        title: Place
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      - type: object
                        title: Group
                        properties:
                          id:
                            type: integer
                            description: The ID of the group
                          resource_type:
                            type: string
                            description: The resource type of the group
                            const: Group
                          name:
                            type: string
                            description: The name of the group
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    assignee_type:
                      type: string
                      enum:
                      - User
                      - Team
                      - Guest
                      description: The assignee type of the role assignment
                    assignee_id:
                      type: integer
                      description: The assignee ID of the role assignment
                    assignee:
                      type: object
                      description: The assignee of the role assignment
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Team
                        properties:
                          id:
                            type: integer
                            description: The ID of the team
                          resource_type:
                            type: string
                            description: The resource type of the team
                            const: Team
                          name:
                            type: string
                            description: The name of the team
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      - type: object
                        title: Guest
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                    created_by_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - User
                      - MarketplaceInstallation
                      description: The created_by type of the role assignment
                    created_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The created_by ID of the role assignment
                    user_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the role assignment
                      deprecated: true
                    user:
                      type: object
                      title: User
                      description: The user of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    assignee_team_id:
                      type:
                      - integer
                      - 'null'
                      description: The assignee_team ID of the role assignment
                      deprecated: true
                    assignee_team:
                      type: object
                      title: Team
                      description: The assignee_team of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the team
                        resource_type:
                          type: string
                          description: The resource type of the team
                          const: Team
                        name:
                          type: string
                          description: The name of the team
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    guest_id:
                      type:
                      - integer
                      - 'null'
                      description: The guest ID of the role assignment
                      deprecated: true
                    guest:
                      type: object
                      title: Guest
                      description: The guest of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the guest
                        resource_type:
                          type: string
                          description: The resource type of the guest
                          const: Guest
                        name:
                          type: string
                          description: The name of the guest
                        email:
                          type:
                          - string
                          - 'null'
                          format: email
                          description: The email of the guest.
                        phone_number:
                          type:
                          - string
                          - 'null'
                          description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                            '
                      required:
                      - id
                      - resource_type
                      - name
                      - email
                      - phone_number
                      additionalProperties: false
                    issued_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the user who created the role assignment.
                      deprecated: true
                    type:
                      type: string
                      const: place
                      deprecated: true
                    scope:
                      type: string
                      const: place
                      deprecated: true
                    place_id:
                      type: integer
                      description: The place ID of the role assignment
                      deprecated: true
                    place:
                      type: object
                      title: Place
                      description: The place of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - role_id
                  - notify
                  - applies_to_type
                  - applies_to_id
                  - applies_to
                  - assignee_type
                  - assignee_id
                  - assignee
                  - created_by_type
                  - created_by_id
                  - user_id
                  - assignee_team_id
                  - guest_id
                  - issued_by_id
                  - type
                  - scope
                  - place_id
                  - place
                  additionalProperties: false
                - type: object
                  title: Group Role Assignment
                  properties:
                    id:
                      type: integer
                      description: The ID of the role assignment
                    resource_type:
                      type: string
                      description: The resource type of the role assignment
                      const: RoleAssignment
                    created_at:
                      type: string
                      format: date-time
                      description: When the role assignment was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the role assignment was updated
                    role_id:
                      type: string
                      description: The role ID of the role assignment.
                    notify:
                      type: boolean
                      description: Whether an email should be sent to the user when this role assignment is created or updated.
                    applies_to_type:
                      type: string
                      const: Group
                    applies_to_id:
                      type: integer
                      description: The applies_to ID of the role assignment
                    applies_to:
                      type: object
                      description: The applies_to of the role assignment
                      oneOf:
                      - type: object
                        title: Organization
                        properties:
                          id:
                            type: integer
                            description: The ID of the organization
                          resource_type:
                            type: string
                            description: The resource type of the organization
                            const: Organization
                          name:
                            type: string
                            description: The name of the organization
                          domain:
                            type: string
                            description: The domain of the organization.
                        required:
                        - id
                        - resource_type
                        - name
                        - domain
                        additionalProperties: false
                      - type: object
                        title: Place
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      - type: object
                        title: Group
                        properties:
                          id:
                            type: integer
                            description: The ID of the group
                          resource_type:
                            type: string
                            description: The resource type of the group
                            const: Group
                          name:
                            type: string
                            description: The name of the group
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    assignee_type:
                      type: string
                      enum:
                      - User
                      - Team
                      - Guest
                      description: The assignee type of the role assignment
                    assignee_id:
                      type: integer
                      description: The assignee ID of the role assignment
                    assignee:
                      type: object
                      description: The assignee of the role assignment
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Team
                        properties:
                          id:
                            type: integer
                            description: The ID of the team
                          resource_type:
                            type: string
                            description: The resource type of the team
                            const: Team
                          name:
                            type: string
                            description: The name of the team
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      - type: object
                        title: Guest
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                    created_by_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - User
                      - MarketplaceInstallation
                      description: The created_by type of the role assignment
                    created_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The created_by ID of the role assignment
                    user_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the role assignment
                      deprecated: true
                    user:
                      type: object
                      title: User
                      description: The user of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    assignee_team_id:
                      type:
                      - integer
                      - 'null'
                      description: The assignee_team ID of the role assignment
                      deprecated: true
                    assignee_team:
                      type: object
                      title: Team
                      description: The assignee_team of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the team
                        resource_type:
                          type: string
                          description: The resource type of the team
                          const: Team
                        name:
                          type: string
                          description: The name of the team
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    guest_id:
                      type:
                      - integer
                      - 'null'
                      description: The guest ID of the role assignment
                      deprecated: true
                    guest:
                      type: object
                      title: Guest
                      description: The guest of the role assignment
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the guest
                        resource_type:
                          type: string
                          description: The resource type of the guest
                          const: Guest
                        name:
                          type: string
                          description: The name of the guest
                        email:
                          type:
                          - string
                          - 'null'
                          format: email
                          description: The email of the guest.
                        phone_number:
                          type:
                          - string
                          - 'null'
                          description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                            '
                      required:
                      - id
                      - resource_type
                      - name
[...]
