openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Elevator stops API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Elevator stops
paths:
  /elevator_stops:
    get:
      operationId: fetchElevatorStops
      summary: Fetch elevator stops
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: place_id
        in: query
        schema:
          type: integer
        required: true
        description: The ID of the place to scope by
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: elevator_id
        in: query
        schema:
          type: string
        description: Filter by elevator ID
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Filter by floor ID
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Elevator Stop
                  properties:
                    id:
                      type: integer
                      description: The ID of the elevator stop
                    resource_type:
                      type: string
                      description: The resource type of the elevator stop
                      const: ElevatorStop
                    created_at:
                      type: string
                      format: date-time
                      description: When the elevator stop was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the elevator stop was updated
                    name:
                      type: string
                      description: The name of the elevator stop
                    locked_down:
                      type: boolean
                      description: 'Whether the elevator stop is currently locked down. When locked down the elevator stop is locked for everyone

                        '
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the elevator stop has been locked down

                        '
                    on_scheduled_permit:
                      type: boolean
                      description: If the elevator stop is on a scheduled unlock
                    permitted:
                      type: boolean
                      description: Whether the elevator stop is currently permitted
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the elevator stop is time restricted. Time restriction enforces that users may only permit at specific hours

                        '
                    elevator_id:
                      type: integer
                      description: The elevator ID of the elevator stop
                    elevator:
                      type: object
                      title: Elevator
                      description: The elevator of the elevator stop
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator
                        resource_type:
                          type: string
                          description: The resource type of the elevator
                          const: Elevator
                        name:
                          type: string
                          description: The name of the elevator
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    floor_id:
                      type: integer
                      description: The floor ID of the elevator stop
                    floor:
                      type: object
                      title: Floor
                      description: The floor of the elevator stop
                      properties:
                        id:
                          type: integer
                          description: The ID of the floor
                        resource_type:
                          type: string
                          description: The resource type of the floor
                          const: Floor
                        name:
                          type: string
                          description: The name of the floor
                        number:
                          type: integer
                          description: The number of the floor
                      required:
                      - id
                      - resource_type
                      - name
                      - number
                      additionalProperties: false
                    place_id:
                      type: integer
                      description: The place ID of the elevator stop
                    place:
                      type: object
                      title: Place
                      description: The place of the elevator stop
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - name
                  - locked_down
                  - locked_down_since
                  - on_scheduled_permit
                  - permitted
                  - time_restriction_enabled
                  - elevator_id
                  - elevator
                  - floor_id
                  - floor
                  - place_id
                  - place
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createElevatorStop
      summary: Create elevator stop
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Elevator Stop
              properties:
                elevator_stop:
                  type: object
                  properties:
                    elevator_id:
                      type: integer
                      description: The elevator ID of the elevator stop
                    floor_id:
                      type: integer
                      description: The floor ID of the elevator stop
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the elevator stop is time restricted. Time restriction enforces that users may only permit at specific hours

                        '
                  required:
                  - elevator_id
                  - floor_id
              required:
              - elevator_stop
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Elevator Stop
                properties:
                  id:
                    type: integer
                    description: The ID of the elevator stop
                  resource_type:
                    type: string
                    description: The resource type of the elevator stop
                    const: ElevatorStop
                  created_at:
                    type: string
                    format: date-time
                    description: When the elevator stop was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the elevator stop was updated
                  name:
                    type: string
                    description: The name of the elevator stop
                  locked_down:
                    type: boolean
                    description: 'Whether the elevator stop is currently locked down. When locked down the elevator stop is locked for everyone

                      '
                  locked_down_since:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: 'Since when the elevator stop has been locked down

                      '
                  on_scheduled_permit:
                    type: boolean
                    description: If the elevator stop is on a scheduled unlock
                  permitted:
                    type: boolean
                    description: Whether the elevator stop is currently permitted
                  time_restriction_enabled:
                    type:
                    - boolean
                    - 'null'
                    description: 'Whether the elevator stop is time restricted. Time restriction enforces that users may only permit at specific hours

                      '
                  elevator_id:
                    type: integer
                    description: The elevator ID of the elevator stop
                  elevator:
                    type: object
                    title: Elevator
                    description: The elevator of the elevator stop
                    properties:
                      id:
                        type: integer
                        description: The ID of the elevator
                      resource_type:
                        type: string
                        description: The resource type of the elevator
                        const: Elevator
                      name:
                        type: string
                        description: The name of the elevator
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  floor_id:
                    type: integer
                    description: The floor ID of the elevator stop
                  floor:
                    type: object
                    title: Floor
                    description: The floor of the elevator stop
                    properties:
                      id:
                        type: integer
                        description: The ID of the floor
                      resource_type:
                        type: string
                        description: The resource type of the floor
                        const: Floor
                      name:
                        type: string
                        description: The name of the floor
                      number:
                        type: integer
                        description: The number of the floor
                    required:
                    - id
                    - resource_type
                    - name
                    - number
                    additionalProperties: false
                  place_id:
                    type: integer
                    description: The place ID of the elevator stop
                  place:
                    type: object
                    title: Place
                    description: The place of the elevator stop
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - name
                - locked_down
                - locked_down_since
                - on_scheduled_permit
                - permitted
                - time_restriction_enabled
                - elevator_id
                - elevator
                - floor_id
                - floor
                - place_id
                - place
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /elevator_stops/{id}:
    get:
      operationId: fetchElevatorStop
      summary: Fetch elevator stop
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Elevator Stop
                properties:
                  id:
                    type: integer
                    description: The ID of the elevator stop
                  resource_type:
                    type: string
                    description: The resource type of the elevator stop
                    const: ElevatorStop
                  created_at:
                    type: string
                    format: date-time
                    description: When the elevator stop was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the elevator stop was updated
                  name:
                    type: string
                    description: The name of the elevator stop
                  locked_down:
                    type: boolean
                    description: 'Whether the elevator stop is currently locked down. When locked down the elevator stop is locked for everyone

                      '
                  locked_down_since:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: 'Since when the elevator stop has been locked down

                      '
                  on_scheduled_permit:
                    type: boolean
                    description: If the elevator stop is on a scheduled unlock
                  permitted:
                    type: boolean
                    description: Whether the elevator stop is currently permitted
                  time_restriction_enabled:
                    type:
                    - boolean
                    - 'null'
                    description: 'Whether the elevator stop is time restricted. Time restriction enforces that users may only permit at specific hours

                      '
                  elevator_id:
                    type: integer
                    description: The elevator ID of the elevator stop
                  elevator:
                    type: object
                    title: Elevator
                    description: The elevator of the elevator stop
                    properties:
                      id:
                        type: integer
                        description: The ID of the elevator
                      resource_type:
                        type: string
                        description: The resource type of the elevator
                        const: Elevator
                      name:
                        type: string
                        description: The name of the elevator
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  floor_id:
                    type: integer
                    description: The floor ID of the elevator stop
                  floor:
                    type: object
                    title: Floor
                    description: The floor of the elevator stop
                    properties:
                      id:
                        type: integer
                        description: The ID of the floor
                      resource_type:
                        type: string
                        description: The resource type of the floor
                        const: Floor
                      name:
                        type: string
                        description: The name of the floor
                      number:
                        type: integer
                        description: The number of the floor
                    required:
                    - id
                    - resource_type
                    - name
                    - number
                    additionalProperties: false
                  place_id:
                    type: integer
                    description: The place ID of the elevator stop
                  place:
                    type: object
                    title: Place
                    description: The place of the elevator stop
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - name
                - locked_down
                - locked_down_since
                - on_scheduled_permit
                - permitted
                - time_restriction_enabled
                - elevator_id
                - elevator
                - floor_id
                - floor
                - place_id
                - place
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateElevatorStop
      summary: Update elevator stop
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Elevator Stop
              properties:
                elevator_stop:
                  type: object
                  properties:
                    elevator_id:
                      type: integer
                      description: The elevator ID of the elevator stop
                    floor_id:
                      type: integer
                      description: The floor ID of the elevator stop
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the elevator stop is time restricted. Time restriction enforces that users may only permit at specific hours

                        '
                  required: []
              required:
              - elevator_stop
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteElevatorStop
      summary: Delete elevator stop
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elevator_stops/{id}/lock_down:
    post:
      operationId: lockDownElevatorStop
      summary: Lock down elevator stop
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /elevator_stops/{id}/cancel_lockdown:
    post:
      operationId: cancelElevatorStopLockdown
      summary: Cancel lockdown of elevator stop
      tags:
      - Elevator stops
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
