openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Logins API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Logins
paths:
  /logins:
    get:
      operationId: fetchLogins
      summary: Fetch logins
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: user_id
        in: query
        schema:
          type:
          - integer
          - string
        description: Filter by user ID or by current user if value is `me`. If not used, it will default to `me`.
      - name: scope
        in: query
        schema:
          type: string
          enum:
          - me
          - all
          default: me
        deprecated: true
        description: 'Filter by the scope of the record. Deprecated, use `user_id=me` to scope the logins to the current user.

          '
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Login
                  properties:
                    id:
                      type: integer
                      description: The ID of the login
                    created_at:
                      type: string
                      format: date-time
                      description: When the login was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the login was updated
                    type:
                      type: string
                      description: The type of the login.
                      enum:
                      - api
                      - device
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name for the login.
                    primary:
                      type: boolean
                      description: Whether the login is the primary login.
                    expire:
                      type: boolean
                      default: true
                      description: Whether the login expires.
                    last_used_at:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the login was last used.
                    device_brand:
                      type:
                      - string
                      - 'null'
                      description: The brand of the device.
                    device_model:
                      type:
                      - string
                      - 'null'
                      description: The model of the device.
                    os_name:
                      type:
                      - string
                      - 'null'
                      description: The name of the OS.
                    user_id:
                      type: integer
                      description: The user ID of the login
                    user:
                      type: object
                      title: User
                      description: The user of the login
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    app:
                      type: object
                      properties:
                        name:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        version:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                    user_agent:
                      type: object
                      properties:
                        name:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        version:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                    device:
                      type: object
                      properties:
                        brand:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        model:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                    os:
                      type: object
                      properties:
                        name:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        version:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                  required:
                  - id
                  - created_at
                  - updated_at
                  - type
                  - name
                  - primary
                  - expire
                  - last_used_at
                  - device_brand
                  - device_model
                  - os_name
                  - user_id
                  - user
                  - app
                  - user_agent
                  - device
                  - os
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createLogin
      summary: Create login
      description: 'Organization members will be able to access this endpoint only if their organization has sso flow disabled.

        Organization owner can create API key (login) regardless of the enabled flow (SSO flow | password flow).

        There is a limit on the number of device and API logins a user can have. We allow a user to have up

        to 40 device logins and 10 API logins.

        When the device logins limit exceeded, the least recent used logins will be removed and if they were not used,

        we will use the creation time.

        When the API logins limit exceeded, the endpoint will return an error message on a new creation attempt.'
      tags:
      - Logins
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Login
              properties:
                login:
                  type: object
                  description: Information about the login being created.
                  properties:
                    type:
                      type: string
                      description: The type of the login.
                      enum:
                      - api
                      - device
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name for the login.
                    device_brand:
                      type:
                      - string
                      - 'null'
                      description: The brand of the device.
                    device_model:
                      type:
                      - string
                      - 'null'
                      description: The model of the device.
                    device_uid:
                      type:
                      - string
                      - 'null'
                      description: The uid of the device. This field is experimental and may change.
                    os_name:
                      type:
                      - string
                      - 'null'
                      description: The name of the OS.
                    push_token:
                      type: string
                      description: The push token of the login.
                    ios_voip_push_token:
                      type: string
                      description: Voice over IP push token for iOS devices..
                    email:
                      type: string
                      format: email
                      description: 'The email of the user to create the login for.

                        We do not allow creating API logins on behalf of other users.

                        Only logins with `type` set to `device` can be created on behalf of other users.

                        '
                    expire:
                      type: boolean
                      default: true
                      description: Whether the login expires.
                user:
                  type: object
                  description: Authentication information about the user making the request to create a login.
                  properties:
                    domain:
                      type: string
                      description: The domain of the organization of the user. Required when signing in with password.
                    email:
                      type: string
                      description: The email of the user. Required when signing in with password.
                    password:
                      type: string
                      description: The password of the user. Required when signing in with password.
                    authentication_info:
                      type: string
                      description: An authentication info token. Can be used as a substitute for domain, email and password.
                    otp_attempt:
                      type: string
                      description: A one time password. Required when two factor authentication is turned on.
              required:
              - login
              - user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Login
                properties:
                  id:
                    type: integer
                    description: The ID of the login
                  created_at:
                    type: string
                    format: date-time
                    description: When the login was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the login was updated
                  type:
                    type: string
                    description: The type of the login.
                    enum:
                    - api
                    - device
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name for the login.
                  primary:
                    type: boolean
                    description: Whether the login is the primary login.
                  expire:
                    type: boolean
                    default: true
                    description: Whether the login expires.
                  last_used_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the login was last used.
                  device_brand:
                    type:
                    - string
                    - 'null'
                    description: The brand of the device.
                  device_model:
                    type:
                    - string
                    - 'null'
                    description: The model of the device.
                  os_name:
                    type:
                    - string
                    - 'null'
                    description: The name of the OS.
                  user_id:
                    type: integer
                    description: The user ID of the login
                  user:
                    type: object
                    title: User
                    description: The user of the login
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                  app:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  user_agent:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  device:
                    type: object
                    properties:
                      brand:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      model:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  os:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  scram_credentials:
                    type:
                    - object
                    - 'null'
                    properties:
                      phone_key:
                        type: string
                        format: hex
                      online_certificate:
                        type: string
                        format: hex
                  secret:
                    type: string
                    description: 'The secret value used for authentication.

                      Returned when creating API logins;

                      Returned for device logins when resolving and creating logins.

                      '
                  authentication_token:
                    type: string
                    deprecated: true
                    description: Alias for secret
                  has_primary_device:
                    type: boolean
                    description: Whether the user has a primary device.
                  email:
                    type: string
                    format: email
                    description: The email of the user.
                  notifications_unread_count:
                    type: integer
                    minimum: 0
                    description: The count of unread notifications.
                  otp_required_for_login:
                    type: boolean
                    description: Whether OTP/2FA is required for login.
                  otp_enabled_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When was the OTP/2FA enabled.
                  image:
                    type:
                    - string
                    - 'null'
                    format: uri
                    description: The url to the image of the user.
                  primary_login_exists:
                    type: boolean
                    description: Whether the user has a primary login.
                required:
                - id
                - created_at
                - updated_at
                - type
                - name
                - primary
                - expire
                - last_used_at
                - device_brand
                - device_model
                - os_name
                - user_id
                - user
                - app
                - user_agent
                - device
                - os
                - scram_credentials
                - secret
                - authentication_token
                - has_primary_device
                - email
                - notifications_unread_count
                - otp_required_for_login
                - otp_enabled_at
                - image
                - primary_login_exists
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /logins/{id}:
    delete:
      operationId: deleteLogin
      summary: Delete login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /logins/{id}/promote:
    post:
      operationId: promoteLogin
      summary: Promote login
      description: Promote login to primary login. Demotes other primary logins.
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /logins/resolve:
    post:
      operationId: resolveLogin
      summary: Resolve provisional login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Login
              properties:
                login:
                  type: object
                  properties:
                    resolution_token:
                      type: string
                      description: The resolution token of the login.
                    device_uid:
                      type:
                      - string
                      - 'null'
                      description: The uid of the device. This field is experimental and may change.
                  required:
                  - resolution_token
              required:
              - login
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Login
                properties:
                  id:
                    type: integer
                    description: The ID of the login
                  created_at:
                    type: string
                    format: date-time
                    description: When the login was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the login was updated
                  type:
                    type: string
                    description: The type of the login.
                    enum:
                    - api
                    - device
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name for the login.
                  primary:
                    type: boolean
                    description: Whether the login is the primary login.
                  expire:
                    type: boolean
                    default: true
                    description: Whether the login expires.
                  last_used_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the login was last used.
                  device_brand:
                    type:
                    - string
                    - 'null'
                    description: The brand of the device.
                  device_model:
                    type:
                    - string
                    - 'null'
                    description: The model of the device.
                  os_name:
                    type:
                    - string
                    - 'null'
                    description: The name of the OS.
                  user_id:
                    type: integer
                    description: The user ID of the login
                  user:
                    type: object
                    title: User
                    description: The user of the login
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                  app:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  user_agent:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  device:
                    type: object
                    properties:
                      brand:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      model:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  os:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  scram_credentials:
                    type:
                    - object
                    - 'null'
                    properties:
                      phone_key:
                        type: string
                        format: hex
                      online_certificate:
                        type: string
                        format: hex
                  secret:
                    type: string
                    description: 'The secret value used for authentication.

                      Returned when creating API logins;

                      Returned for device logins when resolving and creating logins.

                      '
                required:
                - id
                - created_at
                - updated_at
                - type
                - name
                - primary
                - expire
                - last_used_at
                - device_brand
                - device_model
                - os_name
                - user_id
                - user
                - app
                - user_agent
                - device
                - os
                - scram_credentials
                - secret
                additionalProperties: false
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login:
    get:
      operationId: fetchCurrentLogin
      summary: Fetch current login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Login
                properties:
                  id:
                    type: integer
                    description: The ID of the login
                  created_at:
                    type: string
                    format: date-time
                    description: When the login was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the login was updated
                  type:
                    type: string
                    description: The type of the login.
                    enum:
                    - api
                    - device
                  name:
                    type:
                    - string
                    - 'null'
                    description: The name for the login.
                  primary:
                    type: boolean
                    description: Whether the login is the primary login.
                  expire:
                    type: boolean
                    default: true
                    description: Whether the login expires.
                  last_used_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the login was last used.
                  device_brand:
                    type:
                    - string
                    - 'null'
                    description: The brand of the device.
                  device_model:
                    type:
                    - string
                    - 'null'
                    description: The model of the device.
                  os_name:
                    type:
                    - string
                    - 'null'
                    description: The name of the OS.
                  user_id:
                    type: integer
                    description: The user ID of the login
                  user:
                    type: object
                    title: User
                    description: The user of the login
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                  app:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  user_agent:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  device:
                    type: object
                    properties:
                      brand:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      model:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  os:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                      version:
                        type:
                        - string
                        - 'null'
                        deprecated: true
                  scram_credentials:
                    type:
                    - object
                    - 'null'
                    properties:
                      phone_key:
                        type: string
                        format: hex
                      online_certificate:
                        type: string
                        format: hex
                required:
                - id
                - created_at
                - updated_at
                - type
                - name
                - primary
                - expire
                - last_used_at
                - device_brand
                - device_model
                - os_name
                - user_id
                - user
                - app
                - user_agent
                - device
                - os
                - scram_credentials
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: updateCurrentLogin
      summary: Update current login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Login
              properties:
                login:
                  type: object
                  properties:
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name for the login.
                    push_token:
                      type: string
                      description: The push token used to send push messages to the device the login was created for.
                    ios_voip_push_token:
                      type: string
                      description: Voice over IP push token for iOS devices..
                  required: []
              required:
              - login
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteCurrentLogin
      summary: Delete current login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/elsewhere:
    delete:
      operationId: deleteAllExceptCurrentLogin
      summary: Delete any but the current login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /login/promote:
    post:
      operationId: promoteCurrentLogin
      summary: Promote current login to the primary login
      tags:
      - Logins
      security:
      - Kisi-Login: []
      - OAuth2: []
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
