openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Controller Wiegands API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Controller Wiegands
paths:
  /controller_wiegands:
    get:
      operationId: fetchControllerWiegands
      summary: Fetch controller wiegands
      tags:
      - Controller Wiegands
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: controller_id
        in: query
        schema:
          type: integer
        required: true
        description: Filter by controller ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Controller Wiegand
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand
                    channel:
                      type: number
                      description: The channel of the controller wiegand
                    name:
                      type: string
                      description: The name of the controller wiegand
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand was updated
                    controller_id:
                      type: integer
                      description: The controller ID of the controller wiegand
                    controller_wiegand_connection_id:
                      type:
                      - integer
                      - 'null'
                      description: The controller_wiegand_connection ID of the controller wiegand
                  required:
                  - id
                  - channel
                  - name
                  - created_at
                  - updated_at
                  - controller_id
                  - controller_wiegand_connection_id
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
