openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Controller Input Connections API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Controller Input Connections
paths:
  /controller_input_connections:
    get:
      operationId: fetchControllerInputConnections
      summary: Fetch controller input connections
      tags:
      - Controller Input Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: controller_id
        in: query
        schema:
          type: integer
        required: true
        description: Filter by controller ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Contact Sensor Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller input connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      controller_input:
                        type: object
                        title: Controller Input
                        description: The controller_input of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller input
                          channel:
                            type: number
                            description: The channel of the controller input
                          name:
                            type: string
                            description: The name of the controller input
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      lock_id:
                        type: integer
                        description: The lock ID of the controller input connection
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      type:
                        const: contact_sensor
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      duration:
                        type: number
                        format: float
                        minimum: 3.0
                        maximum: 600.0
                        description: The duration of the input
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_input_id
                    - controller_input
                    - lock_id
                    - lock
                    - type
                    - enabled
                    - duration
                    - end_of_line_type
                    - end_of_line_main_resistor
                    - end_of_line_second_resistor
                    additionalProperties: false
                  - type: object
                    title: Request To Exit Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller input connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      controller_input:
                        type: object
                        title: Controller Input
                        description: The controller_input of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller input
                          channel:
                            type: number
                            description: The channel of the controller input
                          name:
                            type: string
                            description: The name of the controller input
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      lock_id:
                        type: integer
                        description: The lock ID of the controller input connection
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      type:
                        const: request_to_exit
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the input
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      action:
                        type: string
                        description: The action of the input
                        enum:
                        - last_to_leave
                        - last_to_unlock
                        - unlock
                        - none
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_input_id
                    - controller_input
                    - lock_id
                    - lock
                    - type
                    - enabled
                    - duration
                    - end_of_line_type
                    - end_of_line_main_resistor
                    - end_of_line_second_resistor
                    - action
                    additionalProperties: false
                  - type: object
                    title: Third Party Alarm Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller input connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      controller_input:
                        type: object
                        title: Controller Input
                        description: The controller_input of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller input
                          channel:
                            type: number
                            description: The channel of the controller input
                          name:
                            type: string
                            description: The name of the controller input
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      zone_id:
                        type: integer
                        description: The zone ID of the controller input connection
                      zone:
                        type: object
                        title: Zone
                        description: The zone of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the zone
                          name:
                            type: string
                            description: The name of the zone
                        required:
                        - id
                        - name
                        additionalProperties: false
                      type:
                        const: third_party_alarm
                      action:
                        type: string
                        description: The action of the input
                        enum:
                        - away
                        - stay
                        - disarmed
                        - violated
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_input_id
                    - controller_input
                    - zone_id
                    - zone
                    - type
                    - action
                    additionalProperties: false
                  - type: object
                    title: Tamper Detection Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller input connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller input connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      controller_input:
                        type: object
                        title: Controller Input
                        description: The controller_input of the controller input connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller input
                          channel:
                            type: number
                            description: The channel of the controller input
                          name:
                            type: string
                            description: The name of the controller input
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      type:
                        const: tamper_detection
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_input_id
                    - controller_input
                    - type
                    - enabled
                    - end_of_line_type
                    - end_of_line_main_resistor
                    - end_of_line_second_resistor
                    additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createControllerInputConnection
      summary: Create a controller input connection
      tags:
      - Controller Input Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Contact Sensor Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      type:
                        const: contact_sensor
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      duration:
                        type: number
                        format: float
                        minimum: 3.0
                        maximum: 600.0
                        description: The duration of the input
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      lock_id:
                        type: integer
                        description: The lock ID of the controller input connection
                    required:
                    - controller_input_id
                    - type
                    - lock_id
                required:
                - controller_input_connection
              - type: object
                title: Request To Exit Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      type:
                        const: request_to_exit
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the input
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      lock_id:
                        type: integer
                        description: The lock ID of the controller input connection
                      action:
                        type: string
                        description: The action of the input
                        enum:
                        - last_to_leave
                        - last_to_unlock
                        - unlock
                        - none
                    required:
                    - controller_input_id
                    - type
                    - lock_id
                required:
                - controller_input_connection
              - type: object
                title: Third Party Alarm Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      type:
                        const: third_party_alarm
                      action:
                        type: string
                        description: The action of the input
                        enum:
                        - away
                        - stay
                        - disarmed
                        - violated
                      zone_id:
                        type: integer
                        description: The zone ID of the controller input connection
                    required:
                    - controller_input_id
                    - type
                    - action
                    - zone_id
                required:
                - controller_input_connection
              - type: object
                title: Tamper Detection Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      controller_input_id:
                        type: integer
                        description: The controller_input ID of the controller input connection
                      type:
                        const: tamper_detection
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                    required:
                    - controller_input_id
                    - type
                required:
                - controller_input_connection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Contact Sensor Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    lock_id:
                      type: integer
                      description: The lock ID of the controller input connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    type:
                      const: contact_sensor
                    enabled:
                      type: boolean
                      description: Whether the input is enabled
                    duration:
                      type: number
                      format: float
                      minimum: 3.0
                      maximum: 600.0
                      description: The duration of the input
                    end_of_line_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cut_detect
                      - short_detect
                      - cut_and_short_detect
                      - null
                      description: The end of line type of the input
                    end_of_line_main_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    end_of_line_second_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - lock_id
                  - lock
                  - type
                  - enabled
                  - duration
                  - end_of_line_type
                  - end_of_line_main_resistor
                  - end_of_line_second_resistor
                  additionalProperties: false
                - type: object
                  title: Request To Exit Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    lock_id:
                      type: integer
                      description: The lock ID of the controller input connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    type:
                      const: request_to_exit
                    enabled:
                      type: boolean
                      description: Whether the input is enabled
                    duration:
                      type: number
                      format: float
                      minimum: 0.5
                      maximum: 600.0
                      description: The duration of the input
                    end_of_line_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cut_detect
                      - short_detect
                      - cut_and_short_detect
                      - null
                      description: The end of line type of the input
                    end_of_line_main_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    end_of_line_second_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    action:
                      type: string
                      description: The action of the input
                      enum:
                      - last_to_leave
                      - last_to_unlock
                      - unlock
                      - none
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - lock_id
                  - lock
                  - type
                  - enabled
                  - duration
                  - end_of_line_type
                  - end_of_line_main_resistor
                  - end_of_line_second_resistor
                  - action
                  additionalProperties: false
                - type: object
                  title: Third Party Alarm Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the controller input connection
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                    type:
                      const: third_party_alarm
                    action:
                      type: string
                      description: The action of the input
                      enum:
                      - away
                      - stay
                      - disarmed
                      - violated
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - zone_id
                  - zone
                  - type
                  - action
                  additionalProperties: false
                - type: object
                  title: Tamper Detection Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: tamper_detection
                    enabled:
                      type: boolean
                      description: Whether the input is enabled
                    end_of_line_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cut_detect
                      - short_detect
                      - cut_and_short_detect
                      - null
                      description: The end of line type of the input
                    end_of_line_main_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    end_of_line_second_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - type
                  - enabled
                  - end_of_line_type
                  - end_of_line_main_resistor
                  - end_of_line_second_resistor
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /controller_input_connections/{id}:
    get:
      operationId: fetchControllerInputConnection
      summary: Fetch a controller input connection
      tags:
      - Controller Input Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Contact Sensor Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    lock_id:
                      type: integer
                      description: The lock ID of the controller input connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    type:
                      const: contact_sensor
                    enabled:
                      type: boolean
                      description: Whether the input is enabled
                    duration:
                      type: number
                      format: float
                      minimum: 3.0
                      maximum: 600.0
                      description: The duration of the input
                    end_of_line_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cut_detect
                      - short_detect
                      - cut_and_short_detect
                      - null
                      description: The end of line type of the input
                    end_of_line_main_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    end_of_line_second_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - lock_id
                  - lock
                  - type
                  - enabled
                  - duration
                  - end_of_line_type
                  - end_of_line_main_resistor
                  - end_of_line_second_resistor
                  additionalProperties: false
                - type: object
                  title: Request To Exit Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    lock_id:
                      type: integer
                      description: The lock ID of the controller input connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    type:
                      const: request_to_exit
                    enabled:
                      type: boolean
                      description: Whether the input is enabled
                    duration:
                      type: number
                      format: float
                      minimum: 0.5
                      maximum: 600.0
                      description: The duration of the input
                    end_of_line_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cut_detect
                      - short_detect
                      - cut_and_short_detect
                      - null
                      description: The end of line type of the input
                    end_of_line_main_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    end_of_line_second_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    action:
                      type: string
                      description: The action of the input
                      enum:
                      - last_to_leave
                      - last_to_unlock
                      - unlock
                      - none
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - lock_id
                  - lock
                  - type
                  - enabled
                  - duration
                  - end_of_line_type
                  - end_of_line_main_resistor
                  - end_of_line_second_resistor
                  - action
                  additionalProperties: false
                - type: object
                  title: Third Party Alarm Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the controller input connection
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                    type:
                      const: third_party_alarm
                    action:
                      type: string
                      description: The action of the input
                      enum:
                      - away
                      - stay
                      - disarmed
                      - violated
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - zone_id
                  - zone
                  - type
                  - action
                  additionalProperties: false
                - type: object
                  title: Tamper Detection Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller input connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller input connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller input connection
                    controller_input_id:
                      type: integer
                      description: The controller_input ID of the controller input connection
                    controller_input:
                      type: object
                      title: Controller Input
                      description: The controller_input of the controller input connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller input
                        channel:
                          type: number
                          description: The channel of the controller input
                        name:
                          type: string
                          description: The name of the controller input
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: tamper_detection
                    enabled:
                      type: boolean
                      description: Whether the input is enabled
                    end_of_line_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - cut_detect
                      - short_detect
                      - cut_and_short_detect
                      - null
                      description: The end of line type of the input
                    end_of_line_main_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                    end_of_line_second_resistor:
                      type:
                      - integer
                      - 'null'
                      minimum: 0
                      maximum: 100000
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_input_id
                  - controller_input
                  - type
                  - enabled
                  - end_of_line_type
                  - end_of_line_main_resistor
                  - end_of_line_second_resistor
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateControllerInputConnection
      summary: Update a controller input connection
      tags:
      - Controller Input Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Contact Sensor Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      duration:
                        type: number
                        format: float
                        minimum: 3.0
                        maximum: 600.0
                        description: The duration of the input
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                    required: []
                required:
                - controller_input_connection
              - type: object
                title: Request To Exit Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the input
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                      action:
                        type: string
                        description: The action of the input
                        enum:
                        - last_to_leave
                        - last_to_unlock
                        - unlock
                        - none
                    required: []
                required:
                - controller_input_connection
              - type: object
                title: Third Party Alarm Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      action:
                        type: string
                        description: The action of the input
                        enum:
                        - away
                        - stay
                        - disarmed
                        - violated
                    required: []
                required:
                - controller_input_connection
              - type: object
                title: Tamper Detection Connection
                properties:
                  controller_input_connection:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether the input is enabled
                      end_of_line_type:
                        type:
                        - string
                        - 'null'
                        enum:
                        - cut_detect
                        - short_detect
                        - cut_and_short_detect
                        - null
                        description: The end of line type of the input
                      end_of_line_main_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      end_of_line_second_resistor:
                        type:
                        - integer
                        - 'null'
                        minimum: 0
                        maximum: 100000
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller input connection
                    required: []
                required:
                - controller_input_connection
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      operationId: deleteControllerInputConnection
      summary: Delete a controller input connection
      tags:
      - Controller Input Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
