openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Roles API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Roles
paths:
  /roles:
    get:
      operationId: fetchRoles
      summary: Fetch roles
      tags:
      - Roles
      security:
      - Kisi-Login: []
      - OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Role
                  properties:
                    id:
                      type: string
                    resource_type:
                      type: string
                      description: The resource type of the role
                      const: Role
                    applies_to:
                      type: string
                      enum:
                      - Organization
                      - Place
                      - Group
                    name:
                      type: string
                    description:
                      type:
                      - string
                      - 'null'
                    custom:
                      type: boolean
                    permissions:
                      type: object
                      properties:
                        access_keys_read:
                          type: boolean
                        access_keys_write:
                          type: boolean
                        amenities_read:
                          type: boolean
                        amenities_write:
                          type: boolean
                        analytics_read:
                          type: boolean
                        apple_passes_read:
                          type: boolean
                        apple_passes_write:
                          type: boolean
                        bookings_read:
                          type: boolean
                        bookings_write:
                          type: boolean
                        camera_snapshot_sets_read:
                          type: boolean
                        camera_snapshots_read:
                          type: boolean
                        camera_snapshots_write:
                          type: boolean
                        cameras_read:
                          type: boolean
                        cameras_write:
                          type: boolean
                        capacities_read:
                          type: boolean
                        capacities_write:
                          type: boolean
                        card_assignments_read:
                          type: boolean
                        card_assignments_write:
                          type: boolean
                        cards_activate:
                          type: boolean
                        cards_read:
                          type: boolean
                        cards_write:
                          type: boolean
                        communication_policies_read:
                          type: boolean
                        communication_policies_write:
                          type: boolean
                        csv_card_import_read:
                          type: boolean
                        csv_card_import_write:
                          type: boolean
                        csv_user_import_read:
                          type: boolean
                        csv_user_import_write:
                          type: boolean
                        custom_roles_read:
                          type: boolean
                        custom_roles_write:
                          type: boolean
                        dashboards_read:
                          type: boolean
                        elevator_stops_permit:
                          type: boolean
                        elevator_stops_read:
                          type: boolean
                        elevator_stops_write:
                          type: boolean
                        elevators_read:
                          type: boolean
                        elevators_write:
                          type: boolean
                        event_retention_policies_read:
                          type: boolean
                        event_retention_policies_write:
                          type: boolean
                        events_read:
                          type: boolean
                        floors_read:
                          type: boolean
                        floors_write:
                          type: boolean
                        group_elevator_stops_read:
                          type: boolean
                        group_elevator_stops_write:
                          type: boolean
                        group_links_read:
                          type: boolean
                        group_links_write:
                          type: boolean
                        group_locks_read:
                          type: boolean
                        group_locks_write:
                          type: boolean
                        group_terminals_read:
                          type: boolean
                        group_terminals_write:
                          type: boolean
                        group_zones_read:
                          type: boolean
                        group_zones_write:
                          type: boolean
                        groups_read:
                          type: boolean
                        groups_write:
                          type: boolean
                        guests_read:
                          type: boolean
                        guests_write:
                          type: boolean
                        hardware_read:
                          type: boolean
                        hardware_write:
                          type: boolean
                        third_party_hf_uid_read_configurations_read:
                          type: boolean
                        third_party_hf_uid_read_configurations_write:
                          type: boolean
                        incident_occurrences_read:
                          type: boolean
                        incident_policies_read:
                          type: boolean
                        incident_policies_write:
                          type: boolean
                        incidents_read:
                          type: boolean
                        incidents_write:
                          type: boolean
                        integrations_read:
                          type: boolean
                        integrations_write:
                          type: boolean
                        intercom_assignment_read:
                          type: boolean
                        intercom_assignment_write:
                          type: boolean
                        intercom_completed_call_stream_read:
                          type: boolean
                        invites_write:
                          type: boolean
                        kiosk_shortcuts_read:
                          type: boolean
                        kiosk_shortcuts_write:
                          type: boolean
                        locks_read:
                          type: boolean
                        locks_unlock:
                          type: boolean
                        locks_write:
                          type: boolean
                        logins_read:
                          type: boolean
                        logins_write:
                          type: boolean
                        managed_devices_read:
                          type: boolean
                        managed_devices_write:
                          type: boolean
                        marketplace_app_shares_read:
                          type: boolean
                        marketplace_app_shares_write:
                          type: boolean
                        marketplace_installations_read:
                          type: boolean
                        marketplace_installations_write:
                          type: boolean
                        marketplace_shortcuts_read:
                          type: boolean
                        marketplace_shortcuts_write:
                          type: boolean
                        mobile_cache_policies_read:
                          type: boolean
                        mobile_cache_policies_write:
                          type: boolean
                        place_dashboard_read:
                          type: boolean
                        places_read:
                          type: boolean
                        places_write:
                          type: boolean
                        reports_read:
                          type: boolean
                        reports_write:
                          type: boolean
                        role_assignments_read:
                          type: boolean
                        role_assignments_write:
                          type: boolean
                        scanned_card_read:
                          type: boolean
                        scanned_card_write:
                          type: boolean
                        scheduled_report_read:
                          type: boolean
                        scheduled_report_write:
                          type: boolean
                        schedules_read:
                          type: boolean
                        schedules_write:
                          type: boolean
                        shares_read:
                          type: boolean
                        shares_write:
                          type: boolean
                        subscriptions_read:
                          type: boolean
                        team_memberships_read:
                          type: boolean
                        team_memberships_write:
                          type: boolean
                        teams_read:
                          type: boolean
                        teams_write:
                          type: boolean
                        terminals_read:
                          type: boolean
                        terminals_trigger:
                          type: boolean
                        terminals_write:
                          type: boolean
                        users_read:
                          type: boolean
                        users_write:
                          type: boolean
                        visualization_page_reporters_read:
                          type: boolean
                        visualization_page_reporters_write:
                          type: boolean
                        visualization_page_shares_read:
                          type: boolean
                        visualization_page_shares_write:
                          type: boolean
                        zones_override:
                          type: boolean
                        zones_read:
                          type: boolean
                        zones_reset:
                          type: boolean
                        zones_write:
                          type: boolean
                    custom_role_id:
                      type:
                      - integer
                      - 'null'
                      description: The custom_role ID of the role
                  required:
                  - id
                  - resource_type
                  - applies_to
                  - name
                  - description
                  - custom
                  - permissions
                  - custom_role_id
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /roles/{id}:
    get:
      operationId: fetchRole
      summary: Fetch role
      tags:
      - Roles
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: string
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Role
                properties:
                  id:
                    type: string
                  resource_type:
                    type: string
                    description: The resource type of the role
                    const: Role
                  applies_to:
                    type: string
                    enum:
                    - Organization
                    - Place
                    - Group
                  name:
                    type: string
                  description:
                    type:
                    - string
                    - 'null'
                  custom:
                    type: boolean
                  permissions:
                    type: object
                    properties:
                      access_keys_read:
                        type: boolean
                      access_keys_write:
                        type: boolean
                      amenities_read:
                        type: boolean
                      amenities_write:
                        type: boolean
                      analytics_read:
                        type: boolean
                      apple_passes_read:
                        type: boolean
                      apple_passes_write:
                        type: boolean
                      bookings_read:
                        type: boolean
                      bookings_write:
                        type: boolean
                      camera_snapshot_sets_read:
                        type: boolean
                      camera_snapshots_read:
                        type: boolean
                      camera_snapshots_write:
                        type: boolean
                      cameras_read:
                        type: boolean
                      cameras_write:
                        type: boolean
                      capacities_read:
                        type: boolean
                      capacities_write:
                        type: boolean
                      card_assignments_read:
                        type: boolean
                      card_assignments_write:
                        type: boolean
                      cards_activate:
                        type: boolean
                      cards_read:
                        type: boolean
                      cards_write:
                        type: boolean
                      communication_policies_read:
                        type: boolean
                      communication_policies_write:
                        type: boolean
                      csv_card_import_read:
                        type: boolean
                      csv_card_import_write:
                        type: boolean
                      csv_user_import_read:
                        type: boolean
                      csv_user_import_write:
                        type: boolean
                      custom_roles_read:
                        type: boolean
                      custom_roles_write:
                        type: boolean
                      dashboards_read:
                        type: boolean
                      elevator_stops_permit:
                        type: boolean
                      elevator_stops_read:
                        type: boolean
                      elevator_stops_write:
                        type: boolean
                      elevators_read:
                        type: boolean
                      elevators_write:
                        type: boolean
                      event_retention_policies_read:
                        type: boolean
                      event_retention_policies_write:
                        type: boolean
                      events_read:
                        type: boolean
                      floors_read:
                        type: boolean
                      floors_write:
                        type: boolean
                      group_elevator_stops_read:
                        type: boolean
                      group_elevator_stops_write:
                        type: boolean
                      group_links_read:
                        type: boolean
                      group_links_write:
                        type: boolean
                      group_locks_read:
                        type: boolean
                      group_locks_write:
                        type: boolean
                      group_terminals_read:
                        type: boolean
                      group_terminals_write:
                        type: boolean
                      group_zones_read:
                        type: boolean
                      group_zones_write:
                        type: boolean
                      groups_read:
                        type: boolean
                      groups_write:
                        type: boolean
                      guests_read:
                        type: boolean
                      guests_write:
                        type: boolean
                      hardware_read:
                        type: boolean
                      hardware_write:
                        type: boolean
                      third_party_hf_uid_read_configurations_read:
                        type: boolean
                      third_party_hf_uid_read_configurations_write:
                        type: boolean
                      incident_occurrences_read:
                        type: boolean
                      incident_policies_read:
                        type: boolean
                      incident_policies_write:
                        type: boolean
                      incidents_read:
                        type: boolean
                      incidents_write:
                        type: boolean
                      integrations_read:
                        type: boolean
                      integrations_write:
                        type: boolean
                      intercom_assignment_read:
                        type: boolean
                      intercom_assignment_write:
                        type: boolean
                      intercom_completed_call_stream_read:
                        type: boolean
                      invites_write:
                        type: boolean
                      kiosk_shortcuts_read:
                        type: boolean
                      kiosk_shortcuts_write:
                        type: boolean
                      locks_read:
                        type: boolean
                      locks_unlock:
                        type: boolean
                      locks_write:
                        type: boolean
                      logins_read:
                        type: boolean
                      logins_write:
                        type: boolean
                      managed_devices_read:
                        type: boolean
                      managed_devices_write:
                        type: boolean
                      marketplace_app_shares_read:
                        type: boolean
                      marketplace_app_shares_write:
                        type: boolean
                      marketplace_installations_read:
                        type: boolean
                      marketplace_installations_write:
                        type: boolean
                      marketplace_shortcuts_read:
                        type: boolean
                      marketplace_shortcuts_write:
                        type: boolean
                      mobile_cache_policies_read:
                        type: boolean
                      mobile_cache_policies_write:
                        type: boolean
                      place_dashboard_read:
                        type: boolean
                      places_read:
                        type: boolean
                      places_write:
                        type: boolean
                      reports_read:
                        type: boolean
                      reports_write:
                        type: boolean
                      role_assignments_read:
                        type: boolean
                      role_assignments_write:
                        type: boolean
                      scanned_card_read:
                        type: boolean
                      scanned_card_write:
                        type: boolean
                      scheduled_report_read:
                        type: boolean
                      scheduled_report_write:
                        type: boolean
                      schedules_read:
                        type: boolean
                      schedules_write:
                        type: boolean
                      shares_read:
                        type: boolean
                      shares_write:
                        type: boolean
                      subscriptions_read:
                        type: boolean
                      team_memberships_read:
                        type: boolean
                      team_memberships_write:
                        type: boolean
                      teams_read:
                        type: boolean
                      teams_write:
                        type: boolean
                      terminals_read:
                        type: boolean
                      terminals_trigger:
                        type: boolean
                      terminals_write:
                        type: boolean
                      users_read:
                        type: boolean
                      users_write:
                        type: boolean
                      visualization_page_reporters_read:
                        type: boolean
                      visualization_page_reporters_write:
                        type: boolean
                      visualization_page_shares_read:
                        type: boolean
                      visualization_page_shares_write:
                        type: boolean
                      zones_override:
                        type: boolean
                      zones_read:
                        type: boolean
                      zones_reset:
                        type: boolean
                      zones_write:
                        type: boolean
                  custom_role_id:
                    type:
                    - integer
                    - 'null'
                    description: The custom_role ID of the role
                required:
                - id
                - resource_type
                - applies_to
                - name
                - description
                - custom
                - permissions
                - custom_role_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
