openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Holiday calendars API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Holiday Calendars
paths:
  /holiday_calendars/{region}/holidays:
    get:
      operationId: fetchHolidays
      summary: Fetch holidays
      tags:
      - Holiday Calendars
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: region
        in: path
        schema:
          type: string
        description: Specifies the region
        required: true
      - name: year
        in: query
        schema:
          type: string
        description: Specifies the year
        required: true
      - name: observed
        in: query
        schema:
          type: boolean
        description: Specifies the observance
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Holiday
                  properties:
                    date:
                      type: string
                      format: date
                      description: The date of the holiday
                    name:
                      type: string
                      description: The name of the holiday
                  required:
                  - date
                  - name
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /holiday_calendars/regions:
    get:
      operationId: fetchRegions
      summary: Fetch regions
      tags:
      - Holiday Calendars
      security:
      - Kisi-Login: []
      - OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                patternProperties:
                  ? ar|at|au|br|bg|ca|us|ch|cl|co|cr|cy|cz|dk|de|ee|es|fi|fr|gb|ge|gr|hr|hk|hu|ie|il|in|is|it|ke|kr|kz|li|lt|lv|ma|mc|mx|nl|lu|no|nz|pe|ph|pl|pt|ro|ru|se|tn|tr|ua|za|jp|vn|sg|my|th|ng
                  : type: object
                    title: Holiday Calendar Region
                    properties:
                      alpha2:
                        type: string
                        enum:
                        - AR
                        - AT
                        - AU
                        - BR
                        - BG
                        - CA
                        - US
                        - CH
                        - CL
                        - CO
                        - CR
                        - CY
                        - CZ
                        - DK
                        - DE
                        - EE
                        - ES
                        - FI
                        - FR
                        - GB
                        - GE
                        - GR
                        - HR
                        - HK
                        - HU
                        - IE
                        - IL
                        - IN
                        - IS
                        - IT
                        - KE
                        - KR
                        - KZ
                        - LI
                        - LT
                        - LV
                        - MA
                        - MC
                        - MX
                        - NL
                        - LU
                        - 'NO'
                        - NZ
                        - PE
                        - PH
                        - PL
                        - PT
                        - RO
                        - RU
                        - SE
                        - TN
                        - TR
                        - UA
                        - ZA
                        - JP
                        - VN
                        - SG
                        - MY
                        - TH
                        - NG
                        description: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
                      alpha3:
                        type: string
                        enum:
                        - ARG
                        - AUT
                        - AUS
                        - BRA
                        - BGR
                        - CAN
                        - USA
                        - CHE
                        - CHL
                        - COL
                        - CRI
                        - CYP
                        - CZE
                        - DNK
                        - DEU
                        - EST
                        - ESP
                        - FIN
                        - FRA
                        - GBR
                        - GEO
                        - GRC
                        - HRV
                        - HKG
                        - HUN
                        - IRL
                        - ISR
                        - IND
                        - ISL
                        - ITA
                        - KEN
                        - KOR
                        - KAZ
                        - LIE
                        - LTU
                        - LVA
                        - MAR
                        - MCO
                        - MEX
                        - NLD
                        - LUX
                        - NOR
                        - NZL
                        - PER
                        - PHL
                        - POL
                        - PRT
                        - ROU
                        - RUS
                        - SWE
                        - TUN
                        - TUR
                        - UKR
                        - ZAF
                        - JPN
                        - VNM
                        - SGP
                        - MYS
                        - THA
                        - NGA
                        description: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
                      name:
                        type: string
                        description: Name of the region, typically country
                      continent:
                        type: string
                        description: The continent of the region
                      country_code:
                        type: string
                        description: The country code of this region
                      world_region:
                        type: string
                        description: The world region encompassing this region
                      subregions:
                        type: object
                        patternProperties:
                          .+:
                            type: object
                            properties:
                              code:
                                type: string
                                description: The subregion code
                              name:
                                type: string
                                description: The subregion name
                            description: Different keys for different regions
                            required:
                            - code
                            - name
                    required:
                    - alpha2
                    - alpha3
                    - name
                    - continent
                    - country_code
                    - world_region
                    - subregions
                    additionalProperties: false
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
