openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Cameras API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Cameras
paths:
  /cameras:
    get:
      operationId: fetchCameras
      summary: Fetch cameras
      tags:
      - Cameras
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: place_id
        in: query
        schema:
          type: integer
        description: Filter by place ID
      - name: lock_id
        in: query
        schema:
          type: integer
        description: Filter by lock ID
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - -name
        description: 'Sort the results. Prepend `-` to sort in reverse order.


          `name` - sort by camera name, alphabetically

          `-name` sort by camera name in reverse order

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Rhombus Systems Camera
                    properties:
                      id:
                        type: integer
                        description: The ID of the camera
                      resource_type:
                        type: string
                        description: The resource type of the camera
                        const: Camera
                      name:
                        type: string
                        description: The name of the camera
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the camera
                      created_at:
                        type: string
                        format: date-time
                        description: When the camera was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the camera was updated
                      metadata:
                        type: object
                        description: 'The metadata for the camera.

                          - Only basic types are allowed: string, null, integer, float, boolean.

                          - Keys have a limit of 50 characters.

                          - Values have a limit of 500 characters.

                          - Keys number is limited to 50.

                          '
                      enabled:
                        type: boolean
                        description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                          '
                      clip_duration:
                        type: integer
                        minimum: 3
                        maximum: 60
                        description: Duration in seconds of the video clip to take.
                      number_of_snapshots:
                        type: integer
                        minimum: 1
                        maximum: 9
                        description: The number of snapshots to fetch.
                      remote_id:
                        type: string
                        description: The remote id of the camera.
                      snapshot_offset:
                        type: integer
                        minimum: -30
                        maximum: 30
                        description: Offset in seconds of the clock of the camera if it has a drift from the API.
                      supports_clips:
                        type: boolean
                        description: Whether the camera supports clips.
                      supports_images:
                        type: boolean
                        description: Whether the camera supports images.
                      supports_thumbnails:
                        type: boolean
                        description: Whether the camera supports thumbnails.
                      status:
                        type: string
                        enum:
                        - online
                        - offline
                        description: Whether the camera is online or offline.
                      status_changed_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: When the camera connectivity status last changed.
                      place_id:
                        type: integer
                        description: The place ID of the camera
                      lock_id:
                        type:
                        - integer
                        - 'null'
                        description: The lock ID of the camera
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the camera
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      type:
                        type: string
                        const: rhombus_systems
                        description: The type of the camera.
                      integration_id:
                        type: integer
                        description: The integration ID of the camera
                      integration:
                        type: object
                        title: Integration
                        description: The integration of the camera
                        properties:
                          id:
                            type: integer
                            description: The ID of the integration
                          resource_type:
                            type: string
                            description: The resource type of the integration
                            const: Integration
                          name:
                            type: string
                            description: The name of the integration
                          type:
                            type: string
                            enum:
                            - rhombus_systems_camera
                            description: The type of the integration.
                        required:
                        - id
                        - resource_type
                        - name
                        - type
                        additionalProperties: false
                    required:
                    - id
                    - resource_type
                    - name
                    - description
                    - created_at
                    - updated_at
                    - metadata
                    - enabled
                    - clip_duration
                    - number_of_snapshots
                    - remote_id
                    - snapshot_offset
                    - supports_clips
                    - supports_images
                    - supports_thumbnails
                    - status
                    - status_changed_at
                    - place_id
                    - lock_id
                    - type
                    - integration_id
                    - integration
                    additionalProperties: false
                  - type: object
                    title: Generic Camera
                    properties:
                      id:
                        type: integer
                        description: The ID of the camera
                      resource_type:
                        type: string
                        description: The resource type of the camera
                        const: Camera
                      name:
                        type: string
                        description: The name of the camera
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the camera
                      created_at:
                        type: string
                        format: date-time
                        description: When the camera was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the camera was updated
                      metadata:
                        type: object
                        description: 'The metadata for the camera.

                          - Only basic types are allowed: string, null, integer, float, boolean.

                          - Keys have a limit of 50 characters.

                          - Values have a limit of 500 characters.

                          - Keys number is limited to 50.

                          '
                      enabled:
                        type: boolean
                        description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                          '
                      clip_duration:
                        type: integer
                        minimum: 3
                        maximum: 60
                        description: Duration in seconds of the video clip to take.
                      number_of_snapshots:
                        type: integer
                        minimum: 1
                        maximum: 9
                        description: The number of snapshots to fetch.
                      remote_id:
                        type: string
                        description: The remote id of the camera.
                      snapshot_offset:
                        type: integer
                        minimum: -30
                        maximum: 30
                        description: Offset in seconds of the clock of the camera if it has a drift from the API.
                      supports_clips:
                        type: boolean
                        description: Whether the camera supports clips.
                      supports_images:
                        type: boolean
                        description: Whether the camera supports images.
                      supports_thumbnails:
                        type: boolean
                        description: Whether the camera supports thumbnails.
                      status:
                        type: string
                        enum:
                        - online
                        - offline
                        description: Whether the camera is online or offline.
                      status_changed_at:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: When the camera connectivity status last changed.
                      place_id:
                        type: integer
                        description: The place ID of the camera
                      lock_id:
                        type:
                        - integer
                        - 'null'
                        description: The lock ID of the camera
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the camera
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      type:
                        type: string
                        const: generic
                        description: The type of the camera.
                    required:
                    - id
                    - resource_type
                    - name
                    - description
                    - created_at
                    - updated_at
                    - metadata
                    - enabled
                    - clip_duration
                    - number_of_snapshots
                    - remote_id
                    - snapshot_offset
                    - supports_clips
                    - supports_images
                    - supports_thumbnails
                    - status
                    - status_changed_at
                    - place_id
                    - lock_id
                    - type
                    additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createCamera
      summary: Create camera
      tags:
      - Cameras
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Camera
              properties:
                camera:
                  type: object
                  properties:
                    clip_duration:
                      type: integer
                      minimum: 3
                      maximum: 60
                      description: Duration in seconds of the video clip to take.
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the camera
                    metadata:
                      type: object
                      description: 'The metadata for the camera.

                        - Only basic types are allowed: string, null, integer, float, boolean.

                        - Keys have a limit of 50 characters.

                        - Values have a limit of 500 characters.

                        - Keys number is limited to 50.

                        '
                    enabled:
                      type: boolean
                      description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                        '
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the camera
                    name:
                      type: string
                      description: The name of the camera
                    number_of_snapshots:
                      type: integer
                      minimum: 1
                      maximum: 9
                      description: The number of snapshots to fetch.
                    place_id:
                      type: integer
                      description: The place ID of the camera
                    remote_id:
                      type: string
                      description: The remote id of the camera.
                    snapshot_offset:
                      type: integer
                      minimum: -30
                      maximum: 30
                      description: Offset in seconds of the clock of the camera if it has a drift from the API.
                    supports_clips:
                      type: boolean
                      description: Whether the camera supports clips.
                    supports_images:
                      type: boolean
                      description: Whether the camera supports images.
                    supports_thumbnails:
                      type: boolean
                      description: Whether the camera supports thumbnails.
                  required:
                  - lock_id
                  - remote_id
              required:
              - camera
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Generic Camera
                properties:
                  id:
                    type: integer
                    description: The ID of the camera
                  resource_type:
                    type: string
                    description: The resource type of the camera
                    const: Camera
                  name:
                    type: string
                    description: The name of the camera
                  description:
                    type:
                    - string
                    - 'null'
                    description: The description of the camera
                  created_at:
                    type: string
                    format: date-time
                    description: When the camera was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the camera was updated
                  metadata:
                    type: object
                    description: 'The metadata for the camera.

                      - Only basic types are allowed: string, null, integer, float, boolean.

                      - Keys have a limit of 50 characters.

                      - Values have a limit of 500 characters.

                      - Keys number is limited to 50.

                      '
                  enabled:
                    type: boolean
                    description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                      '
                  clip_duration:
                    type: integer
                    minimum: 3
                    maximum: 60
                    description: Duration in seconds of the video clip to take.
                  number_of_snapshots:
                    type: integer
                    minimum: 1
                    maximum: 9
                    description: The number of snapshots to fetch.
                  remote_id:
                    type: string
                    description: The remote id of the camera.
                  snapshot_offset:
                    type: integer
                    minimum: -30
                    maximum: 30
                    description: Offset in seconds of the clock of the camera if it has a drift from the API.
                  supports_clips:
                    type: boolean
                    description: Whether the camera supports clips.
                  supports_images:
                    type: boolean
                    description: Whether the camera supports images.
                  supports_thumbnails:
                    type: boolean
                    description: Whether the camera supports thumbnails.
                  status:
                    type: string
                    enum:
                    - online
                    - offline
                    description: Whether the camera is online or offline.
                  status_changed_at:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the camera connectivity status last changed.
                  place_id:
                    type: integer
                    description: The place ID of the camera
                  lock_id:
                    type:
                    - integer
                    - 'null'
                    description: The lock ID of the camera
                  lock:
                    type: object
                    title: Lock
                    description: The lock of the camera
                    properties:
                      id:
                        type: integer
                        description: The ID of the lock
                      resource_type:
                        type: string
                        description: The resource type of the lock
                        const: Lock
                      name:
                        type: string
                        description: The name of the lock
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  type:
                    type: string
                    const: generic
                    description: The type of the camera.
                required:
                - id
                - resource_type
                - name
                - description
                - created_at
                - updated_at
                - metadata
                - enabled
                - clip_duration
                - number_of_snapshots
                - remote_id
                - snapshot_offset
                - supports_clips
                - supports_images
                - supports_thumbnails
                - status
                - status_changed_at
                - place_id
                - lock_id
                - type
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /cameras/{id}:
    get:
      operationId: fetchCamera
      summary: Fetch a camera
      tags:
      - Cameras
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Rhombus Systems Camera
                  properties:
                    id:
                      type: integer
                      description: The ID of the camera
                    resource_type:
                      type: string
                      description: The resource type of the camera
                      const: Camera
                    name:
                      type: string
                      description: The name of the camera
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the camera
                    created_at:
                      type: string
                      format: date-time
                      description: When the camera was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the camera was updated
                    metadata:
                      type: object
                      description: 'The metadata for the camera.

                        - Only basic types are allowed: string, null, integer, float, boolean.

                        - Keys have a limit of 50 characters.

                        - Values have a limit of 500 characters.

                        - Keys number is limited to 50.

                        '
                    enabled:
                      type: boolean
                      description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                        '
                    clip_duration:
                      type: integer
                      minimum: 3
                      maximum: 60
                      description: Duration in seconds of the video clip to take.
                    number_of_snapshots:
                      type: integer
                      minimum: 1
                      maximum: 9
                      description: The number of snapshots to fetch.
                    remote_id:
                      type: string
                      description: The remote id of the camera.
                    snapshot_offset:
                      type: integer
                      minimum: -30
                      maximum: 30
                      description: Offset in seconds of the clock of the camera if it has a drift from the API.
                    supports_clips:
                      type: boolean
                      description: Whether the camera supports clips.
                    supports_images:
                      type: boolean
                      description: Whether the camera supports images.
                    supports_thumbnails:
                      type: boolean
                      description: Whether the camera supports thumbnails.
                    status:
                      type: string
                      enum:
                      - online
                      - offline
                      description: Whether the camera is online or offline.
                    status_changed_at:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the camera connectivity status last changed.
                    place_id:
                      type: integer
                      description: The place ID of the camera
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the camera
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the camera
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    type:
                      type: string
                      const: rhombus_systems
                      description: The type of the camera.
                    integration_id:
                      type: integer
                      description: The integration ID of the camera
                    integration:
                      type: object
                      title: Integration
                      description: The integration of the camera
                      properties:
                        id:
                          type: integer
                          description: The ID of the integration
                        resource_type:
                          type: string
                          description: The resource type of the integration
                          const: Integration
                        name:
                          type: string
                          description: The name of the integration
                        type:
                          type: string
                          enum:
                          - rhombus_systems_camera
                          description: The type of the integration.
                      required:
                      - id
                      - resource_type
                      - name
                      - type
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - created_at
                  - updated_at
                  - metadata
                  - enabled
                  - clip_duration
                  - number_of_snapshots
                  - remote_id
                  - snapshot_offset
                  - supports_clips
                  - supports_images
                  - supports_thumbnails
                  - status
                  - status_changed_at
                  - place_id
                  - lock_id
                  - type
                  - integration_id
                  - integration
                  additionalProperties: false
                - type: object
                  title: Generic Camera
                  properties:
                    id:
                      type: integer
                      description: The ID of the camera
                    resource_type:
                      type: string
                      description: The resource type of the camera
                      const: Camera
                    name:
                      type: string
                      description: The name of the camera
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the camera
                    created_at:
                      type: string
                      format: date-time
                      description: When the camera was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the camera was updated
                    metadata:
                      type: object
                      description: 'The metadata for the camera.

                        - Only basic types are allowed: string, null, integer, float, boolean.

                        - Keys have a limit of 50 characters.

                        - Values have a limit of 500 characters.

                        - Keys number is limited to 50.

                        '
                    enabled:
                      type: boolean
                      description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                        '
                    clip_duration:
                      type: integer
                      minimum: 3
                      maximum: 60
                      description: Duration in seconds of the video clip to take.
                    number_of_snapshots:
                      type: integer
                      minimum: 1
                      maximum: 9
                      description: The number of snapshots to fetch.
                    remote_id:
                      type: string
                      description: The remote id of the camera.
                    snapshot_offset:
                      type: integer
                      minimum: -30
                      maximum: 30
                      description: Offset in seconds of the clock of the camera if it has a drift from the API.
                    supports_clips:
                      type: boolean
                      description: Whether the camera supports clips.
                    supports_images:
                      type: boolean
                      description: Whether the camera supports images.
                    supports_thumbnails:
                      type: boolean
                      description: Whether the camera supports thumbnails.
                    status:
                      type: string
                      enum:
                      - online
                      - offline
                      description: Whether the camera is online or offline.
                    status_changed_at:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the camera connectivity status last changed.
                    place_id:
                      type: integer
                      description: The place ID of the camera
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the camera
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the camera
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    type:
                      type: string
                      const: generic
                      description: The type of the camera.
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - created_at
                  - updated_at
                  - metadata
                  - enabled
                  - clip_duration
                  - number_of_snapshots
                  - remote_id
                  - snapshot_offset
                  - supports_clips
                  - supports_images
                  - supports_thumbnails
                  - status
                  - status_changed_at
                  - place_id
                  - lock_id
                  - type
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateCamera
      summary: Update a camera
      tags:
      - Cameras
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Camera
              properties:
                camera:
                  type: object
                  properties:
                    clip_duration:
                      type: integer
                      minimum: 3
                      maximum: 60
                      description: Duration in seconds of the video clip to take.
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the camera
                    metadata:
                      type: object
                      description: 'The metadata for the camera.

                        - Only basic types are allowed: string, null, integer, float, boolean.

                        - Keys have a limit of 50 characters.

                        - Values have a limit of 500 characters.

                        - Keys number is limited to 50.

                        '
                    enabled:
                      type: boolean
                      description: 'Whether the camera is enabled or not. Only enabled cameras takes snapshots.

                        '
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the camera
                    name:
                      type: string
                      description: The name of the camera
                    number_of_snapshots:
                      type: integer
                      minimum: 1
                      maximum: 9
                      description: The number of snapshots to fetch.
                    snapshot_offset:
                      type: integer
                      minimum: -30
                      maximum: 30
                      description: Offset in seconds of the clock of the camera if it has a drift from the API.
                    supports_clips:
                      type: boolean
                      description: Whether the camera supports clips.
                    supports_images:
                      type: boolean
                      description: Whether the camera supports images.
                    supports_thumbnails:
                      type: boolean
                      description: Whether the camera supports thumbnails.
                    status:
                      type: string
                      enum:
                      - online
                      - offline
                      description: Whether the camera is online or offline.
                  required: []
              required:
              - camera
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      operationId: deleteCamera
      summary: Delete a camera
      tags:
      - Cameras
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /cameras/{id}/video_link:
    get:
      operationId: fetchVideoLink
      summary: Fetch a camera video link
      tags:
      - Cameras
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      - name: timestamp
        in: query
        schema:
          type: string
          format: date-time
        description: The timestamp of when the stream should start.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: The video url.
                required: []
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
