openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Events API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Events
paths:
  /events/meta:
    get:
      operationId: fetchEventMetadata
      summary: Fetch Event Metadata
      tags:
      - Events
      security:
      - Kisi-Login: []
      - OAuth2: []
      deprecated: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  object_type_to_action:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                required:
                - object_type_to_action
                description: A mapping between object type and action values
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /events/types:
    get:
      operationId: fetchEventTypes
      summary: Fetch Event Types
      tags:
      - Events
      security:
      - Kisi-Login: []
      - OAuth2: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  description: An event type
                  enum:
                  - access_key.create
                  - access_key.destroy
                  - amenity.create
                  - amenity.destroy
                  - amenity.update
                  - apple_pass.destroy
                  - apple_pass_instance.destroy
                  - apple_pass_instance.resume
                  - apple_pass_instance.suspend
                  - beacon.update
                  - booking.cancel
                  - booking.create
                  - camera.create
                  - camera.destroy
                  - camera.import
                  - camera.rate_limited
                  - camera_snapshot_set.create
                  - camera.update
                  - card.activate_with_token
                  - card.activate
                  - card.assign
                  - card.create
                  - card.deactivate
                  - card.deassign
                  - card.destroy
                  - card.update
                  - communication_policy.update
                  - controller.assign
                  - controller.deassign
                  - controller_input.closed
                  - controller_input_connection.create
                  - controller_input_connection.destroy
                  - controller_input_connection.update
                  - controller_input.opened
                  - controller_input.tamper
                  - controller_input.triggered
                  - controller.reboot
                  - controller_relay_connection.create
                  - controller_relay_connection.destroy
                  - controller_relay_connection.update
                  - controller.tamper
                  - controller.update
                  - controller.wiegand_board_connect
                  - controller.wiegand_board_disconnect
                  - controller_wiegand_connection.create
                  - controller_wiegand_connection.destroy
                  - controller_wiegand_connection.excessive_pin_attempts
                  - controller_wiegand_connection.update
                  - csv_card_import.create
                  - csv_user_import.create
                  - custom_role.create
                  - custom_role.destroy
                  - custom_role.update
                  - elevator.create
                  - elevator.destroy
                  - elevator.permit
                  - elevator_stop.cancel_lockdown
                  - elevator_stop.create
                  - elevator_stop.destroy
                  - elevator_stop.lock_down
                  - elevator_stop.scheduled_permit_ended
                  - elevator_stop.scheduled_permit_started
                  - elevator_stop.update
                  - elevator.update
                  - event_retention_policy.create
                  - event_retention_policy.destroy
                  - event_retention_policy.update
                  - floor.create
                  - floor.destroy
                  - floor.update
                  - group.create
                  - group.destroy
                  - group_elevator_stop.create
                  - group_elevator_stop.destroy
                  - group_link.create
                  - group_link.destroy
                  - group_lock.create
                  - group_lock.destroy
                  - group_terminal.create
                  - group_terminal.destroy
                  - group.update
                  - group_zone.create
                  - group_zone.destroy
                  - guest.create
                  - guest.destroy
                  - incident.create
                  - incident_policy.create
                  - incident_policy.destroy
                  - incident_policy_subscription.create
                  - incident_policy_subscription.destroy
                  - incident_policy_subscription.update
                  - incident_policy.update
                  - incident.update
                  - integration.create
                  - integration.destroy
                  - integration.disable_due_to_error
                  - integration.update
                  - integration.warn_due_to_error
                  - intercom.answer_call
                  - intercom.assign
                  - intercom_assignment.create
                  - intercom_assignment.destroy
                  - intercom_completed_call.create
                  - intercom.deassign
                  - intercom.dismiss_call
                  - intercom.finish_call
                  - intercom.initiate_streaming
                  - intercom.miss_call
                  - intercom.timeout_call
                  - intercom.trigger_call
                  - intercom.update
                  - invite.create
                  - kiosk.assign
                  - kiosk.deassign
                  - kiosk_shortcut.create
                  - kiosk_shortcut.destroy
                  - kiosk.update
                  - lock.cancel_lockdown
                  - lock.closed
                  - lock.create
                  - lock.destroy
                  - lock.first_to_arrive
                  - lock.forced_open
                  - lock.held_open
                  - lock.last_to_leave
                  - lock.lock_down
                  - lock.locked
                  - lock.opened
                  - lock.scheduled_unlock_ended
                  - lock.scheduled_unlock_started
                  - lock.tailgate
                  - lock.unlock
                  - lock.update
                  - login.create
                  - login.destroy
                  - login.promote
                  - login.resolve
                  - marketplace_app_share.create
                  - marketplace_app_share.destroy
                  - marketplace_installation.create
                  - marketplace_installation.destroy
                  - marketplace_installation.request_uninstall
                  - marketplace_installation.update
                  - marketplace_shortcut.create
                  - marketplace_shortcut.destroy
                  - marketplace_shortcut.update
                  - member.create
                  - member.destroy
                  - member.update
                  - third_party_hf_uid_read_configuration.create
                  - third_party_hf_uid_read_configuration.destroy
                  - mifare_classic_data_block_configuration.create
                  - mifare_classic_data_block_configuration.destroy
                  - mifare_desfire_extra_application_configuration.create
                  - mifare_desfire_master_key_configuration.create
                  - mobile_cache_policy.update
                  - mobile_cache_policy.invalidate
                  - organization.accept_transfer
                  - organization.cancel_transfer
                  - organization.create
                  - organization.generate_next_certificate
                  - organization.reject_transfer
                  - organization.request_transfer
                  - organization.reset_scim_token
                  - organization.rotate_certificate
                  - organization.update
                  - place.cancel_lockdown
                  - place_card.create
                  - place_card.destroy
                  - place.create
                  - place.destroy
                  - place.lock_down
                  - place.occupancy_rate_limit_reach
                  - place.update
                  - reader.access
                  - reader.assign
                  - reader.deassign
                  - reader.reboot
                  - reader.reset_tamper
                  - reader.tamper
                  - reader.update
                  - report.create
                  - report.destroy
                  - report.download
                  - report.finish
                  - role_assignment.create
                  - role_assignment.destroy
                  - role_assignment.update
                  - schedule.create
                  - schedule.destroy
                  - schedule.update
                  - scheduled_report.create
                  - scheduled_report.destroy
                  - scheduled_report.update
                  - share.create
                  - share.destroy
                  - share.update
                  - subscription.update
                  - team.create
                  - team.destroy
                  - team_membership.create
                  - team_membership.destroy
                  - team.update
                  - terminal.create
                  - terminal.destroy
                  - terminal.trigger
                  - terminal.update
                  - user.activate_2fa
                  - user.create_backup_codes
                  - user.create_password
                  - user.create
                  - user.deactivate_2fa
                  - user.destroy
                  - user.show_confirmation
                  - user.update_password
                  - user.update
                  - visualization_page_reporter.create
                  - visualization_page_reporter.destroy
                  - visualization_page_share.create
                  - visualization_page_share.destroy
                  - wireless_lock.battery_warning
                  - wireless_lock.closed
                  - wireless_lock_connection.create
                  - wireless_lock_connection.destroy
                  - wireless_lock_connection.update
                  - wireless_lock.disenroll
                  - wireless_lock.locked
                  - wireless_lock.opened
                  - wireless_lock.tampered
                  - wireless_lock.unlocked
                  - wireless_lock.update
                  - zone.create
                  - zone.destroy
                  - zone.external_mode_override
                  - zone.override
                  - zone.policy_activate
                  - zone.policy_override
                  - zone.policy_transition
                  - zone.policy_violate
                  - zone.reset
                  - zone.update
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
