openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Schedules API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Schedules
paths:
  /schedules:
    get:
      operationId: fetchSchedules
      summary: Fetch schedules
      description: 'The schedule resource represents a simplified calendar event or event generation rule, and may be used to configure time based functionality:


        - When access is allowed or restricted ("time restrictions"), set `consequence` to `allow`

        - When elevator stops are kept accessible ("permit timer"), set `consequence` to `permit`

        - When locks are kept unlocked ("unlock timer"), set `consequence` to `unlock`

        - To override an allow, permit or unlock, set `override` to `true`. The schedule will then neutralize events of other schedules of the same consequence.


        Possible consequences for locks:

        - allow

        - unlock


        Possible consequences for elevator stops:

        - allow

        - permit


        Possible consequences for elevator groups:

        - allow


        There are four types of schedules:


        - Holiday calendar: events that are interpreted based on a region''s holiday rules

        - Recurring event: events that are interpreted based on the current weekday based on the time zone of the place they are added to

        - Single event: an event that starts and ends on specific date times regardless of time zone

        - Single all day event: events that are interpreted based on the time zone of the place they''re added to


        The API makes a few assumptions:


        - If `region` or `observed` are set, schedules are treated as holiday calendars

        - If `starts_at` or `ends_at` are set, events are treated as single events

        - If `starts_at_date` or `ends_at_date` are set, events are treated as single all day events

        - Else, events are treated as recurring events


        Validations:


        - Holiday calendars require both `region` and `observed` to be set

        - Single events require both `starts_at` and `ends_at` as RFC3339 timestamps

        - Single events require both `starts_at` and `ends_at` as RFC3339 timestamps

        - Single all day events require both `starts_at_date` and `ends_at_date` in the `YYYY-MM-DD` format

        - Recurring events require at least one weekday, and may specify `starts_at_time` and `ends_at_time` in the `hh:mm` format

        - Starting dates/times must be before ending dates/times


        The difference between single events and all day events are that single events are absolute, i.e. independent of

        the time zone of the place. Single all day events carry no time zone information but are always interpreted based

        on the time zone of the place.


        Note that holidays are interpreted relative to a time zone. It is therefore possible to specify e.g. US observances for a location in Europe.'
      tags:
      - Schedules
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: consequence
        in: query
        schema:
          type: string
          enum:
          - allow
          - first_to_arrive
          - permit
          - unlock
        description: Filter by consequence
      - name: scheduleable_type
        in: query
        schema:
          type: string
          enum:
          - Group
          - Lock
          - ElevatorStop
        description: Filter by the scheduleable type of the schedule. Either both or none of `scheduleable_id` and `scheduleable_type` are required.
      - name: scheduleable_id
        in: query
        schema:
          type: integer
        description: Filter by the scheduleable id of the schedule. Either both or none of `scheduleable_id` and `scheduleable_type` are required.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Holiday Calendar
                    properties:
                      id:
                        type: integer
                        description: The ID of the schedule
                      resource_type:
                        type: string
                        description: The resource type of the schedule
                        const: Schedule
                      created_at:
                        type: string
                        format: date-time
                        description: When the schedule was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the schedule was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      scheduleable:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: The ID of the schedulable
                          type:
                            type: string
                            enum:
                            - Group
                            - Lock
                            - ElevatorStop
                            description: The type of the schedulable
                          name:
                            type: string
                            description: The name of the schedulable
                        required:
                        - id
                        - type
                        - name
                      place_id:
                        type:
                        - integer
                        - 'null'
                        description: The place ID of the schedule
                      place:
                        type: object
                        title: Place
                        description: The place of the schedule
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      integration_id:
                        type:
                        - integer
                        - 'null'
                        description: The integration ID of the schedule
                      type:
                        type: string
                        const: holiday_calendar
                        description: The type of the schedule
                      region:
                        type: string
                        enum:
                        - ar
                        - at
                        - au
                        - au_act
                        - au_nsw
                        - au_nt
                        - au_qld
                        - au_sa
                        - au_tas
                        - au_vic
                        - au_wa
                        - bg
                        - br
                        - ca
                        - ca_ab
                        - ca_bc
                        - ca_mb
                        - ca_nb
                        - ca_nl
                        - ca_ns
                        - ca_nt
                        - ca_nu
                        - ca_on
                        - ca_pe
                        - ca_qc
                        - ca_sk
                        - ca_yt
                        - ch
                        - ch_ag
                        - ch_ai
                        - ch_ar
                        - ch_be
                        - ch_bl
                        - ch_bs
                        - ch_fr
                        - ch_ge
                        - ch_gl
                        - ch_gr
                        - ch_ju
                        - ch_lu
                        - ch_ne
                        - ch_nw
                        - ch_ow
                        - ch_sg
                        - ch_sh
                        - ch_so
                        - ch_sz
                        - ch_tg
                        - ch_ti
                        - ch_ur
                        - ch_vd
                        - ch_vs
                        - ch_zg
                        - ch_zh
                        - cl
                        - co
                        - cr
                        - cy
                        - cz
                        - de
                        - de_bb
                        - de_be
                        - de_bw
                        - de_by
                        - de_hb
                        - de_he
                        - de_hh
                        - de_mv
                        - de_ni
                        - de_nw
                        - de_rp
                        - de_sh
                        - de_sl
                        - de_sn
                        - de_st
                        - de_th
                        - dk
                        - ee
                        - es
                        - es_an
                        - es_ar
                        - es_ce
                        - es_cl
                        - es_cm
                        - es_cn
                        - es_ct
                        - es_ex
                        - es_ga
                        - es_ib
                        - es_lo
                        - es_m
                        - es_mu
                        - es_na
                        - es_o
                        - es_pv
                        - es_v
                        - es_vc
                        - fi
                        - fr
                        - gb
                        - gb_con
                        - gb_eng
                        - gb_nir
                        - gb_sct
                        - gb_wls
                        - ge
                        - gr
                        - hk
                        - hr
                        - hu
                        - ie
                        - il
                        - in
                        - in_ap
                        - in_ar
                        - in_as
                        - in_br
                        - in_cg
                        - in_ga
                        - in_gj
                        - in_hp
                        - in_hr
                        - in_jh
                        - in_jk
                        - in_ka
                        - in_kl
                        - in_mh
                        - in_mp
                        - in_mz
                        - in_nl
                        - in_od
                        - in_pb
                        - in_py
                        - in_sk
                        - in_tr
                        - in_ts
                        - in_wb
                        - is
                        - it
                        - it_bl
                        - it_fi
                        - it_ge
                        - it_pd
                        - it_rm
                        - it_ro
                        - it_to
                        - it_tv
                        - it_ve
                        - it_vi
                        - it_vr
                        - jp
                        - ke
                        - kr
                        - kz
                        - li
                        - lt
                        - lu
                        - lv
                        - ma
                        - mc
                        - mx
                        - mx_pue
                        - my
                        - ng
                        - nl
                        - 'no'
                        - nz
                        - pe
                        - ph
                        - pl
                        - pt
                        - ro
                        - ru
                        - se
                        - sg
                        - th
                        - tn
                        - tr
                        - ua
                        - us
                        - us_ak
                        - us_al
                        - us_ar
                        - us_az
                        - us_ca
                        - us_co
                        - us_ct
                        - us_dc
                        - us_de
                        - us_fl
                        - us_ga
                        - us_gu
                        - us_hi
                        - us_ia
                        - us_id
                        - us_il
                        - us_in
                        - us_ks
                        - us_ky
                        - us_la
                        - us_ma
                        - us_md
                        - us_me
                        - us_mi
                        - us_mn
                        - us_mo
                        - us_ms
                        - us_mt
                        - us_nc
                        - us_nd
                        - us_ne
                        - us_nh
                        - us_nj
                        - us_nm
                        - us_nv
                        - us_ny
                        - us_oh
                        - us_ok
                        - us_or
                        - us_pa
                        - us_pr
                        - us_ri
                        - us_sc
                        - us_sd
                        - us_tn
                        - us_tx
                        - us_ut
                        - us_va
                        - us_vi
                        - us_vt
                        - us_wa
                        - us_wi
                        - us_wv
                        - us_wy
                        - vn
                        - za
                        description: Which region's holiday rules to follow for event generation. For details on regions, see the holiday calendar endpoint for regions.
                      observed:
                        type: boolean
                        description: Whether the events should consider observances
                      ignored_holidays:
                        type: array
                        description: The names of ignored holidays
                        items:
                          type: string
                      holidays:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              format: date
                              description: When the next holiday occurs
                            name:
                              type: string
                              description: The name of the next holiday
                          required:
                          - date
                          - name
                        deprecated: true
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - name
                    - enabled
                    - override
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - scheduleable
                    - place_id
                    - integration_id
                    - type
                    - region
                    - observed
                    - ignored_holidays
                    - holidays
                    additionalProperties: false
                  - type: object
                    title: Recurring Event
                    properties:
                      id:
                        type: integer
                        description: The ID of the schedule
                      resource_type:
                        type: string
                        description: The resource type of the schedule
                        const: Schedule
                      created_at:
                        type: string
                        format: date-time
                        description: When the schedule was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the schedule was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      scheduleable:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: The ID of the schedulable
                          type:
                            type: string
                            enum:
                            - Group
                            - Lock
                            - ElevatorStop
                            description: The type of the schedulable
                          name:
                            type: string
                            description: The name of the schedulable
                        required:
                        - id
                        - type
                        - name
                      place_id:
                        type:
                        - integer
                        - 'null'
                        description: The place ID of the schedule
                      place:
                        type: object
                        title: Place
                        description: The place of the schedule
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      integration_id:
                        type:
                        - integer
                        - 'null'
                        description: The integration ID of the schedule
                      type:
                        type: string
                        const: recurring_event
                        description: The type of the schedule
                      monday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      tuesday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      wednesday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      thursday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      friday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      saturday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      sunday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      starts_at_time:
                        type: string
                        description: When the schedule starts at, in the `hh:mm` format
                      ends_at_time:
                        type: string
                        description: When the schedule ends at, in the `hh:mm` format
                      next_occurence:
                        type: object
                        deprecated: true
                        properties:
                          starts_at:
                            type: string
                            format: date-time
                            description: When the next event starts at
                          ends_at:
                            type: string
                            format: date-time
                            description: When the next event ends at
                        required:
                        - starts_at
                        - ends_at
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - name
                    - enabled
                    - override
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - scheduleable
                    - place_id
                    - integration_id
                    - type
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday
                    - saturday
                    - sunday
                    - starts_at_time
                    - ends_at_time
                    - next_occurence
                    additionalProperties: false
                  - type: object
                    title: Single All Day Event
                    properties:
                      id:
                        type: integer
                        description: The ID of the schedule
                      resource_type:
                        type: string
                        description: The resource type of the schedule
                        const: Schedule
                      created_at:
                        type: string
                        format: date-time
                        description: When the schedule was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the schedule was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      scheduleable:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: The ID of the schedulable
                          type:
                            type: string
                            enum:
                            - Group
                            - Lock
                            - ElevatorStop
                            description: The type of the schedulable
                          name:
                            type: string
                            description: The name of the schedulable
                        required:
                        - id
                        - type
                        - name
                      place_id:
                        type:
                        - integer
                        - 'null'
                        description: The place ID of the schedule
                      place:
                        type: object
                        title: Place
                        description: The place of the schedule
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      integration_id:
                        type:
                        - integer
                        - 'null'
                        description: The integration ID of the schedule
                      type:
                        type: string
                        const: single_all_day_event
                        description: The type of the schedule
                      starts_at_date:
                        type: string
                        format: date
                        description: When the schedule starts at
                      ends_at_date:
                        type: string
                        format: date
                        description: When the schedule ends at
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - name
                    - enabled
                    - override
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - scheduleable
                    - place_id
                    - integration_id
                    - type
                    - starts_at_date
                    - ends_at_date
                    additionalProperties: false
                  - type: object
                    title: Single Event
                    properties:
                      id:
                        type: integer
                        description: The ID of the schedule
                      resource_type:
                        type: string
                        description: The resource type of the schedule
                        const: Schedule
                      created_at:
                        type: string
                        format: date-time
                        description: When the schedule was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the schedule was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      scheduleable:
                        type: object
                        properties:
                          id:
                            type: integer
                            description: The ID of the schedulable
                          type:
                            type: string
                            enum:
                            - Group
                            - Lock
                            - ElevatorStop
                            description: The type of the schedulable
                          name:
                            type: string
                            description: The name of the schedulable
                        required:
                        - id
                        - type
                        - name
                      place_id:
                        type:
                        - integer
                        - 'null'
                        description: The place ID of the schedule
                      place:
                        type: object
                        title: Place
                        description: The place of the schedule
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          resource_type:
                            type: string
                            description: The resource type of the place
                            const: Place
                          name:
                            type: string
                            description: The name of the place
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      integration_id:
                        type:
                        - integer
                        - 'null'
                        description: The integration ID of the schedule
                      type:
                        type: string
                        const: single_event
                        description: The type of the schedule
                      starts_at:
                        type: string
                        format: date-time
                        description: When the schedule starts at. Seconds are ignored.
                      ends_at:
                        type: string
                        format: date-time
                        description: When the schedule ends at. Seconds are ignored.
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - name
                    - enabled
                    - override
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - scheduleable
                    - place_id
                    - integration_id
                    - type
                    - starts_at
                    - ends_at
                    additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createSchedule
      summary: Create schedule
      tags:
      - Schedules
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Holiday Calendar
                properties:
                  schedule:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      type:
                        type: string
                        const: holiday_calendar
                        description: The type of the schedule
                      region:
                        type: string
                        enum:
                        - ar
                        - at
                        - au
                        - au_act
                        - au_nsw
                        - au_nt
                        - au_qld
                        - au_sa
                        - au_tas
                        - au_vic
                        - au_wa
                        - bg
                        - br
                        - ca
                        - ca_ab
                        - ca_bc
                        - ca_mb
                        - ca_nb
                        - ca_nl
                        - ca_ns
                        - ca_nt
                        - ca_nu
                        - ca_on
                        - ca_pe
                        - ca_qc
                        - ca_sk
                        - ca_yt
                        - ch
                        - ch_ag
                        - ch_ai
                        - ch_ar
                        - ch_be
                        - ch_bl
                        - ch_bs
                        - ch_fr
                        - ch_ge
                        - ch_gl
                        - ch_gr
                        - ch_ju
                        - ch_lu
                        - ch_ne
                        - ch_nw
                        - ch_ow
                        - ch_sg
                        - ch_sh
                        - ch_so
                        - ch_sz
                        - ch_tg
                        - ch_ti
                        - ch_ur
                        - ch_vd
                        - ch_vs
                        - ch_zg
                        - ch_zh
                        - cl
                        - co
                        - cr
                        - cy
                        - cz
                        - de
                        - de_bb
                        - de_be
                        - de_bw
                        - de_by
                        - de_hb
                        - de_he
                        - de_hh
                        - de_mv
                        - de_ni
                        - de_nw
                        - de_rp
                        - de_sh
                        - de_sl
                        - de_sn
                        - de_st
                        - de_th
                        - dk
                        - ee
                        - es
                        - es_an
                        - es_ar
                        - es_ce
                        - es_cl
                        - es_cm
                        - es_cn
                        - es_ct
                        - es_ex
                        - es_ga
                        - es_ib
                        - es_lo
                        - es_m
                        - es_mu
                        - es_na
                        - es_o
                        - es_pv
                        - es_v
                        - es_vc
                        - fi
                        - fr
                        - gb
                        - gb_con
                        - gb_eng
                        - gb_nir
                        - gb_sct
                        - gb_wls
                        - ge
                        - gr
                        - hk
                        - hr
                        - hu
                        - ie
                        - il
                        - in
                        - in_ap
                        - in_ar
                        - in_as
                        - in_br
                        - in_cg
                        - in_ga
                        - in_gj
                        - in_hp
                        - in_hr
                        - in_jh
                        - in_jk
                        - in_ka
                        - in_kl
                        - in_mh
                        - in_mp
                        - in_mz
                        - in_nl
                        - in_od
                        - in_pb
                        - in_py
                        - in_sk
                        - in_tr
                        - in_ts
                        - in_wb
                        - is
                        - it
                        - it_bl
                        - it_fi
                        - it_ge
                        - it_pd
                        - it_rm
                        - it_ro
                        - it_to
                        - it_tv
                        - it_ve
                        - it_vi
                        - it_vr
                        - jp
                        - ke
                        - kr
                        - kz
                        - li
                        - lt
                        - lu
                        - lv
                        - ma
                        - mc
                        - mx
                        - mx_pue
                        - my
                        - ng
                        - nl
                        - 'no'
                        - nz
                        - pe
                        - ph
                        - pl
                        - pt
                        - ro
                        - ru
                        - se
                        - sg
                        - th
                        - tn
                        - tr
                        - ua
                        - us
                        - us_ak
                        - us_al
                        - us_ar
                        - us_az
                        - us_ca
                        - us_co
                        - us_ct
                        - us_dc
                        - us_de
                        - us_fl
                        - us_ga
                        - us_gu
                        - us_hi
                        - us_ia
                        - us_id
                        - us_il
                        - us_in
                        - us_ks
                        - us_ky
                        - us_la
                        - us_ma
                        - us_md
                        - us_me
                        - us_mi
                        - us_mn
                        - us_mo
                        - us_ms
                        - us_mt
                        - us_nc
                        - us_nd
                        - us_ne
                        - us_nh
                        - us_nj
                        - us_nm
                        - us_nv
                        - us_ny
                        - us_oh
                        - us_ok
                        - us_or
                        - us_pa
                        - us_pr
                        - us_ri
                        - us_sc
                        - us_sd
                        - us_tn
                        - us_tx
                        - us_ut
                        - us_va
                        - us_vi
                        - us_vt
                        - us_wa
                        - us_wi
                        - us_wv
                        - us_wy
                        - vn
                        - za
                        description: Which region's holiday rules to follow for event generation. For details on regions, see the holiday calendar endpoint for regions.
                      observed:
                        type: boolean
                        description: Whether the events should consider observances
                      ignored_holidays:
                        type: array
                        description: The names of ignored holidays
                        items:
                          type: string
                    required:
                    - enabled
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - region
                    - observed
                required:
                - schedule
              - type: object
                title: Recurring Event
                properties:
                  schedule:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      type:
                        type: string
                        const: recurring_event
                        description: The type of the schedule
                      monday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      tuesday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      wednesday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      thursday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      friday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      saturday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                      sunday:
                        type: boolean
                        description: Whether the schedule occurs on this day
                    required:
                    - enabled
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - type
                    - monday
                    - tuesday
                    - wednesday
                    - thursday
                    - friday
                    - saturday
                    - sunday
                required:
                - schedule
              - type: object
                title: Single All Day Event
                properties:
                  schedule:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      type:
                        type: string
                        const: single_all_day_event
                        description: The type of the schedule
                      starts_at_date:
                        type: string
                        format: date
                        description: When the schedule starts at
                      ends_at_date:
                        type: string
                        format: date
                        description: When the schedule ends at
                    required:
                    - enabled
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - type
                    - starts_at_date
                    - ends_at_date
                required:
                - schedule
              - type: object
                title: Single Event
                properties:
                  schedule:
                    type: object
                    properties:
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the schedule
                      enabled:
                        type: boolean
                        description: Whether the schedule is enabled
                      override:
                        type: boolean
                        description: Whether to override other events of the same consequence
                      consequence:
                        type: string
                        enum:
                        - allow
                        - first_to_arrive
                        - permit
                        - unlock
                        description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                          The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                          The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                          '
                      scheduleable_type:
                        type: string
                        enum:
                        - Group
                        - Lock
                        - ElevatorStop
                        description: The type of the schedulable
                      scheduleable_id:
                        type: integer
                        description: The ID of the schedulable
                      type:
                        type: string
                        const: single_event
                        description: The type of the schedule
                      starts_at:
                        type: string
                        format: date-time
                        description: When the schedule starts at. Seconds are ignored.
                      ends_at:
                        type: string
                        format: date-time
                        description: When the schedule ends at. Seconds are ignored.
                    required:
                    - enabled
                    - consequence
                    - scheduleable_type
                    - scheduleable_id
                    - type
                    - starts_at
                    - ends_at
                required:
                - schedule
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Holiday Calendar
                  properties:
                    id:
                      type: integer
                      description: The ID of the schedule
                    resource_type:
                      type: string
                      description: The resource type of the schedule
                      const: Schedule
                    created_at:
                      type: string
                      format: date-time
                      description: When the schedule was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the schedule was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the schedule
                    enabled:
                      type: boolean
                      description: Whether the schedule is enabled
                    override:
                      type: boolean
                      description: Whether to override other events of the same consequence
                    consequence:
                      type: string
                      enum:
                      - allow
                      - first_to_arrive
                      - permit
                      - unlock
                      description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                        The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                        The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                        '
                    scheduleable_type:
                      type: string
                      enum:
                      - Group
                      - Lock
                      - ElevatorStop
                      description: The type of the schedulable
                    scheduleable_id:
                      type: integer
                      description: The ID of the schedulable
                    scheduleable:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the schedulable
                        type:
                          type: string
                          enum:
                          - Group
                          - Lock
                          - ElevatorStop
                          description: The type of the schedulable
                        name:
                          type: string
                          description: The name of the schedulable
                      required:
                      - id
                      - type
                      - name
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the schedule
                    place:
                      type: object
                      title: Place
                      description: The place of the schedule
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    integration_id:
                      type:
                      - integer
                      - 'null'
                      description: The integration ID of the schedule
                    type:
                      type: string
                      const: holiday_calendar
                      description: The type of the schedule
                    region:
                      type: string
                      enum:
                      - ar
                      - at
                      - au
                      - au_act
                      - au_nsw
                      - au_nt
                      - au_qld
                      - au_sa
                      - au_tas
                      - au_vic
                      - au_wa
                      - bg
                      - br
                      - ca
                      - ca_ab
                      - ca_bc
                      - ca_mb
                      - ca_nb
                      - ca_nl
                      - ca_ns
                      - ca_nt
                      - ca_nu
                      - ca_on
                      - ca_pe
                      - ca_qc
                      - ca_sk
                      - ca_yt
                      - ch
                      - ch_ag
                      - ch_ai
                      - ch_ar
                      - ch_be
                      - ch_bl
                      - ch_bs
                      - ch_fr
                      - ch_ge
                      - ch_gl
                      - ch_gr
                      - ch_ju
                      - ch_lu
                      - ch_ne
                      - ch_nw
                      - ch_ow
                      - ch_sg
                      - ch_sh
                      - ch_so
                      - ch_sz
                      - ch_tg
                      - ch_ti
                      - ch_ur
                      - ch_vd
                      - ch_vs
                      - ch_zg
                      - ch_zh
                      - cl
                      - co
                      - cr
                      - cy
                      - cz
                      - de
                      - de_bb
                      - de_be
                      - de_bw
                      - de_by
                      - de_hb
                      - de_he
                      - de_hh
                      - de_mv
                      - de_ni
                      - de_nw
                      - de_rp
                      - de_sh
                      - de_sl
                      - de_sn
                      - de_st
                      - de_th
                      - dk
                      - ee
                      - es
                      - es_an
                      - es_ar
                      - es_ce
                      - es_cl
                      - es_cm
                      - es_cn
                      - es_ct
                      - es_ex
                      - es_ga
                      - es_ib
                      - es_lo
                      - es_m
                      - es_mu
                      - es_na
                      - es_o
                      - es_pv
                      - es_v
                      - es_vc
                      - fi
                      - fr
                      - gb
                      - gb_con
                      - gb_eng
                      - gb_nir
                      - gb_sct
                      - gb_wls
                      - ge
                      - gr
                      - hk
                      - hr
                      - hu
                      - ie
                      - il
                      - in
                      - in_ap
                      - in_ar
                      - in_as
                      - in_br
                      - in_cg
                      - in_ga
                      - in_gj
                      - in_hp
                      - in_hr
                      - in_jh
                      - in_jk
                      - in_ka
                      - in_kl
                      - in_mh
                      - in_mp
                      - in_mz
                      - in_nl
                      - in_od
                      - in_pb
                      - in_py
                      - in_sk
                      - in_tr
                      - in_ts
                      - in_wb
                      - is
                      - it
                      - it_bl
                      - it_fi
                      - it_ge
                      - it_pd
                      - it_rm
                      - it_ro
                      - it_to
                      - it_tv
                      - it_ve
                      - it_vi
                      - it_vr
                      - jp
                      - ke
                      - kr
                      - kz
                      - li
                      - lt
                      - lu
                      - lv
                      - ma
                      - mc
                      - mx
                      - mx_pue
                      - my
                      - ng
                      - nl
                      - 'no'
                      - nz
                      - pe
                      - ph
                      - pl
                      - pt
                      - ro
                      - ru
                      - se
                      - sg
                      - th
                      - tn
                      - tr
                      - ua
                      - us
                      - us_ak
                      - us_al
                      - us_ar
                      - us_az
                      - us_ca
                      - us_co
                      - us_ct
                      - us_dc
                      - us_de
                      - us_fl
                      - us_ga
                      - us_gu
                      - us_hi
                      - us_ia
                      - us_id
                      - us_il
                      - us_in
                      - us_ks
                      - us_ky
                      - us_la
                      - us_ma
                      - us_md
                      - us_me
                      - us_mi
                      - us_mn
                      - us_mo
                      - us_ms
                      - us_mt
                      - us_nc
                      - us_nd
                      - us_ne
                      - us_nh
                      - us_nj
                      - us_nm
                      - us_nv
                      - us_ny
                      - us_oh
                      - us_ok
                      - us_or
                      - us_pa
                      - us_pr
                      - us_ri
                      - us_sc
                      - us_sd
                      - us_tn
                      - us_tx
                      - us_ut
                      - us_va
                      - us_vi
                      - us_vt
                      - us_wa
                      - us_wi
                      - us_wv
                      - us_wy
                      - vn
                      - za
                      description: Which region's holiday rules to follow for event generation. For details on regions, see the holiday calendar endpoint for regions.
                    observed:
                      type: boolean
                      description: Whether the events should consider observances
                    ignored_holidays:
                      type: array
                      description: The names of ignored holidays
                      items:
                        type: string
                    holidays:
                      type: array
                      items:
                        type: object
                        properties:
                          date:
                            type: string
                            format: date
                            description: When the next holiday occurs
                          name:
                            type: string
                            description: The name of the next holiday
                        required:
                        - date
                        - name
                      deprecated: true
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - name
                  - enabled
                  - override
                  - consequence
                  - scheduleable_type
                  - scheduleable_id
                  - scheduleable
                  - place_id
                  - integration_id
                  - type
                  - region
                  - observed
                  - ignored_holidays
                  - holidays
                  additionalProperties: false
                - type: object
                  title: Recurring Event
                  properties:
                    id:
                      type: integer
                      description: The ID of the schedule
                    resource_type:
                      type: string
                      description: The resource type of the schedule
                      const: Schedule
                    created_at:
                      type: string
                      format: date-time
                      description: When the schedule was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the schedule was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the schedule
                    enabled:
                      type: boolean
                      description: Whether the schedule is enabled
                    override:
                      type: boolean
                      description: Whether to override other events of the same consequence
                    consequence:
                      type: string
                      enum:
                      - allow
                      - first_to_arrive
                      - permit
                      - unlock
                      description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                        The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                        The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                        '
                    scheduleable_type:
                      type: string
                      enum:
                      - Group
                      - Lock
                      - ElevatorStop
                      description: The type of the schedulable
                    scheduleable_id:
                      type: integer
                      description: The ID of the schedulable
                    scheduleable:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the schedulable
                        type:
                          type: string
                          enum:
                          - Group
                          - Lock
                          - ElevatorStop
                          description: The type of the schedulable
                        name:
                          type: string
                          description: The name of the schedulable
                      required:
                      - id
                      - type
                      - name
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the schedule
                    place:
                      type: object
                      title: Place
                      description: The place of the schedule
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    integration_id:
                      type:
                      - integer
                      - 'null'
                      description: The integration ID of the schedule
                    type:
                      type: string
                      const: recurring_event
                      description: The type of the schedule
                    monday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    tuesday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    wednesday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    thursday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    friday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    saturday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    sunday:
                      type: boolean
                      description: Whether the schedule occurs on this day
                    starts_at_time:
                      type: string
                      description: When the schedule starts at, in the `hh:mm` format
                    ends_at_time:
                      type: string
                      description: When the schedule ends at, in the `hh:mm` format
                    next_occurence:
                      type: object
                      deprecated: true
                      properties:
                        starts_at:
                          type: string
                          format: date-time
                          description: When the next event starts at
                        ends_at:
                          type: string
                          format: date-time
                          description: When the next event ends at
                      required:
                      - starts_at
                      - ends_at
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - name
                  - enabled
                  - override
                  - consequence
                  - scheduleable_type
                  - scheduleable_id
                  - scheduleable
                  - place_id
                  - integration_id
                  - type
                  - monday
                  - tuesday
                  - wednesday
                  - thursday
                  - friday
                  - saturday
                  - sunday
                  - starts_at_time
                  - ends_at_time
                  - next_occurence
                  additionalProperties: false
                - type: object
                  title: Single All Day Event
                  properties:
                    id:
                      type: integer
                      description: The ID of the schedule
                    resource_type:
                      type: string
                      description: The resource type of the schedule
                      const: Schedule
                    created_at:
                      type: string
                      format: date-time
                      description: When the schedule was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the schedule was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the schedule
                    enabled:
                      type: boolean
                      description: Whether the schedule is enabled
                    override:
                      type: boolean
                      description: Whether to override other events of the same consequence
                    consequence:
                      type: string
                      enum:
                      - allow
                      - first_to_arrive
                      - permit
                      - unlock
                      description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                        The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                        The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                        '
                    scheduleable_type:
                      type: string
                      enum:
                      - Group
                      - Lock
                      - ElevatorStop
                      description: The type of the schedulable
                    scheduleable_id:
                      type: integer
                      description: The ID of the schedulable
                    scheduleable:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the schedulable
                        type:
                          type: string
                          enum:
                          - Group
                          - Lock
                          - ElevatorStop
                          description: The type of the schedulable
                        name:
                          type: string
                          description: The name of the schedulable
                      required:
                      - id
                      - type
                      - name
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the schedule
                    place:
                      type: object
                      title: Place
                      description: The place of the schedule
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    integration_id:
                      type:
                      - integer
                      - 'null'
                      description: The integration ID of the schedule
                    type:
                      type: string
                      const: single_all_day_event
                      description: The type of the schedule
                    starts_at_date:
                      type: string
                      format: date
                      description: When the schedule starts at
                    ends_at_date:
                      type: string
                      format: date
                      description: When the schedule ends at
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - name
                  - enabled
                  - override
                  - consequence
                  - scheduleable_type
                  - scheduleable_id
                  - scheduleable
                  - place_id
                  - integration_id
                  - type
                  - starts_at_date
                  - ends_at_date
                  additionalProperties: false
                - type: object
                  title: Single Event
                  properties:
                    id:
                      type: integer
                      description: The ID of the schedule
                    resource_type:
                      type: string
                      description: The resource type of the schedule
                      const: Schedule
                    created_at:
                      type: string
                      format: date-time
                      description: When the schedule was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the schedule was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the schedule
                    enabled:
                      type: boolean
                      description: Whether the schedule is enabled
                    override:
                      type: boolean
                      description: Whether to override other events of the same consequence
                    consequence:
                      type: string
                      enum:
                      - allow
                      - first_to_arrive
                      - permit
                      - unlock
                      description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                        The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                        The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                        '
                    scheduleable_type:
                      type: string
                      enum:
                      - Group
                      - Lock
                      - ElevatorStop
                      description: The type of the schedulable
                    scheduleable_id:
                      type: integer
                      description: The ID of the schedulable
                    scheduleable:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the schedulable
                        type:
                          type: string
                          enum:
                          - Group
                          - Lock
                          - ElevatorStop
                          description: The type of the schedulable
                        name:
                          type: string
                          description: The name of the schedulable
                      required:
                      - id
                      - type
                      - name
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the schedule
                    place:
                      type: object
                      title: Place
                      description: The place of the schedule
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    integration_id:
                      type:
                      - integer
                      - 'null'
                      description: The integration ID of the schedule
                    type:
                      type: string
                      const: single_event
                      description: The type of the schedule
                    starts_at:
                      type: string
                      format: date-time
                      description: When the schedule starts at. Seconds are ignored.
                    ends_at:
                      type: string
                      format: date-time
                      description: When the schedule ends at. Seconds are ignored.
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - name
                  - enabled
                  - override
                  - consequence
                  - scheduleable_type
                  - scheduleable_id
                  - scheduleable
                  - place_id
                  - integration_id
                  - type
                  - starts_at
                  - ends_at
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /schedules/{id}:
    get:
      operationId: fetchSchedule
      summary: Fetch schedule
      tags:
      - Schedules
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Holiday Calendar
                  properties:
                    id:
                      type: integer
                      description: The ID of the schedule
                    resource_type:
                      type: string
                      description: The resource type of the schedule
                      const: Schedule
                    created_at:
                      type: string
                      format: date-time
                      description: When the schedule was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the schedule was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the schedule
                    enabled:
                      type: boolean
                      description: Whether the schedule is enabled
                    override:
                      type: boolean
                      description: Whether to override other events of the same consequence
                    consequence:
                      type: string
                      enum:
                      - allow
                      - first_to_arrive
                      - permit
                      - unlock
                      description: 'Defines what happens to the `scheduleable` when the schedule is occuring.

                        The `unlock` value only applies to schedules with `scheduleable_type` set to `Lock`.

                        The `permit` value only applies to schedules with `scheduleable_type` set to `ElevatorStop`.

                        '
                    scheduleable_type:
                      type: string
                      enum:
                      - Group
                      - Lock
                      - ElevatorStop
                      description: The type of the schedulable
                    scheduleable_id:
                      type: integer
                      description: The ID of the schedulable
                    scheduleable:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The ID of the schedulable
                        type:
                          type: string
                          enum:
                          - Group
                          - Lock
                          - ElevatorStop
                          description: The type of the schedulable
                        name:
                          type: string
                          description: The name of the schedulable
                      required:
                      - id
                      - type
                      - name
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the schedule
                    place:
                      type: object
                      title: Place
                      description: The place of the schedule
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    integration_id:
                      type:
                      - integer
                      - 'null'
                      description: The integration ID of the schedule
                    type:
                      type: string
                      const: holiday_calendar
                      description: The type of the schedule
                    region:
                      type: string
                      enum:
                      - ar
                      - at
                      - au
                      - au_act
                      - au_nsw
                      - au_nt
                      - au_qld
                      - au_sa
                      - au_tas
                      - au_vic
                      - au_wa
                      - bg
                      - br
                      - ca
                      - ca_ab
                      - ca_bc
                      - ca_mb
                      - ca_nb
                      - ca_nl
                      - ca_ns
                      - ca_nt
                      - ca_nu
                      - ca_on
                      - ca_pe
                      - ca_qc
                      - ca_sk
                      - ca_yt
                      - ch
                      - ch_ag
                      - ch_ai
                      - ch_ar
                      - ch_be
                      - ch_bl
                      - ch_bs
                      - ch_fr
                      - ch_ge
                      - ch_gl
                      - ch_gr
                      - ch_ju
                      - ch_lu
                      - ch_ne
                      - ch_nw
                      - ch_ow
                      - ch_sg
                      - ch_sh
                      - ch_so
                      - ch_sz
                      - ch_tg
                      - ch_ti
                      - ch_ur
                      - ch_vd
                      - ch_vs
                      - ch_zg
                      - ch_zh
                      - cl
                      - co
                      - cr
                      - cy
                      - cz
                      - de
                      - de_bb
                      - de_be
                      - de_bw
                      - de_by
                      - de_hb
                      - de_he
                      - de_hh
                      - de_mv
                      - de_ni
                      - de_nw
                      - de_rp
                      - de_sh
                      - de_sl
                      - de_sn
                      - de_st
                      - de_th
                      - dk
                      - ee
                      - es
                      - es_an
                      - es_ar
                      - es_ce
                      - es_cl
                      - es_cm
                      - es_cn
                      - es_ct
                      - es_ex
                      - es_ga
                      - es_ib
                      - es_lo
                      - es_m
                      - es_mu
                      - es_na
                      - es_o
                      - es_pv
                      - es_v
                      - es_vc
                      - fi
                      - fr
                      - gb
                      - gb_con
                      - gb_eng
                      - gb_nir
                      - gb_sct
                      - gb_wls
                      - ge
                      - gr
                      - hk
                      - hr
                      - hu
                      - ie
                      - il
                      - in
                      - in_ap
                      - in_ar
                      - in_as
                      - in_br
                      - in_cg
                      - in_ga
                      - in_gj
                      - in_hp
                      - in_hr
                      - in_jh
                      - in_jk
                      - in_ka
                      - in_kl
                      - in_mh
                      - in_mp
                      - in_mz
                      - in_nl
                      - in_od
                      - in_pb
                      - in_py
                      - in_sk
                      - in_tr
                      - in_ts
                      - in_wb
                      - is
                      - it
                      - it_bl
                      - it_fi
                      - it_ge
                      - it_pd
                      - it_rm
                      - it_ro
                      - it_to
                      - it_tv
                      - it_ve
                      - it_vi
                      - it_vr
                      - jp
                      - ke
                      - kr
                      - kz
                      - li
                      - lt
                      - lu
                      - lv
                      - ma
                      - mc
                      - mx
                      - mx_pue
                      - my
                      - ng
                      - nl
                      - 'no'
                      - nz
                      - pe
                      - ph
                      - pl
                      - pt
                      - ro
                      - ru
                      - se
                      - sg
                      - th
                      - tn
                      - tr
                      - ua
                      - us
                      - us_ak
                      - us_al
                      - us_ar
                      - us_az
                      - us_ca
                      - us_co
                      - us_ct
                      - us_dc
                      - us_de
                      - us_fl
                      - us_ga
                      - us_gu
                      - us_hi
                      - us_ia
                      - us_id
                      - us_il
                      - us_in
                      - us_ks
                      - us_ky
                      - us_la
                      - us_ma
                      - us_md
                      - us_me
                      - us_mi
                      - us_mn
                      - us_mo
                      - us_ms
                      - us_mt
                      - us_nc
                      - us_nd
                      - us_ne
                      - us_nh
                      - us_nj
                      - us_nm
                      - us_nv
                      - us_ny
                      - us_oh
                      - us_ok
                      - us_or
                      - us_pa
                      - us_pr
                      - us_ri
                      - us_sc
                      - us_sd
                      - us_tn
                      - us_tx
                      - us_ut
                      - us_va
                      - us_vi
                      - us_vt
                      - us_wa
                      - us_wi
                      - us_wv
                      - us_wy
                      - vn
                      - za
                      description: Which region's holiday rules to follow for event generation. For details on regions, see the holiday calendar endpoint for regions.
[...]
