openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Invites API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Invites
paths:
  /invites:
    post:
      operationId: createInvite
      summary: Create invite
      tags:
      - Invites
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Place Invite
                properties:
                  invite:
                    type: object
                    properties:
                      notify:
                        type: boolean
                        description: Whether to notify the invitee
                        default: true
                      invites_to_type:
                        type: string
                        const: Place
                      invites_to_id:
                        type: integer
                        description: The ID of the place
                      invitee:
                        type: object
                        description: The resource invited
                        oneOf:
                        - type: object
                          title: User
                          properties:
                            resource_type:
                              type: string
                              description: The resource type of the user
                              const: User
                            email:
                              type: string
                              format: email
                              description: The email of the user.
                            name:
                              type: string
                              description: The name of the user
                          required:
                          - resource_type
                          - email
                          - name
                          additionalProperties: false
                        - type: object
                          title: Guest
                          properties:
                            resource_type:
                              type: string
                              description: The resource type of the guest
                              const: Guest
                            name:
                              type: string
                              description: The name of the guest
                            email:
                              type:
                              - string
                              - 'null'
                              format: email
                              description: The email of the guest.
                            phone_number:
                              type:
                              - string
                              - 'null'
                              description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                                '
                          required:
                          - resource_type
                          - name
                          - email
                          - phone_number
                          additionalProperties: false
                      access_key:
                        properties:
                          link_enabled:
                            type: boolean
                            default: true
                            description: Will generate a link that can be used for access.
                          qr_code_enabled:
                            type: boolean
                            default: false
                            description: Will generate a QR code that can be used for access.
                        description: Access key for the invitee. Only to be used when invitee is a guest.
                      role_assignment:
                        type: object
                        title: RoleAssignment
                        properties:
                          role_id:
                            type: string
                            description: The role ID of the role assignment.
                    required:
                    - invites_to_type
                    - invites_to_id
                    - invitee
                    - role_assignment
                required:
                - invite
              - type: object
                title: Group Invite
                properties:
                  invite:
                    type: object
                    properties:
                      notify:
                        type: boolean
                        description: Whether to notify the invitee
                        default: true
                      invites_to_type:
                        type: string
                        const: Group
                      invites_to_id:
                        type: integer
                        description: The ID of the group
                      invitee:
                        type: object
                        description: The resource invited
                        oneOf:
                        - type: object
                          title: User
                          properties:
                            resource_type:
                              type: string
                              description: The resource type of the user
                              const: User
                            email:
                              type: string
                              format: email
                              description: The email of the user.
                            name:
                              type: string
                              description: The name of the user
                          required:
                          - resource_type
                          - email
                          - name
                          additionalProperties: false
                        - type: object
                          title: Guest
                          properties:
                            resource_type:
                              type: string
                              description: The resource type of the guest
                              const: Guest
                            name:
                              type: string
                              description: The name of the guest
                            email:
                              type:
                              - string
                              - 'null'
                              format: email
                              description: The email of the guest.
                            phone_number:
                              type:
                              - string
                              - 'null'
                              description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                                '
                          required:
                          - resource_type
                          - name
                          - email
                          - phone_number
                          additionalProperties: false
                      access_key:
                        properties:
                          link_enabled:
                            type: boolean
                            default: true
                            description: Will generate a link that can be used for access.
                          qr_code_enabled:
                            type: boolean
                            default: false
                            description: Will generate a QR code that can be used for access.
                        description: Access key for the invitee. Only to be used when invitee is a guest.
                      role_assignment:
                        type: object
                        title: RoleAssignment
                        properties:
                          role_id:
                            type: string
                            description: The role ID of the role assignment.
                          valid_from:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: When the role assignment starts to be valid.
                          valid_until:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: When the role assignment stops to be valid.
                    required:
                    - invites_to_type
                    - invites_to_id
                    - invitee
                    - role_assignment
                required:
                - invite
              - type: object
                title: Team Invite
                properties:
                  invite:
                    type: object
                    properties:
                      notify:
                        type: boolean
                        description: Whether to notify the invitee
                        default: true
                      invites_to_type:
                        type: string
                        const: Team
                      invites_to_id:
                        type: integer
                        description: The ID of the team
                      invitee:
                        type: object
                        description: The resource invited
                        oneOf:
                        - type: object
                          title: User
                          properties:
                            resource_type:
                              type: string
                              description: The resource type of the user
                              const: User
                            email:
                              type: string
                              format: email
                              description: The email of the user.
                            name:
                              type: string
                              description: The name of the user
                          required:
                          - resource_type
                          - email
                          - name
                          additionalProperties: false
                        - type: object
                          title: Guest
                          properties:
                            resource_type:
                              type: string
                              description: The resource type of the guest
                              const: Guest
                            name:
                              type: string
                              description: The name of the guest
                            email:
                              type:
                              - string
                              - 'null'
                              format: email
                              description: The email of the guest.
                            phone_number:
                              type:
                              - string
                              - 'null'
                              description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                                '
                          required:
                          - resource_type
                          - name
                          - email
                          - phone_number
                          additionalProperties: false
                      access_key:
                        properties:
                          link_enabled:
                            type: boolean
                            default: true
                            description: Will generate a link that can be used for access.
                          qr_code_enabled:
                            type: boolean
                            default: false
                            description: Will generate a QR code that can be used for access.
                        description: Access key for the invitee. Only to be used when invitee is a guest.
                    required:
                    - invites_to_type
                    - invites_to_id
                    - invitee
                required:
                - invite
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Place Invite
                  properties:
                    id:
                      type: integer
                      description: The ID of the invite
                    resource_type:
                      type: string
                      description: The resource type of the invite
                      const: Invite
                    notify:
                      type: boolean
                      description: Whether to notify the invitee
                      default: true
                    created_at:
                      type: string
                      format: date-time
                      description: When the invite was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the invite was updated
                    invites_to_type:
                      type: string
                      const: Place
                    invites_to_id:
                      type: integer
                      description: The ID of the place
                    invitee_type:
                      type: string
                      enum:
                      - User
                      - Guest
                      description: The invitee type of the invite
                    invitee_id:
                      type: integer
                      description: The invitee ID of the invite
                    invitee:
                      type: object
                      description: The invitee of the invite
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Guest
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                    access_key:
                      type: object
                      title: Access Key
                      description: Access key for the invitee. Only to be used when invitee is a guest.
                      properties:
                        id:
                          type: integer
                          description: The ID of the access key
                        resource_type:
                          type: string
                          description: The resource type of the access key
                          const: AccessKey
                        link_enabled:
                          type: boolean
                          default: true
                          description: Will generate a link that can be used for access.
                        qr_code_enabled:
                          type: boolean
                          default: false
                          description: Will generate a QR code that can be used for access.
                      required:
                      - id
                      - resource_type
                      - link_enabled
                      - qr_code_enabled
                      additionalProperties: false
                    role_assignment_id:
                      type: integer
                      description: The role_assignment ID of the invite
                    role_assignment:
                      type: object
                      title: Role Assignment
                      description: The role_assignment of the invite
                      properties:
                        id:
                          type: integer
                          description: The ID of the role assignment
                        resource_type:
                          type: string
                          description: The resource type of the role assignment
                          const: RoleAssignment
                        role_id:
                          type: string
                          description: The role ID of the role assignment.
                      required:
                      - id
                      - resource_type
                      - role_id
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - notify
                  - created_at
                  - updated_at
                  - invites_to_type
                  - invites_to_id
                  - invitee_type
                  - invitee_id
                  - invitee
                  - role_assignment_id
                  - role_assignment
                  additionalProperties: false
                - type: object
                  title: Group Invite
                  properties:
                    id:
                      type: integer
                      description: The ID of the invite
                    resource_type:
                      type: string
                      description: The resource type of the invite
                      const: Invite
                    notify:
                      type: boolean
                      description: Whether to notify the invitee
                      default: true
                    created_at:
                      type: string
                      format: date-time
                      description: When the invite was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the invite was updated
                    invites_to_type:
                      type: string
                      const: Group
                    invites_to_id:
                      type: integer
                      description: The ID of the group
                    invitee_type:
                      type: string
                      enum:
                      - User
                      - Guest
                      description: The invitee type of the invite
                    invitee_id:
                      type: integer
                      description: The invitee ID of the invite
                    invitee:
                      type: object
                      description: The invitee of the invite
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Guest
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                    access_key:
                      type: object
                      title: Access Key
                      description: Access key for the invitee. Only to be used when invitee is a guest.
                      properties:
                        id:
                          type: integer
                          description: The ID of the access key
                        resource_type:
                          type: string
                          description: The resource type of the access key
                          const: AccessKey
                        link_enabled:
                          type: boolean
                          default: true
                          description: Will generate a link that can be used for access.
                        qr_code_enabled:
                          type: boolean
                          default: false
                          description: Will generate a QR code that can be used for access.
                      required:
                      - id
                      - resource_type
                      - link_enabled
                      - qr_code_enabled
                      additionalProperties: false
                    role_assignment_id:
                      type: integer
                      description: The role_assignment ID of the invite
                    role_assignment:
                      type: object
                      title: Role Assignment
                      description: The role_assignment of the invite
                      properties:
                        id:
                          type: integer
                          description: The ID of the role assignment
                        resource_type:
                          type: string
                          description: The resource type of the role assignment
                          const: RoleAssignment
                        role_id:
                          type: string
                          description: The role ID of the role assignment.
                        valid_from:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: When the role assignment starts to be valid.
                        valid_until:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: When the role assignment stops to be valid.
                      required:
                      - id
                      - resource_type
                      - role_id
                      - valid_from
                      - valid_until
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - notify
                  - created_at
                  - updated_at
                  - invites_to_type
                  - invites_to_id
                  - invitee_type
                  - invitee_id
                  - invitee
                  - role_assignment_id
                  - role_assignment
                  additionalProperties: false
                - type: object
                  title: Team Invite
                  properties:
                    id:
                      type: integer
                      description: The ID of the invite
                    resource_type:
                      type: string
                      description: The resource type of the invite
                      const: Invite
                    notify:
                      type: boolean
                      description: Whether to notify the invitee
                      default: true
                    created_at:
                      type: string
                      format: date-time
                      description: When the invite was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the invite was updated
                    invites_to_type:
                      type: string
                      const: Team
                    invites_to_id:
                      type: integer
                      description: The ID of the team
                    invitee_type:
                      type: string
                      enum:
                      - User
                      - Guest
                      description: The invitee type of the invite
                    invitee_id:
                      type: integer
                      description: The invitee ID of the invite
                    invitee:
                      type: object
                      description: The invitee of the invite
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Guest
                        properties:
                          id:
                            type: integer
                            description: The ID of the guest
                          resource_type:
                            type: string
                            description: The resource type of the guest
                            const: Guest
                          name:
                            type: string
                            description: The name of the guest
                          email:
                            type:
                            - string
                            - 'null'
                            format: email
                            description: The email of the guest.
                          phone_number:
                            type:
                            - string
                            - 'null'
                            description: 'The phone number of the guest. Only US, Canadian and Puerto Rican numbers in the format +11234567890 (E.164) are accepted.

                              '
                        required:
                        - id
                        - resource_type
                        - name
                        - email
                        - phone_number
                        additionalProperties: false
                    access_key:
                      type: object
                      title: Access Key
                      description: Access key for the invitee. Only to be used when invitee is a guest.
                      properties:
                        id:
                          type: integer
                          description: The ID of the access key
                        resource_type:
                          type: string
                          description: The resource type of the access key
                          const: AccessKey
                        link_enabled:
                          type: boolean
                          default: true
                          description: Will generate a link that can be used for access.
                        qr_code_enabled:
                          type: boolean
                          default: false
                          description: Will generate a QR code that can be used for access.
                      required:
                      - id
                      - resource_type
                      - link_enabled
                      - qr_code_enabled
                      additionalProperties: false
                    team_membership_id:
                      type: integer
                      description: The ID of the team membership
                  required:
                  - id
                  - resource_type
                  - notify
                  - created_at
                  - updated_at
                  - invites_to_type
                  - invites_to_id
                  - invitee_type
                  - invitee_id
                  - invitee
                  - team_membership_id
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
