openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Controller Relay Connections API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Controller Relay Connections
paths:
  /controller_relay_connections:
    get:
      operationId: fetchControllerRelayConnections
      summary: Fetch controller relay connections
      tags:
      - Controller Relay Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: controller_id
        in: query
        schema:
          type: integer
        required: true
        description: Filter by controller ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Lock Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller relay connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the relay
                      type:
                        const: lock
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. Must not be aux.
                      controller_relay:
                        type: object
                        title: Controller Relay
                        description: The controller_relay of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller relay
                          channel:
                            type: number
                            description: The channel of the controller relay
                          name:
                            type: string
                            description: The name of the controller relay
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      lock_id:
                        type: integer
                        description: The lock ID of the controller relay connection
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - duration
                    - type
                    - controller_relay_id
                    - controller_relay
                    - lock_id
                    - lock
                    additionalProperties: false
                  - type: object
                    title: Elevator Stop Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller relay connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the relay
                      type:
                        const: elevator_stop
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. Must not be aux.
                      controller_relay:
                        type: object
                        title: Controller Relay
                        description: The controller_relay of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller relay
                          channel:
                            type: number
                            description: The channel of the controller relay
                          name:
                            type: string
                            description: The name of the controller relay
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      elevator_stop_id:
                        type: integer
                        description: The elevator_stop ID of the controller relay connection
                      elevator_stop:
                        type: object
                        title: Elevator Stop
                        description: The elevator_stop of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the elevator stop
                          name:
                            type: string
                            description: The name of the elevator stop
                        required:
                        - id
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - duration
                    - type
                    - controller_relay_id
                    - controller_relay
                    - elevator_stop_id
                    - elevator_stop
                    additionalProperties: false
                  - type: object
                    title: Siren Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller relay connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                      type:
                        const: siren
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                      controller_relay:
                        type: object
                        title: Controller Relay
                        description: The controller_relay of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller relay
                          channel:
                            type: number
                            description: The channel of the controller relay
                          name:
                            type: string
                            description: The name of the controller relay
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      zone_id:
                        type: integer
                        description: The zone ID of the controller relay connection
                      zone:
                        type: object
                        title: Zone
                        description: The zone of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the zone
                          name:
                            type: string
                            description: The name of the zone
                        required:
                        - id
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - type
                    - controller_relay_id
                    - controller_relay
                    - zone_id
                    - zone
                    additionalProperties: false
                  - type: object
                    title: Third Party Alarm Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller relay connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller relay connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                      duration_for_away_mode:
                        type:
                        - number
                        - 'null'
                        format: float
                        minimum: 0
                        maximum: 600.0
                        description: The duration of the relay used for changing the zone to away mode
                      duration_for_stay_mode:
                        type:
                        - number
                        - 'null'
                        format: float
                        minimum: 0
                        maximum: 600.0
                        description: The duration of the relay used for changing the zone to stay mode
                      type:
                        const: third_party_alarm
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                      controller_relay:
                        type: object
                        title: Controller Relay
                        description: The controller_relay of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller relay
                          channel:
                            type: number
                            description: The channel of the controller relay
                          name:
                            type: string
                            description: The name of the controller relay
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      zone_id:
                        type: integer
                        description: The zone ID of the controller relay connection
                      zone:
                        type: object
                        title: Zone
                        description: The zone of the controller relay connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the zone
                          name:
                            type: string
                            description: The name of the zone
                        required:
                        - id
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - duration_for_away_mode
                    - duration_for_stay_mode
                    - type
                    - controller_relay_id
                    - controller_relay
                    - zone_id
                    - zone
                    additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createControllerRelayConnection
      summary: Create a controller relay connection
      tags:
      - Controller Relay Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Controller Relay Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      type:
                        const: lock
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. Must not be aux.
                      lock_id:
                        type: integer
                        description: The lock ID of the controller relay connection
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the relay
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required:
                    - type
                    - controller_relay_id
                    - lock_id
                required:
                - controller_relay_connection
              - type: object
                title: Controller Relay Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      type:
                        const: elevator_stop
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. Must not be aux.
                      elevator_stop_id:
                        type: integer
                        description: The elevator_stop ID of the controller relay connection
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the relay
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required:
                    - type
                    - controller_relay_id
                    - elevator_stop_id
                required:
                - controller_relay_connection
              - type: object
                title: Controller Relay Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      type:
                        const: siren
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                      zone_id:
                        type: integer
                        description: The zone ID of the controller relay connection
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required:
                    - type
                    - controller_relay_id
                    - zone_id
                required:
                - controller_relay_connection
              - type: object
                title: Third Party Alarm Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      type:
                        const: third_party_alarm
                      controller_relay_id:
                        type: integer
                        description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                      zone_id:
                        type: integer
                        description: The zone ID of the controller relay connection
                      duration_for_away_mode:
                        type:
                        - number
                        - 'null'
                        format: float
                        minimum: 0
                        maximum: 600.0
                        description: The duration of the relay used for changing the zone to away mode
                      duration_for_stay_mode:
                        type:
                        - number
                        - 'null'
                        format: float
                        minimum: 0
                        maximum: 600.0
                        description: The duration of the relay used for changing the zone to stay mode
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required:
                    - type
                    - controller_relay_id
                    - zone_id
                required:
                - controller_relay_connection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Lock Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    duration:
                      type: number
                      format: float
                      minimum: 0.5
                      maximum: 600.0
                      description: The duration of the relay
                    type:
                      const: lock
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. Must not be aux.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    lock_id:
                      type: integer
                      description: The lock ID of the controller relay connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - duration
                  - type
                  - controller_relay_id
                  - controller_relay
                  - lock_id
                  - lock
                  additionalProperties: false
                - type: object
                  title: Elevator Stop Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    duration:
                      type: number
                      format: float
                      minimum: 0.5
                      maximum: 600.0
                      description: The duration of the relay
                    type:
                      const: elevator_stop
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. Must not be aux.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    elevator_stop_id:
                      type: integer
                      description: The elevator_stop ID of the controller relay connection
                    elevator_stop:
                      type: object
                      title: Elevator Stop
                      description: The elevator_stop of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator stop
                        name:
                          type: string
                          description: The name of the elevator stop
                      required:
                      - id
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - duration
                  - type
                  - controller_relay_id
                  - controller_relay
                  - elevator_stop_id
                  - elevator_stop
                  additionalProperties: false
                - type: object
                  title: Siren Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    type:
                      const: siren
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the controller relay connection
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - type
                  - controller_relay_id
                  - controller_relay
                  - zone_id
                  - zone
                  additionalProperties: false
                - type: object
                  title: Third Party Alarm Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    duration_for_away_mode:
                      type:
                      - number
                      - 'null'
                      format: float
                      minimum: 0
                      maximum: 600.0
                      description: The duration of the relay used for changing the zone to away mode
                    duration_for_stay_mode:
                      type:
                      - number
                      - 'null'
                      format: float
                      minimum: 0
                      maximum: 600.0
                      description: The duration of the relay used for changing the zone to stay mode
                    type:
                      const: third_party_alarm
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the controller relay connection
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - duration_for_away_mode
                  - duration_for_stay_mode
                  - type
                  - controller_relay_id
                  - controller_relay
                  - zone_id
                  - zone
                  additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /controller_relay_connections/{id}:
    get:
      operationId: fetchControllerRelayConnection
      summary: Fetch a controller relay connection
      tags:
      - Controller Relay Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Lock Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    duration:
                      type: number
                      format: float
                      minimum: 0.5
                      maximum: 600.0
                      description: The duration of the relay
                    type:
                      const: lock
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. Must not be aux.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    lock_id:
                      type: integer
                      description: The lock ID of the controller relay connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - duration
                  - type
                  - controller_relay_id
                  - controller_relay
                  - lock_id
                  - lock
                  additionalProperties: false
                - type: object
                  title: Elevator Stop Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    duration:
                      type: number
                      format: float
                      minimum: 0.5
                      maximum: 600.0
                      description: The duration of the relay
                    type:
                      const: elevator_stop
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. Must not be aux.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    elevator_stop_id:
                      type: integer
                      description: The elevator_stop ID of the controller relay connection
                    elevator_stop:
                      type: object
                      title: Elevator Stop
                      description: The elevator_stop of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator stop
                        name:
                          type: string
                          description: The name of the elevator stop
                      required:
                      - id
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - duration
                  - type
                  - controller_relay_id
                  - controller_relay
                  - elevator_stop_id
                  - elevator_stop
                  additionalProperties: false
                - type: object
                  title: Siren Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    type:
                      const: siren
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the controller relay connection
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - type
                  - controller_relay_id
                  - controller_relay
                  - zone_id
                  - zone
                  additionalProperties: false
                - type: object
                  title: Third Party Alarm Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller relay connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller relay connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller relay connection
                    duration_for_away_mode:
                      type:
                      - number
                      - 'null'
                      format: float
                      minimum: 0
                      maximum: 600.0
                      description: The duration of the relay used for changing the zone to away mode
                    duration_for_stay_mode:
                      type:
                      - number
                      - 'null'
                      format: float
                      minimum: 0
                      maximum: 600.0
                      description: The duration of the relay used for changing the zone to stay mode
                    type:
                      const: third_party_alarm
                    controller_relay_id:
                      type: integer
                      description: The controller_relay ID of the controller relay connection. It must be aux if the controller has an aux relay and belong to zone controller.
                    controller_relay:
                      type: object
                      title: Controller Relay
                      description: The controller_relay of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller relay
                        channel:
                          type: number
                          description: The channel of the controller relay
                        name:
                          type: string
                          description: The name of the controller relay
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the controller relay connection
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the controller relay connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - duration_for_away_mode
                  - duration_for_stay_mode
                  - type
                  - controller_relay_id
                  - controller_relay
                  - zone_id
                  - zone
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateControllerRelayConnection
      summary: Update a controller relay connection
      tags:
      - Controller Relay Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Controller Relay Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the relay
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required: []
                required:
                - controller_relay_connection
              - type: object
                title: Controller Relay Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      duration:
                        type: number
                        format: float
                        minimum: 0.5
                        maximum: 600.0
                        description: The duration of the relay
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required: []
                required:
                - controller_relay_connection
              - type: object
                title: Third Party Alarm Connection
                properties:
                  controller_relay_connection:
                    type: object
                    properties:
                      duration_for_away_mode:
                        type:
                        - number
                        - 'null'
                        format: float
                        minimum: 0
                        maximum: 600.0
                        description: The duration of the relay used for changing the zone to away mode
                      duration_for_stay_mode:
                        type:
                        - number
                        - 'null'
                        format: float
                        minimum: 0
                        maximum: 600.0
                        description: The duration of the relay used for changing the zone to stay mode
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller relay connection
                    required: []
                required:
                - controller_relay_connection
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      operationId: deleteControllerRelayConnection
      summary: Delete a controller relay connection
      tags:
      - Controller Relay Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
