openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Readers API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Readers
paths:
  /readers:
    get:
      operationId: fetchReaders
      summary: Fetch readers
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: query
        in: query
        schema:
          type: string
        description: 'Filter by a freetext string. Properties searched: `name`, `device_id`, `token`

          '
      - name: model
        in: query
        schema:
          type: string
          enum:
          - reader-1.0
          - reader-2.0
          - reader-pro-2.1
          - reader-pro-2.1-hf
          - reader-pro-3.0
        description: Filter by model
      - name: place_id
        in: query
        schema:
          type: integer
        description: Filter by place ID
      - name: lock_id
        in: query
        schema:
          type: integer
        description: Filter by lock ID
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: status
        in: query
        schema:
          type: string
          enum:
          - online
          - offline
        description: Filter by status
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - name
          - -name
        description: 'Sort the results. Prepend `-` to sort in reverse order.


          `name` - sort by group name, alphabetically

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Reader
                  properties:
                    id:
                      type: integer
                      description: The ID of the reader
                    resource_type:
                      type: string
                      description: The resource type of the reader
                      const: Reader
                    name:
                      type: string
                      description: The name of the reader
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the reader
                    created_at:
                      type: string
                      format: date-time
                      description: When the reader was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the reader was updated
                    broadcast_ip_address:
                      type:
                      - string
                      - 'null'
                      description: The broadcast IP address of the reader
                    configured:
                      type: boolean
                      description: Whether the reader is configured
                    device_id:
                      type: string
                      pattern: ^[a-fA-F0-9]{16}$
                      minLength: 16
                      maxLength: 16
                      description: 'The device ID of the reader

                        '
                    ethernet_mac:
                      type: string
                      description: The ethernet MAC address of the reader
                    gateway_ip_address:
                      type:
                      - string
                      - 'null'
                      description: The gateway IP address of the reader
                    ip_address:
                      type:
                      - string
                      - 'null'
                      description: The IP address of the reader
                    model:
                      type: string
                      enum:
                      - reader-1.0
                      - reader-2.0
                      - reader-pro-2.1
                      - reader-pro-2.1-hf
                      - reader-pro-3.0
                      description: The model of the reader
                    network_interface:
                      type:
                      - string
                      - 'null'
                      enum:
                      - ethernet
                      - wifi
                      - null
                      description: The network interface of the reader
                    network:
                      type:
                      - string
                      - 'null'
                      description: The network of the reader
                    online:
                      type: boolean
                      description: Whether the reader is online
                    revision:
                      type: string
                      description: The revision of the reader
                    token:
                      type: string
                      description: The token of the reader
                    wifi_mac:
                      type: string
                      description: The wifi MAC address of the reader
                    backplate:
                      type: string
                      enum:
                      - standard
                      - keypad_terminal
                      - quick_response_code_terminal
                      - keypad_and_quick_response_code_terminal
                      description: The backplate of the reader
                    buzzer_enabled:
                      type: boolean
                      description: Whether the reader is buzzer enabled
                    cards_enabled:
                      type: boolean
                      description: Whether the reader is cards enabled
                    checkout:
                      type: boolean
                      description: Whether the reader is checkout enabled
                    device_unlock_restriction_enabled:
                      type: boolean
                      description: 'Whether the reader is device unlock restriction enabled

                        '
                    held_open_alarm_enabled:
                      type: boolean
                      description: 'Whether the reader is held_open_alarm enabled"

                        '
                    quick_response_code_enabled:
                      type: boolean
                      description: Whether the reader is quick response code enabled
                    tampered:
                      type: boolean
                      description: Whether the reader is in a tampered state
                    tamper_enabled:
                      type: boolean
                      description: Whether the reader is tamper enabled
                    wave_to_unlock_enabled:
                      type: boolean
                      description: 'Whether the reader is wave to unlock enabled

                        '
                    elevator_id:
                      type:
                      - integer
                      - 'null'
                      description: The elevator ID of the reader
                    elevator:
                      type: object
                      title: Elevator
                      description: The elevator of the reader
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator
                        resource_type:
                          type: string
                          description: The resource type of the elevator
                          const: Elevator
                        name:
                          type: string
                          description: The name of the elevator
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the reader
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the reader
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    place_id:
                      type: integer
                      description: The place ID of the reader
                    place:
                      type: object
                      title: Place
                      description: The place of the reader
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    zone_id:
                      type:
                      - integer
                      - 'null'
                      description: The zone ID of the reader
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the reader
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                    terminal_id:
                      type:
                      - integer
                      - 'null'
                      description: The terminal ID of the reader
                    terminal:
                      type: object
                      title: Terminal
                      description: The terminal of the reader
                      properties:
                        id:
                          type: integer
                          description: The ID of the terminal
                        resource_type:
                          type: string
                          description: The resource type of the terminal
                          const: Terminal
                        name:
                          type: string
                          description: The name of the terminal
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - created_at
                  - updated_at
                  - broadcast_ip_address
                  - configured
                  - device_id
                  - ethernet_mac
                  - gateway_ip_address
                  - ip_address
                  - model
                  - network_interface
                  - network
                  - online
                  - revision
                  - token
                  - wifi_mac
                  - backplate
                  - buzzer_enabled
                  - cards_enabled
                  - checkout
                  - device_unlock_restriction_enabled
                  - held_open_alarm_enabled
                  - quick_response_code_enabled
                  - tampered
                  - tamper_enabled
                  - wave_to_unlock_enabled
                  - elevator_id
                  - lock_id
                  - place_id
                  - place
                  - zone_id
                  - terminal_id
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /readers/{token}/assign:
    post:
      operationId: assignReader
      summary: Assign a reader by token
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: token
        in: path
        schema:
          type: string
        description: The token of the reader.
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Reader
              properties:
                reader:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the reader
                    place_id:
                      type: integer
                      description: The place ID of the reader
                  required:
                  - name
                  - place_id
              required:
              - reader
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /readers/{id}/deassign:
    post:
      operationId: deassignReader
      summary: Deassign a reader
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /readers/{id}/reset_tamper:
    post:
      operationId: resetTamperedState
      summary: Reset the tampered state of a reader
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /readers/{id}/reboot:
    post:
      operationId: rebootReader
      summary: Reboot a reader
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /readers/{id}:
    get:
      operationId: fetchReader
      summary: Fetch reader
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Reader
                properties:
                  id:
                    type: integer
                    description: The ID of the reader
                  resource_type:
                    type: string
                    description: The resource type of the reader
                    const: Reader
                  name:
                    type: string
                    description: The name of the reader
                  description:
                    type:
                    - string
                    - 'null'
                    description: The description of the reader
                  created_at:
                    type: string
                    format: date-time
                    description: When the reader was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the reader was updated
                  broadcast_ip_address:
                    type:
                    - string
                    - 'null'
                    description: The broadcast IP address of the reader
                  configured:
                    type: boolean
                    description: Whether the reader is configured
                  device_id:
                    type: string
                    pattern: ^[a-fA-F0-9]{16}$
                    minLength: 16
                    maxLength: 16
                    description: 'The device ID of the reader

                      '
                  ethernet_mac:
                    type: string
                    description: The ethernet MAC address of the reader
                  gateway_ip_address:
                    type:
                    - string
                    - 'null'
                    description: The gateway IP address of the reader
                  ip_address:
                    type:
                    - string
                    - 'null'
                    description: The IP address of the reader
                  model:
                    type: string
                    enum:
                    - reader-1.0
                    - reader-2.0
                    - reader-pro-2.1
                    - reader-pro-2.1-hf
                    - reader-pro-3.0
                    description: The model of the reader
                  network_interface:
                    type:
                    - string
                    - 'null'
                    enum:
                    - ethernet
                    - wifi
                    - null
                    description: The network interface of the reader
                  network:
                    type:
                    - string
                    - 'null'
                    description: The network of the reader
                  online:
                    type: boolean
                    description: Whether the reader is online
                  revision:
                    type: string
                    description: The revision of the reader
                  token:
                    type: string
                    description: The token of the reader
                  wifi_mac:
                    type: string
                    description: The wifi MAC address of the reader
                  backplate:
                    type: string
                    enum:
                    - standard
                    - keypad_terminal
                    - quick_response_code_terminal
                    - keypad_and_quick_response_code_terminal
                    description: The backplate of the reader
                  buzzer_enabled:
                    type: boolean
                    description: Whether the reader is buzzer enabled
                  cards_enabled:
                    type: boolean
                    description: Whether the reader is cards enabled
                  checkout:
                    type: boolean
                    description: Whether the reader is checkout enabled
                  device_unlock_restriction_enabled:
                    type: boolean
                    description: 'Whether the reader is device unlock restriction enabled

                      '
                  held_open_alarm_enabled:
                    type: boolean
                    description: 'Whether the reader is held_open_alarm enabled"

                      '
                  quick_response_code_enabled:
                    type: boolean
                    description: Whether the reader is quick response code enabled
                  tampered:
                    type: boolean
                    description: Whether the reader is in a tampered state
                  tamper_enabled:
                    type: boolean
                    description: Whether the reader is tamper enabled
                  wave_to_unlock_enabled:
                    type: boolean
                    description: 'Whether the reader is wave to unlock enabled

                      '
                  elevator_id:
                    type:
                    - integer
                    - 'null'
                    description: The elevator ID of the reader
                  elevator:
                    type: object
                    title: Elevator
                    description: The elevator of the reader
                    properties:
                      id:
                        type: integer
                        description: The ID of the elevator
                      resource_type:
                        type: string
                        description: The resource type of the elevator
                        const: Elevator
                      name:
                        type: string
                        description: The name of the elevator
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  lock_id:
                    type:
                    - integer
                    - 'null'
                    description: The lock ID of the reader
                  lock:
                    type: object
                    title: Lock
                    description: The lock of the reader
                    properties:
                      id:
                        type: integer
                        description: The ID of the lock
                      resource_type:
                        type: string
                        description: The resource type of the lock
                        const: Lock
                      name:
                        type: string
                        description: The name of the lock
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  place_id:
                    type: integer
                    description: The place ID of the reader
                  place:
                    type: object
                    title: Place
                    description: The place of the reader
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  zone_id:
                    type:
                    - integer
                    - 'null'
                    description: The zone ID of the reader
                  zone:
                    type: object
                    title: Zone
                    description: The zone of the reader
                    properties:
                      id:
                        type: integer
                        description: The ID of the zone
                      name:
                        type: string
                        description: The name of the zone
                    required:
                    - id
                    - name
                    additionalProperties: false
                  terminal_id:
                    type:
                    - integer
                    - 'null'
                    description: The terminal ID of the reader
                  terminal:
                    type: object
                    title: Terminal
                    description: The terminal of the reader
                    properties:
                      id:
                        type: integer
                        description: The ID of the terminal
                      resource_type:
                        type: string
                        description: The resource type of the terminal
                        const: Terminal
                      name:
                        type: string
                        description: The name of the terminal
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - name
                - description
                - created_at
                - updated_at
                - broadcast_ip_address
                - configured
                - device_id
                - ethernet_mac
                - gateway_ip_address
                - ip_address
                - model
                - network_interface
                - network
                - online
                - revision
                - token
                - wifi_mac
                - backplate
                - buzzer_enabled
                - cards_enabled
                - checkout
                - device_unlock_restriction_enabled
                - held_open_alarm_enabled
                - quick_response_code_enabled
                - tampered
                - tamper_enabled
                - wave_to_unlock_enabled
                - elevator_id
                - lock_id
                - place_id
                - place
                - zone_id
                - terminal_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateReader
      summary: Update reader
      tags:
      - Readers
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Reader
              properties:
                reader:
                  type: object
                  properties:
                    buzzer_enabled:
                      type: boolean
                      description: Whether the reader is buzzer enabled
                    checkout:
                      type: boolean
                      description: Whether the reader is checkout enabled
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the reader
                    device_unlock_restriction_enabled:
                      type: boolean
                      description: 'Whether the reader is device unlock restriction enabled

                        '
                    elevator_id:
                      type:
                      - integer
                      - 'null'
                      description: The elevator ID of the reader
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the reader
                    name:
                      type: string
                      description: The name of the reader
                    tamper_enabled:
                      type: boolean
                      description: Whether the reader is tamper enabled
                    wave_to_unlock_enabled:
                      type: boolean
                      description: 'Whether the reader is wave to unlock enabled

                        '
                    zone_id:
                      type:
                      - integer
                      - 'null'
                      description: The zone ID of the reader
                    terminal_id:
                      type:
                      - integer
                      - 'null'
                      description: The terminal ID of the reader
                  required: []
              required:
              - reader
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
