openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Shares API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Shares
paths:
  /shares:
    get:
      operationId: fetchShares
      summary: Fetch shares
      description: '> This API is deprecated.

        > Please read our documentation about how to manage access rights.'
      tags:
      - Shares
      security:
      - Kisi-Login: []
      - OAuth2: []
      deprecated: true
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: query
        in: query
        schema:
          type: string
        description: 'Filter by a freetext string. Properties searched: `user.email`, `user.name`

          '
      - name: group_id
        in: query
        schema:
          type: integer
        description: Filter by group ID
      - name: member_id
        in: query
        schema:
          type: integer
        description: Filter by member ID
      - name: place_id
        in: query
        schema:
          type: integer
        description: Filter by place ID
      - name: user_id
        in: query
        schema:
          type:
          - integer
          - string
        description: Filter by user ID or by current user if value is `me`.
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: role_id
        in: query
        schema:
          type: string
          enum:
          - basic
          - manager
        description: Filter by the role of the share
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Share
                  properties:
                    id:
                      type: integer
                      description: The ID of the share
                    resource_type:
                      type: string
                      description: The resource type of the share
                      const: Share
                    created_at:
                      type: string
                      format: date-time
                      description: When the share was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the share was updated
                    email:
                      type: string
                      format: email
                      description: The email of the share's user. Cannot be changed once set
                    notify:
                      type:
                      - boolean
                      - 'null'
                      description: Whether an email should be sent when this share is created or updated
                    role_id:
                      type: string
                      enum:
                      - manager
                      - basic
                      default: basic
                      description: The role of the share
                    valid_from:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the share starts to be valid at
                    valid_until:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the share stops to be valid at
                    group_id:
                      type: integer
                      description: The group ID of the share
                    group:
                      type: object
                      title: Group
                      description: The group of the share
                      properties:
                        id:
                          type: integer
                          description: The ID of the group
                        resource_type:
                          type: string
                          description: The resource type of the group
                          const: Group
                        name:
                          type: string
                          description: The name of the group
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    member_id:
                      type: integer
                      description: The member ID of the share
                    member:
                      type: object
                      title: Member
                      description: The member of the share
                      properties:
                        id:
                          type: integer
                          description: The ID of the member
                        resource_type:
                          type: string
                          description: The resource type of the member
                          const: Member
                        name:
                          type: string
                          description: The name of the member
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the share
                    place:
                      type: object
                      title: Place
                      description: The place of the share
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    user_id:
                      type: integer
                      description: The user ID of the share
                    user:
                      type: object
                      title: User
                      description: The user of the share
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    created_by_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - User
                      - MarketplaceInstallation
                      description: The created_by type of the share
                    created_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The created_by ID of the share
                    created_by:
                      type: object
                      description: The created_by of the share
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                      - type: object
                        title: Marketplace Installation
                        properties:
                          id:
                            type: integer
                            description: The ID of the marketplace installation
                          resource_type:
                            type: string
                            description: The resource type of the marketplace installation
                            const: MarketplaceInstallation
                        required:
                        - id
                        - resource_type
                        additionalProperties: false
                    lock_id:
                      deprecated: true
                      type: 'null'
                    apply_to_place:
                      deprecated: true
                      type: boolean
                      enum:
                      - false
                    role:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    issued_to_id:
                      deprecated: true
                      type:
                      - integer
                      - 'null'
                      description: The ID of the share's user
                    issued_to_email:
                      deprecated: true
                      type: string
                      format: email
                      description: The email of the share's user
                    issued_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The issued_by ID of the share
                      deprecated: true
                    issued_by:
                      type: object
                      title: User
                      description: The issued_by of the share
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - email
                  - notify
                  - role_id
                  - valid_from
                  - valid_until
                  - group_id
                  - group
                  - member_id
                  - member
                  - place_id
                  - user_id
                  - user
                  - created_by_type
                  - created_by_id
                  - lock_id
                  - apply_to_place
                  - role
                  - issued_to_id
                  - issued_to_email
                  - issued_by_id
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createShare
      summary: Create share
      description: '> This API is deprecated.

        > Please read our documentation about how to manage access rights.'
      tags:
      - Shares
      security:
      - Kisi-Login: []
      - OAuth2: []
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Share
              properties:
                share:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                      description: The email of the share's user. Cannot be changed once set
                    group_id:
                      type: integer
                      description: The group ID of the share
                    notify:
                      type:
                      - boolean
                      - 'null'
                      description: Whether an email should be sent when this share is created or updated
                    role_id:
                      type: string
                      enum:
                      - manager
                      - basic
                      default: basic
                      description: The role of the share
                    valid_from:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the share starts to be valid at
                    valid_until:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the share stops to be valid at
                  required:
                  - email
                  - group_id
              required:
              - share
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Share
                properties:
                  id:
                    type: integer
                    description: The ID of the share
                  resource_type:
                    type: string
                    description: The resource type of the share
                    const: Share
                  created_at:
                    type: string
                    format: date-time
                    description: When the share was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the share was updated
                  email:
                    type: string
                    format: email
                    description: The email of the share's user. Cannot be changed once set
                  notify:
                    type:
                    - boolean
                    - 'null'
                    description: Whether an email should be sent when this share is created or updated
                  role_id:
                    type: string
                    enum:
                    - manager
                    - basic
                    default: basic
                    description: The role of the share
                  valid_from:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the share starts to be valid at
                  valid_until:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the share stops to be valid at
                  group_id:
                    type: integer
                    description: The group ID of the share
                  group:
                    type: object
                    title: Group
                    description: The group of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the group
                      resource_type:
                        type: string
                        description: The resource type of the group
                        const: Group
                      name:
                        type: string
                        description: The name of the group
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  member_id:
                    type: integer
                    description: The member ID of the share
                  member:
                    type: object
                    title: Member
                    description: The member of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the member
                      resource_type:
                        type: string
                        description: The resource type of the member
                        const: Member
                      name:
                        type: string
                        description: The name of the member
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID of the share
                  place:
                    type: object
                    title: Place
                    description: The place of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  user_id:
                    type: integer
                    description: The user ID of the share
                  user:
                    type: object
                    title: User
                    description: The user of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                  created_by_type:
                    type:
                    - string
                    - 'null'
                    enum:
                    - null
                    - User
                    - MarketplaceInstallation
                    description: The created_by type of the share
                  created_by_id:
                    type:
                    - integer
                    - 'null'
                    description: The created_by ID of the share
                  created_by:
                    type: object
                    description: The created_by of the share
                    oneOf:
                    - type: object
                      title: User
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    - type: object
                      title: Marketplace Installation
                      properties:
                        id:
                          type: integer
                          description: The ID of the marketplace installation
                        resource_type:
                          type: string
                          description: The resource type of the marketplace installation
                          const: MarketplaceInstallation
                      required:
                      - id
                      - resource_type
                      additionalProperties: false
                  lock_id:
                    deprecated: true
                    type: 'null'
                  apply_to_place:
                    deprecated: true
                    type: boolean
                    enum:
                    - false
                  role:
                    deprecated: true
                    type:
                    - string
                    - 'null'
                  issued_to_id:
                    deprecated: true
                    type:
                    - integer
                    - 'null'
                    description: The ID of the share's user
                  issued_to_email:
                    deprecated: true
                    type: string
                    format: email
                    description: The email of the share's user
                  issued_by_id:
                    type:
                    - integer
                    - 'null'
                    description: The issued_by ID of the share
                    deprecated: true
                  issued_by:
                    type: object
                    title: User
                    description: The issued_by of the share
                    deprecated: true
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - email
                - notify
                - role_id
                - valid_from
                - valid_until
                - group_id
                - group
                - member_id
                - member
                - place_id
                - user_id
                - user
                - created_by_type
                - created_by_id
                - lock_id
                - apply_to_place
                - role
                - issued_to_id
                - issued_to_email
                - issued_by_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /shares/{id}:
    get:
      operationId: fetchShare
      summary: Fetch share
      description: '> This API is deprecated.

        > Please read our documentation about how to manage access rights.'
      tags:
      - Shares
      security:
      - Kisi-Login: []
      - OAuth2: []
      deprecated: true
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Share
                properties:
                  id:
                    type: integer
                    description: The ID of the share
                  resource_type:
                    type: string
                    description: The resource type of the share
                    const: Share
                  created_at:
                    type: string
                    format: date-time
                    description: When the share was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the share was updated
                  email:
                    type: string
                    format: email
                    description: The email of the share's user. Cannot be changed once set
                  notify:
                    type:
                    - boolean
                    - 'null'
                    description: Whether an email should be sent when this share is created or updated
                  role_id:
                    type: string
                    enum:
                    - manager
                    - basic
                    default: basic
                    description: The role of the share
                  valid_from:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the share starts to be valid at
                  valid_until:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: When the share stops to be valid at
                  group_id:
                    type: integer
                    description: The group ID of the share
                  group:
                    type: object
                    title: Group
                    description: The group of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the group
                      resource_type:
                        type: string
                        description: The resource type of the group
                        const: Group
                      name:
                        type: string
                        description: The name of the group
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  member_id:
                    type: integer
                    description: The member ID of the share
                  member:
                    type: object
                    title: Member
                    description: The member of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the member
                      resource_type:
                        type: string
                        description: The resource type of the member
                        const: Member
                      name:
                        type: string
                        description: The name of the member
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID of the share
                  place:
                    type: object
                    title: Place
                    description: The place of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  user_id:
                    type: integer
                    description: The user ID of the share
                  user:
                    type: object
                    title: User
                    description: The user of the share
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                  created_by_type:
                    type:
                    - string
                    - 'null'
                    enum:
                    - null
                    - User
                    - MarketplaceInstallation
                    description: The created_by type of the share
                  created_by_id:
                    type:
                    - integer
                    - 'null'
                    description: The created_by ID of the share
                  created_by:
                    type: object
                    description: The created_by of the share
                    oneOf:
                    - type: object
                      title: User
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                    - type: object
                      title: Marketplace Installation
                      properties:
                        id:
                          type: integer
                          description: The ID of the marketplace installation
                        resource_type:
                          type: string
                          description: The resource type of the marketplace installation
                          const: MarketplaceInstallation
                      required:
                      - id
                      - resource_type
                      additionalProperties: false
                  lock_id:
                    deprecated: true
                    type: 'null'
                  apply_to_place:
                    deprecated: true
                    type: boolean
                    enum:
                    - false
                  role:
                    deprecated: true
                    type:
                    - string
                    - 'null'
                  issued_to_id:
                    deprecated: true
                    type:
                    - integer
                    - 'null'
                    description: The ID of the share's user
                  issued_to_email:
                    deprecated: true
                    type: string
                    format: email
                    description: The email of the share's user
                  issued_by_id:
                    type:
                    - integer
                    - 'null'
                    description: The issued_by ID of the share
                    deprecated: true
                  issued_by:
                    type: object
                    title: User
                    description: The issued_by of the share
                    deprecated: true
                    properties:
                      id:
                        type: integer
                        description: The ID of the user
                      resource_type:
                        type: string
                        description: The resource type of the user
                        const: User
                      email:
                        type: string
                        format: email
                        description: The email of the user.
                      name:
                        type: string
                        description: The name of the user
                    required:
                    - id
                    - resource_type
                    - email
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - email
                - notify
                - role_id
                - valid_from
                - valid_until
                - group_id
                - group
                - member_id
                - member
                - place_id
                - user_id
                - user
                - created_by_type
                - created_by_id
                - lock_id
                - apply_to_place
                - role
                - issued_to_id
                - issued_to_email
                - issued_by_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateShare
      summary: Update share
      description: '> This API is deprecated.

        > Please read our documentation about how to manage access rights.'
      tags:
      - Shares
      security:
      - Kisi-Login: []
      - OAuth2: []
      deprecated: true
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Share
              properties:
                share:
                  type: object
                  properties:
                    notify:
                      type:
                      - boolean
                      - 'null'
                      description: Whether an email should be sent when this share is created or updated
                    role_id:
                      type: string
                      enum:
                      - manager
                      - basic
                      default: basic
                      description: The role of the share
                    valid_from:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the share starts to be valid at
                    valid_until:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: When the share stops to be valid at
                  required: []
              required:
              - share
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      operationId: deleteShare
      summary: Delete share
      description: '> This API is deprecated.

        > Please read our documentation about how to manage access rights.'
      tags:
      - Shares
      security:
      - Kisi-Login: []
      - OAuth2: []
      deprecated: true
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
