openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Card assignments API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Card assignments
paths:
  /card_assignments:
    get:
      operationId: fetchCardAssignments
      summary: Fetch card assignments
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: assignee_type
        in: query
        schema:
          type: string
          enum:
          - User
          - Guest
        description: Filter by assignee type
      - name: assignee_id
        in: query
        schema:
          type: integer
        description: Filter by assignee ID. Must be used with `assignee_type`
      - name: status
        in: query
        schema:
          type: string
          enum:
          - activated
          - deactivated
        description: Filter by status
      - name: card_id
        in: query
        schema:
          type: string
        description: Filter by card IDs
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: user_id
        in: query
        schema:
          type:
          - integer
          - string
        description: Filter by user ID or by current user if value is `me`.
        deprecated: true
      - deprecated: true
        name: guest_id
        in: query
        schema:
          type: integer
        description: Filter by guest ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Card Assignment
                  properties:
                    id:
                      type: integer
                      description: The ID of the card assignment
                    resource_type:
                      type: string
                      description: The resource type of the card assignment
                      const: CardAssignment
                    created_at:
                      type: string
                      format: date-time
                      description: When the card assignment was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the card assignment was updated
                    status:
                      enum:
                      - activated
                      - deactivated
                      type: string
                      description: The status of the card assignment.
                    two_factor_pin:
                      type:
                      - string
                      - 'null'
                      pattern: ^[0-9]{4}$
                      description: Pin code used as two factor authentication for the card assignment.
                    send_two_factor_pin_notification:
                      type: boolean
                      description: Whether to send a notification to the assignee when the two factor pin is set/changed.
                    assignee_type:
                      type: string
                      enum:
                      - User
                      - Guest
                      description: The assignee type of the card assignment
                    assignee_id:
                      type: integer
                      description: The assignee ID of the card assignment
                    card_id:
                      type: integer
                      description: The card ID of the card assignment
                    created_by_type:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - User
                      description: The created_by type of the card assignment
                    created_by_id:
                      type:
                      - integer
                      - 'null'
                      description: The created_by ID of the card assignment
                    created_by:
                      type: object
                      description: The created_by of the card assignment
                      oneOf:
                      - type: object
                        title: User
                        properties:
                          id:
                            type: integer
                            description: The ID of the user
                          resource_type:
                            type: string
                            description: The resource type of the user
                            const: User
                          email:
                            type: string
                            format: email
                            description: The email of the user.
                          name:
                            type: string
                            description: The name of the user
                        required:
                        - id
                        - resource_type
                        - email
                        - name
                        additionalProperties: false
                    guest_id:
                      type:
                      - integer
                      - 'null'
                      description: The guest ID of the card assignment
                      deprecated: true
                    user_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the card assignment
                      deprecated: true
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - status
                  - two_factor_pin
                  - send_two_factor_pin_notification
                  - assignee_type
                  - assignee_id
                  - card_id
                  - created_by_type
                  - created_by_id
                  - guest_id
                  - user_id
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createCardAssignment
      summary: Create card assignment
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Card Assignment
              properties:
                card_assignment:
                  type: object
                  properties:
                    assignee_type:
                      type: string
                      enum:
                      - User
                      - Guest
                      description: The assignee type of the card assignment
                    assignee_id:
                      type: integer
                      description: The assignee ID of the card assignment
                    card_id:
                      type: integer
                      description: The card ID of the card assignment
                    two_factor_pin:
                      type:
                      - string
                      - 'null'
                      pattern: ^[0-9]{4}$
                      description: Pin code used as two factor authentication for the card assignment.
                    send_two_factor_pin_notification:
                      type: boolean
                      description: Whether to send a notification to the assignee when the two factor pin is set/changed.
                    user_id:
                      type:
                      - integer
                      - 'null'
                      description: The user ID of the card assignment
                      deprecated: true
                    guest_id:
                      type:
                      - integer
                      - 'null'
                      description: The guest ID of the card assignment
                      deprecated: true
                  required:
                  - assignee_type
                  - assignee_id
                  - card_id
              required:
              - card_assignment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Card Assignment
                properties:
                  id:
                    type: integer
                    description: The ID of the card assignment
                  resource_type:
                    type: string
                    description: The resource type of the card assignment
                    const: CardAssignment
                  created_at:
                    type: string
                    format: date-time
                    description: When the card assignment was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the card assignment was updated
                  status:
                    enum:
                    - activated
                    - deactivated
                    type: string
                    description: The status of the card assignment.
                  two_factor_pin:
                    type:
                    - string
                    - 'null'
                    pattern: ^[0-9]{4}$
                    description: Pin code used as two factor authentication for the card assignment.
                  send_two_factor_pin_notification:
                    type: boolean
                    description: Whether to send a notification to the assignee when the two factor pin is set/changed.
                  assignee_type:
                    type: string
                    enum:
                    - User
                    - Guest
                    description: The assignee type of the card assignment
                  assignee_id:
                    type: integer
                    description: The assignee ID of the card assignment
                  card_id:
                    type: integer
                    description: The card ID of the card assignment
                  created_by_type:
                    type:
                    - string
                    - 'null'
                    enum:
                    - null
                    - User
                    description: The created_by type of the card assignment
                  created_by_id:
                    type:
                    - integer
                    - 'null'
                    description: The created_by ID of the card assignment
                  created_by:
                    type: object
                    description: The created_by of the card assignment
                    oneOf:
                    - type: object
                      title: User
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                  guest_id:
                    type:
                    - integer
                    - 'null'
                    description: The guest ID of the card assignment
                    deprecated: true
                  user_id:
                    type:
                    - integer
                    - 'null'
                    description: The user ID of the card assignment
                    deprecated: true
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - status
                - two_factor_pin
                - send_two_factor_pin_notification
                - assignee_type
                - assignee_id
                - card_id
                - created_by_type
                - created_by_id
                - guest_id
                - user_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /card_assignments/{id}:
    get:
      operationId: fetchCardAssignment
      summary: Fetch card assignment
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Card Assignment
                properties:
                  id:
                    type: integer
                    description: The ID of the card assignment
                  resource_type:
                    type: string
                    description: The resource type of the card assignment
                    const: CardAssignment
                  created_at:
                    type: string
                    format: date-time
                    description: When the card assignment was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the card assignment was updated
                  status:
                    enum:
                    - activated
                    - deactivated
                    type: string
                    description: The status of the card assignment.
                  two_factor_pin:
                    type:
                    - string
                    - 'null'
                    pattern: ^[0-9]{4}$
                    description: Pin code used as two factor authentication for the card assignment.
                  send_two_factor_pin_notification:
                    type: boolean
                    description: Whether to send a notification to the assignee when the two factor pin is set/changed.
                  assignee_type:
                    type: string
                    enum:
                    - User
                    - Guest
                    description: The assignee type of the card assignment
                  assignee_id:
                    type: integer
                    description: The assignee ID of the card assignment
                  card_id:
                    type: integer
                    description: The card ID of the card assignment
                  created_by_type:
                    type:
                    - string
                    - 'null'
                    enum:
                    - null
                    - User
                    description: The created_by type of the card assignment
                  created_by_id:
                    type:
                    - integer
                    - 'null'
                    description: The created_by ID of the card assignment
                  created_by:
                    type: object
                    description: The created_by of the card assignment
                    oneOf:
                    - type: object
                      title: User
                      properties:
                        id:
                          type: integer
                          description: The ID of the user
                        resource_type:
                          type: string
                          description: The resource type of the user
                          const: User
                        email:
                          type: string
                          format: email
                          description: The email of the user.
                        name:
                          type: string
                          description: The name of the user
                      required:
                      - id
                      - resource_type
                      - email
                      - name
                      additionalProperties: false
                  guest_id:
                    type:
                    - integer
                    - 'null'
                    description: The guest ID of the card assignment
                    deprecated: true
                  user_id:
                    type:
                    - integer
                    - 'null'
                    description: The user ID of the card assignment
                    deprecated: true
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - status
                - two_factor_pin
                - send_two_factor_pin_notification
                - assignee_type
                - assignee_id
                - card_id
                - created_by_type
                - created_by_id
                - guest_id
                - user_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateCardAssignment
      summary: Update card assignment
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Card Assignment
              properties:
                card_assignment:
                  type: object
                  properties:
                    two_factor_pin:
                      type:
                      - string
                      - 'null'
                      pattern: ^[0-9]{4}$
                      description: Pin code used as two factor authentication for the card assignment.
                    send_two_factor_pin_notification:
                      type: boolean
                      description: Whether to send a notification to the assignee when the two factor pin is set/changed.
                  required: []
              required:
              - card_assignment
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      operationId: deleteCardAssignment
      summary: Delete card assignment
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /card_assignments/{id}/activate:
    post:
      operationId: activateCardAssignment
      summary: Activate card assignment by id
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /card_assignments/{id}/deactivate:
    post:
      operationId: deactivateCardAssignment
      summary: Deactivate card assignment by id
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /card_assignments/{activation_token}/activate_with_token:
    post:
      operationId: activateCardAssignmentWithActivationToken
      summary: Activate card assignment with activation token
      tags:
      - Card assignments
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: activation_token
        schema:
          type: string
        in: path
        description: The activation token of the card assignment.
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
