openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Reports API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Reports
paths:
  /reports:
    get:
      operationId: fetchReports
      summary: Fetch reports
      tags:
      - Reports
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Report
                  properties:
                    id:
                      type: integer
                      description: The ID of the report
                    resource_type:
                      type: string
                      description: The resource type of the report
                      const: Report
                    name:
                      type: string
                      description: The name of the report
                    status:
                      type: string
                      enum:
                      - waiting
                      - in_progress
                      - finished
                      - failed
                      description: The status of the report.
                    created_at:
                      type: string
                      format: date-time
                      description: When the report was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the report was updated
                    start_date:
                      type: string
                      description: 'The start date of the interval used to filter the data for the report.

                        This timestamp is expected to be in date format, YYYY-MM-DD.

                        If provided, it defines the beginning of the reporting period.

                        The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                        Current minimum interval days: no limit

                        Current maximum interval days: 180

                        '
                      format: date
                      example: '2024-02-29'
                    end_date:
                      type: string
                      description: 'The end date of the interval used to filter the data for the report.

                        This timestamp is expected to be in date format, YYYY-MM-DD.

                        If provided, it defines the end of the reporting period.

                        The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                        Current minimum interval days: no limit

                        Current maximum interval days: 180

                        '
                      format: date
                      example: '2024-03-07'
                    time_zone:
                      type:
                      - string
                      - 'null'
                      description: 'The time zone used for interpreting the start and end dates of the report.

                        This should be provided as a valid time zone identifier (e.g., "America/New_York").

                        If not provided, it defaults to the organization''s time zone.

                        '
                      format: time-zone
                      example: America/New_York
                    organization_id:
                      type: integer
                      description: The organization ID of the report
                    organization:
                      type: object
                      title: Organization
                      description: The organization of the report
                      properties:
                        id:
                          type: integer
                          description: The ID of the organization
                        resource_type:
                          type: string
                          description: The resource type of the organization
                          const: Organization
                        name:
                          type: string
                          description: The name of the organization
                        domain:
                          type: string
                          description: The domain of the organization.
                      required:
                      - id
                      - resource_type
                      - name
                      - domain
                      additionalProperties: false
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of the report
                    reporter_id:
                      type: integer
                      description: The reporter ID of the report
                  required:
                  - id
                  - resource_type
                  - name
                  - status
                  - created_at
                  - updated_at
                  - start_date
                  - end_date
                  - time_zone
                  - organization_id
                  - organization
                  - place_id
                  - reporter_id
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createReport
      summary: Create report
      tags:
      - Reports
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Report
              properties:
                report:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the report
                    start_date:
                      type: string
                      description: 'The start date of the interval used to filter the data for the report.

                        This timestamp is expected to be in date format, YYYY-MM-DD.

                        If provided, it defines the beginning of the reporting period.

                        The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                        Current minimum interval days: no limit

                        Current maximum interval days: 180

                        '
                      format: date
                      example: '2024-02-29'
                    end_date:
                      type: string
                      description: 'The end date of the interval used to filter the data for the report.

                        This timestamp is expected to be in date format, YYYY-MM-DD.

                        If provided, it defines the end of the reporting period.

                        The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                        Current minimum interval days: no limit

                        Current maximum interval days: 180

                        '
                      format: date
                      example: '2024-03-07'
                    time_zone:
                      type:
                      - string
                      - 'null'
                      description: 'The time zone used for interpreting the start and end dates of the report.

                        This should be provided as a valid time zone identifier (e.g., "America/New_York").

                        If not provided, it defaults to the organization''s time zone.

                        '
                      format: time-zone
                      example: America/New_York
                    reporter_id:
                      type: integer
                      description: The reporter ID of the report
                  required:
                  - name
                  - reporter_id
              required:
              - report
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Report
                properties:
                  id:
                    type: integer
                    description: The ID of the report
                  resource_type:
                    type: string
                    description: The resource type of the report
                    const: Report
                  name:
                    type: string
                    description: The name of the report
                  status:
                    type: string
                    enum:
                    - waiting
                    - in_progress
                    - finished
                    - failed
                    description: The status of the report.
                  created_at:
                    type: string
                    format: date-time
                    description: When the report was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the report was updated
                  start_date:
                    type: string
                    description: 'The start date of the interval used to filter the data for the report.

                      This timestamp is expected to be in date format, YYYY-MM-DD.

                      If provided, it defines the beginning of the reporting period.

                      The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                      Current minimum interval days: no limit

                      Current maximum interval days: 180

                      '
                    format: date
                    example: '2024-02-29'
                  end_date:
                    type: string
                    description: 'The end date of the interval used to filter the data for the report.

                      This timestamp is expected to be in date format, YYYY-MM-DD.

                      If provided, it defines the end of the reporting period.

                      The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                      Current minimum interval days: no limit

                      Current maximum interval days: 180

                      '
                    format: date
                    example: '2024-03-07'
                  time_zone:
                    type:
                    - string
                    - 'null'
                    description: 'The time zone used for interpreting the start and end dates of the report.

                      This should be provided as a valid time zone identifier (e.g., "America/New_York").

                      If not provided, it defaults to the organization''s time zone.

                      '
                    format: time-zone
                    example: America/New_York
                  organization_id:
                    type: integer
                    description: The organization ID of the report
                  organization:
                    type: object
                    title: Organization
                    description: The organization of the report
                    properties:
                      id:
                        type: integer
                        description: The ID of the organization
                      resource_type:
                        type: string
                        description: The resource type of the organization
                        const: Organization
                      name:
                        type: string
                        description: The name of the organization
                      domain:
                        type: string
                        description: The domain of the organization.
                    required:
                    - id
                    - resource_type
                    - name
                    - domain
                    additionalProperties: false
                  place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID of the report
                  reporter_id:
                    type: integer
                    description: The reporter ID of the report
                required:
                - id
                - resource_type
                - name
                - status
                - created_at
                - updated_at
                - start_date
                - end_date
                - time_zone
                - organization_id
                - organization
                - place_id
                - reporter_id
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /reports/{id}:
    get:
      operationId: fetchReport
      summary: Fetch report
      tags:
      - Reports
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Report
                properties:
                  id:
                    type: integer
                    description: The ID of the report
                  resource_type:
                    type: string
                    description: The resource type of the report
                    const: Report
                  name:
                    type: string
                    description: The name of the report
                  status:
                    type: string
                    enum:
                    - waiting
                    - in_progress
                    - finished
                    - failed
                    description: The status of the report.
                  created_at:
                    type: string
                    format: date-time
                    description: When the report was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the report was updated
                  start_date:
                    type: string
                    description: 'The start date of the interval used to filter the data for the report.

                      This timestamp is expected to be in date format, YYYY-MM-DD.

                      If provided, it defines the beginning of the reporting period.

                      The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                      Current minimum interval days: no limit

                      Current maximum interval days: 180

                      '
                    format: date
                    example: '2024-02-29'
                  end_date:
                    type: string
                    description: 'The end date of the interval used to filter the data for the report.

                      This timestamp is expected to be in date format, YYYY-MM-DD.

                      If provided, it defines the end of the reporting period.

                      The interval cannot be shorter than the minimum and cannot be longer than the maximum, as defined by the reporter.

                      Current minimum interval days: no limit

                      Current maximum interval days: 180

                      '
                    format: date
                    example: '2024-03-07'
                  time_zone:
                    type:
                    - string
                    - 'null'
                    description: 'The time zone used for interpreting the start and end dates of the report.

                      This should be provided as a valid time zone identifier (e.g., "America/New_York").

                      If not provided, it defaults to the organization''s time zone.

                      '
                    format: time-zone
                    example: America/New_York
                  organization_id:
                    type: integer
                    description: The organization ID of the report
                  organization:
                    type: object
                    title: Organization
                    description: The organization of the report
                    properties:
                      id:
                        type: integer
                        description: The ID of the organization
                      resource_type:
                        type: string
                        description: The resource type of the organization
                        const: Organization
                      name:
                        type: string
                        description: The name of the organization
                      domain:
                        type: string
                        description: The domain of the organization.
                    required:
                    - id
                    - resource_type
                    - name
                    - domain
                    additionalProperties: false
                  place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID of the report
                  reporter_id:
                    type: integer
                    description: The reporter ID of the report
                required:
                - id
                - resource_type
                - name
                - status
                - created_at
                - updated_at
                - start_date
                - end_date
                - time_zone
                - organization_id
                - organization
                - place_id
                - reporter_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteReport
      summary: Delete report
      tags:
      - Reports
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports/{id}/download:
    post:
      operationId: downloadReport
      summary: Retrieves a download url for the report
      tags:
      - Reports
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Report
                properties:
                  url:
                    type: string
                    format: uri
                    description: A url for downloading the report.
                required:
                - url
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
