openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Event sets API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Event sets
paths:
  /event_sets:
    post:
      operationId: createEventSet
      summary: Create event set
      description: 'This endpoint can be used to create an event set that can later be paginated through with a cursor. The set will be persisted and available for pagination for approximately 24 hours.


        When creating the event set the events may not be immediately available. Check the `status` property to determine if the events are available.

        - If `in_progress`, periodically check `GET /event_sets/{id}` until status is `finished`.

        - If `finished`, `events` will contain the events, and `cursor` will contain the cursor used to paginate the set.'
      tags:
      - Event sets
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Event Set
              properties:
                event_set:
                  type: object
                  properties:
                    interval:
                      type: string
                      description: 'Filter by the creation date of the event. The timestamp is expected to be in ISO8601 format.


                        The interval defaults to the past 90 days. The interval cannot be wider than 90 days.


                        Supported patterns:

                        - Start/End, eg. `2019-03-09T13:00:00Z/2019-03-10T15:30:00Z`

                        - Start/Duration, eg. `2019-03-09T13:00:00Z/P1Y2M10D`

                        - Duration/End, eg. `PT2H30M/2019-03-09T15:30:00Z`


                        Duration on its own (eg. `P1Y2MT1H`) is not supported.

                        '
                    event_actor_id:
                      type:
                      - integer
                      - 'null'
                    event_actor_type:
                      type:
                      - string
                      - 'null'
                    event_authenticated_by_id:
                      type:
                      - integer
                      - 'null'
                    event_authenticated_by_type:
                      type:
                      - string
                      - 'null'
                    event_object_id:
                      type:
                      - integer
                      - 'null'
                    event_object_type:
                      type:
                      - string
                      - 'null'
                    event_place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID to filter events by. Only one of event_place_id and place_id can be set.
                    event_success:
                      type:
                      - boolean
                      - 'null'
                    event_sequence:
                      type:
                      - string
                      - 'null'
                      description: Multiple sequences are separated with `,`
                    event_type:
                      type:
                      - string
                      - 'null'
                      description: Multiple types are separated with `,`
                    event_uuid:
                      type:
                      - string
                      - 'null'
                      description: Multiple UUIDs are separated with `,`
                    place_id:
                      type:
                      - integer
                      - 'null'
                      description: The place ID of a place-scoped event set. Only one of place_id and event_place_id can be set.
                  required: []
              required:
              - event_set
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Event Set
                properties:
                  id:
                    type: integer
                    description: The ID of the event set
                  created_at:
                    type: string
                    format: date-time
                    description: When the event set was created
                  status:
                    type: string
                    enum:
                    - in_progress
                    - finished
                    - failed
                    description: The status of the event set
                  interval:
                    type: string
                    description: 'Filter by the creation date of the event. The timestamp is expected to be in ISO8601 format.


                      The interval defaults to the past 90 days. The interval cannot be wider than 90 days.


                      Supported patterns:

                      - Start/End, eg. `2019-03-09T13:00:00Z/2019-03-10T15:30:00Z`

                      - Start/Duration, eg. `2019-03-09T13:00:00Z/P1Y2M10D`

                      - Duration/End, eg. `PT2H30M/2019-03-09T15:30:00Z`


                      Duration on its own (eg. `P1Y2MT1H`) is not supported.

                      '
                  event_actor_id:
                    type:
                    - integer
                    - 'null'
                  event_actor_type:
                    type:
                    - string
                    - 'null'
                  event_authenticated_by_id:
                    type:
                    - integer
                    - 'null'
                  event_authenticated_by_type:
                    type:
                    - string
                    - 'null'
                  event_object_id:
                    type:
                    - integer
                    - 'null'
                  event_object_type:
                    type:
                    - string
                    - 'null'
                  event_place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID to filter events by. Only one of event_place_id and place_id can be set.
                  event_success:
                    type:
                    - boolean
                    - 'null'
                  event_sequence:
                    type:
                    - string
                    - 'null'
                    description: Multiple sequences are separated with `,`
                  event_type:
                    type:
                    - string
                    - 'null'
                    description: Multiple types are separated with `,`
                  event_uuid:
                    type:
                    - string
                    - 'null'
                    description: Multiple UUIDs are separated with `,`
                  events:
                    type: array
                    items:
                      type: object
                      title: Event
                      properties:
                        uuid:
                          type: string
                          format: uuid
                          description: The UUID of the event
                        type:
                          type: string
                          description: The type of the event
                        actor_type:
                          type:
                          - string
                          - 'null'
                          enum:
                          - null
                          - GroupLink
                          - MarketplaceInstallation
                          - User
                          - Guest
                          description: The type of the actor of the event
                        actor_id:
                          type:
                          - integer
                          - 'null'
                          description: The ID of the actor of the event
                        actor_name:
                          type:
                          - string
                          - 'null'
                          description: The name of the actor of the event
                        actor_email:
                          type:
                          - string
                          - 'null'
                          description: The email of the actor of the event
                        authenticated_by_type:
                          type:
                          - string
                          - 'null'
                          enum:
                          - null
                          - ApplePassInstance
                          - Card
                          - GroupLink
                          - Login
                          - OauthAccessToken
                          - AccessKey
                          description: The type of the credential of the event
                        authenticated_by_id:
                          type:
                          - integer
                          - 'null'
                          description: The ID of the credential
                        authorized_by_type:
                          type:
                          - string
                          - 'null'
                        authorized_by_id:
                          type:
                          - integer
                          - 'null'
                        authorized_by_role_id:
                          type:
                          - string
                          - 'null'
                        object_type:
                          type: string
                          description: The type of the object of the event
                        object_id:
                          type: integer
                          description: The ID of the object of the event
                        object_name:
                          type: string
                          description: The name of the object of the event
                        object:
                          type: object
                          description: The object of the event
                        action:
                          type: string
                          description: The action of the event
                        created_at:
                          type: string
                          format: date-time
                          description: When the event was created
                        message:
                          type:
                          - string
                          - 'null'
                          description: The string representation of the event
                        success:
                          type: boolean
                          description: Whether the action was successful
                        code:
                          type:
                          - string
                          - 'null'
                          description: The code of the event
                        sequence:
                          type: string
                          description: The sequence used to group related events part of the same action
                        organization_id:
                          type: integer
                          description: The organization ID of the event
                        place_id:
                          type:
                          - integer
                          - 'null'
                          description: The place ID of the event
                        error_code:
                          type:
                          - string
                          - 'null'
                          description: The error code of the event
                        error_message:
                          type:
                          - string
                          - 'null'
                          description: The error message of the event
                        details:
                          deprecated: true
                          type: object
                        via:
                          deprecated: true
                          type: object
                      required:
                      - uuid
                      - type
                      - actor_type
                      - actor_id
                      - actor_name
                      - actor_email
                      - authenticated_by_type
                      - authenticated_by_id
                      - authorized_by_type
                      - authorized_by_id
                      - authorized_by_role_id
                      - object_type
                      - object_id
                      - object_name
                      - action
                      - created_at
                      - message
                      - success
                      - code
                      - sequence
                      - organization_id
                      - place_id
                      - error_code
                      - error_message
                      - details
                      - via
                      additionalProperties: false
                    description: The events of the event. Is not included if `status` is `in_progress`.
                  cursor:
                    type:
                    - string
                    - 'null'
                    description: The cursor of the event set. Will be `null` if `status` is `in_progress` or if there are no more events.
                  place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID of a place-scoped event set. Only one of place_id and event_place_id can be set.
                required:
                - id
                - created_at
                - status
                - interval
                - event_actor_id
                - event_actor_type
                - event_authenticated_by_id
                - event_authenticated_by_type
                - event_object_id
                - event_object_type
                - event_place_id
                - event_success
                - event_sequence
                - event_type
                - event_uuid
                - cursor
                - place_id
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /event_sets/{id}:
    get:
      operationId: fetchEventSet
      summary: Fetch event set
      tags:
      - Event sets
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      - name: cursor
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Event Set
                properties:
                  id:
                    type: integer
                    description: The ID of the event set
                  created_at:
                    type: string
                    format: date-time
                    description: When the event set was created
                  status:
                    type: string
                    enum:
                    - in_progress
                    - finished
                    - failed
                    description: The status of the event set
                  interval:
                    type: string
                    description: 'Filter by the creation date of the event. The timestamp is expected to be in ISO8601 format.


                      The interval defaults to the past 90 days. The interval cannot be wider than 90 days.


                      Supported patterns:

                      - Start/End, eg. `2019-03-09T13:00:00Z/2019-03-10T15:30:00Z`

                      - Start/Duration, eg. `2019-03-09T13:00:00Z/P1Y2M10D`

                      - Duration/End, eg. `PT2H30M/2019-03-09T15:30:00Z`


                      Duration on its own (eg. `P1Y2MT1H`) is not supported.

                      '
                  event_actor_id:
                    type:
                    - integer
                    - 'null'
                  event_actor_type:
                    type:
                    - string
                    - 'null'
                  event_authenticated_by_id:
                    type:
                    - integer
                    - 'null'
                  event_authenticated_by_type:
                    type:
                    - string
                    - 'null'
                  event_object_id:
                    type:
                    - integer
                    - 'null'
                  event_object_type:
                    type:
                    - string
                    - 'null'
                  event_place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID to filter events by. Only one of event_place_id and place_id can be set.
                  event_success:
                    type:
                    - boolean
                    - 'null'
                  event_sequence:
                    type:
                    - string
                    - 'null'
                    description: Multiple sequences are separated with `,`
                  event_type:
                    type:
                    - string
                    - 'null'
                    description: Multiple types are separated with `,`
                  event_uuid:
                    type:
                    - string
                    - 'null'
                    description: Multiple UUIDs are separated with `,`
                  events:
                    type: array
                    items:
                      type: object
                      title: Event
                      properties:
                        uuid:
                          type: string
                          format: uuid
                          description: The UUID of the event
                        type:
                          type: string
                          description: The type of the event
                        actor_type:
                          type:
                          - string
                          - 'null'
                          enum:
                          - null
                          - GroupLink
                          - MarketplaceInstallation
                          - User
                          - Guest
                          description: The type of the actor of the event
                        actor_id:
                          type:
                          - integer
                          - 'null'
                          description: The ID of the actor of the event
                        actor_name:
                          type:
                          - string
                          - 'null'
                          description: The name of the actor of the event
                        actor_email:
                          type:
                          - string
                          - 'null'
                          description: The email of the actor of the event
                        authenticated_by_type:
                          type:
                          - string
                          - 'null'
                          enum:
                          - null
                          - ApplePassInstance
                          - Card
                          - GroupLink
                          - Login
                          - OauthAccessToken
                          - AccessKey
                          description: The type of the credential of the event
                        authenticated_by_id:
                          type:
                          - integer
                          - 'null'
                          description: The ID of the credential
                        authorized_by_type:
                          type:
                          - string
                          - 'null'
                        authorized_by_id:
                          type:
                          - integer
                          - 'null'
                        authorized_by_role_id:
                          type:
                          - string
                          - 'null'
                        object_type:
                          type: string
                          description: The type of the object of the event
                        object_id:
                          type: integer
                          description: The ID of the object of the event
                        object_name:
                          type: string
                          description: The name of the object of the event
                        object:
                          type: object
                          description: The object of the event
                        action:
                          type: string
                          description: The action of the event
                        created_at:
                          type: string
                          format: date-time
                          description: When the event was created
                        message:
                          type:
                          - string
                          - 'null'
                          description: The string representation of the event
                        success:
                          type: boolean
                          description: Whether the action was successful
                        code:
                          type:
                          - string
                          - 'null'
                          description: The code of the event
                        sequence:
                          type: string
                          description: The sequence used to group related events part of the same action
                        organization_id:
                          type: integer
                          description: The organization ID of the event
                        place_id:
                          type:
                          - integer
                          - 'null'
                          description: The place ID of the event
                        error_code:
                          type:
                          - string
                          - 'null'
                          description: The error code of the event
                        error_message:
                          type:
                          - string
                          - 'null'
                          description: The error message of the event
                        details:
                          deprecated: true
                          type: object
                        via:
                          deprecated: true
                          type: object
                      required:
                      - uuid
                      - type
                      - actor_type
                      - actor_id
                      - actor_name
                      - actor_email
                      - authenticated_by_type
                      - authenticated_by_id
                      - authorized_by_type
                      - authorized_by_id
                      - authorized_by_role_id
                      - object_type
                      - object_id
                      - object_name
                      - action
                      - created_at
                      - message
                      - success
                      - code
                      - sequence
                      - organization_id
                      - place_id
                      - error_code
                      - error_message
                      - details
                      - via
                      additionalProperties: false
                    description: The events of the event. Is not included if `status` is `in_progress`.
                  cursor:
                    type:
                    - string
                    - 'null'
                    description: The cursor of the event set. Will be `null` if `status` is `in_progress` or if there are no more events.
                  place_id:
                    type:
                    - integer
                    - 'null'
                    description: The place ID of a place-scoped event set. Only one of place_id and event_place_id can be set.
                required:
                - id
                - created_at
                - status
                - interval
                - event_actor_id
                - event_actor_type
                - event_authenticated_by_id
                - event_authenticated_by_type
                - event_object_id
                - event_object_type
                - event_place_id
                - event_success
                - event_sequence
                - event_type
                - event_uuid
                - cursor
                - place_id
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
