openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Group zones API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Group zones
paths:
  /group_zones:
    get:
      operationId: fetchGroupZones
      summary: Fetch group zones
      tags:
      - Group zones
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: group_id
        in: query
        schema:
          type: integer
        required: true
        description: The ID of the group to scope by
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: zone_id
        in: query
        schema:
          type: integer
        description: Filter by zone ID
      - name: query
        in: query
        schema:
          type: string
        description: 'Filter by a freetext string. Properties searched: `name`

          '
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Group Zone
                  properties:
                    id:
                      type: integer
                      description: The ID of the group zone
                    resource_type:
                      type: string
                      description: The resource type of the group zone
                      const: GroupZone
                    created_at:
                      type: string
                      format: date-time
                      description: When the group zone was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the group zone was updated
                    group_id:
                      type: integer
                      description: The group ID of the group zone
                    group:
                      type: object
                      title: Group
                      description: The group of the group zone
                      properties:
                        id:
                          type: integer
                          description: The ID of the group
                        resource_type:
                          type: string
                          description: The resource type of the group
                          const: Group
                        name:
                          type: string
                          description: The name of the group
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    zone_id:
                      type: integer
                      description: The zone ID of the group zone
                    zone:
                      type: object
                      title: Zone
                      description: The zone of the group zone
                      properties:
                        id:
                          type: integer
                          description: The ID of the zone
                        name:
                          type: string
                          description: The name of the zone
                      required:
                      - id
                      - name
                      additionalProperties: false
                    place_id:
                      type: integer
                      description: The place ID of the group zone
                    place:
                      type: object
                      title: Place
                      description: The place of the group zone
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        resource_type:
                          type: string
                          description: The resource type of the place
                          const: Place
                        name:
                          type: string
                          description: The name of the place
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - group_id
                  - group
                  - zone_id
                  - zone
                  - place_id
                  - place
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createGroupZone
      summary: Create group zone
      tags:
      - Group zones
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Group Zone
              properties:
                group_zone:
                  type: object
                  properties:
                    group_id:
                      type: integer
                      description: The group ID of the group zone
                    zone_id:
                      type: integer
                      description: The zone ID of the group zone
                  required:
                  - group_id
                  - zone_id
              required:
              - group_zone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Group Zone
                properties:
                  id:
                    type: integer
                    description: The ID of the group zone
                  resource_type:
                    type: string
                    description: The resource type of the group zone
                    const: GroupZone
                  created_at:
                    type: string
                    format: date-time
                    description: When the group zone was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the group zone was updated
                  group_id:
                    type: integer
                    description: The group ID of the group zone
                  group:
                    type: object
                    title: Group
                    description: The group of the group zone
                    properties:
                      id:
                        type: integer
                        description: The ID of the group
                      resource_type:
                        type: string
                        description: The resource type of the group
                        const: Group
                      name:
                        type: string
                        description: The name of the group
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  zone_id:
                    type: integer
                    description: The zone ID of the group zone
                  zone:
                    type: object
                    title: Zone
                    description: The zone of the group zone
                    properties:
                      id:
                        type: integer
                        description: The ID of the zone
                      name:
                        type: string
                        description: The name of the zone
                    required:
                    - id
                    - name
                    additionalProperties: false
                  place_id:
                    type: integer
                    description: The place ID of the group zone
                  place:
                    type: object
                    title: Place
                    description: The place of the group zone
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - group_id
                - group
                - zone_id
                - zone
                - place_id
                - place
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /group_zones/{id}:
    get:
      operationId: fetchGroupZone
      summary: Fetch group zone
      tags:
      - Group zones
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Group Zone
                properties:
                  id:
                    type: integer
                    description: The ID of the group zone
                  resource_type:
                    type: string
                    description: The resource type of the group zone
                    const: GroupZone
                  created_at:
                    type: string
                    format: date-time
                    description: When the group zone was created
                  updated_at:
                    type: string
                    format: date-time
                    description: When the group zone was updated
                  group_id:
                    type: integer
                    description: The group ID of the group zone
                  group:
                    type: object
                    title: Group
                    description: The group of the group zone
                    properties:
                      id:
                        type: integer
                        description: The ID of the group
                      resource_type:
                        type: string
                        description: The resource type of the group
                        const: Group
                      name:
                        type: string
                        description: The name of the group
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                  zone_id:
                    type: integer
                    description: The zone ID of the group zone
                  zone:
                    type: object
                    title: Zone
                    description: The zone of the group zone
                    properties:
                      id:
                        type: integer
                        description: The ID of the zone
                      name:
                        type: string
                        description: The name of the zone
                    required:
                    - id
                    - name
                    additionalProperties: false
                  place_id:
                    type: integer
                    description: The place ID of the group zone
                  place:
                    type: object
                    title: Place
                    description: The place of the group zone
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                    required:
                    - id
                    - resource_type
                    - name
                    additionalProperties: false
                required:
                - id
                - resource_type
                - created_at
                - updated_at
                - group_id
                - group
                - zone_id
                - zone
                - place_id
                - place
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteGroupZone
      summary: Delete group zone
      tags:
      - Group zones
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
