openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Controller Wiegand Connections API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Controller Wiegand Connections
paths:
  /controller_wiegand_connections:
    get:
      operationId: fetchControllerWiegandConnections
      summary: Fetch controller wiegand connections
      tags:
      - Controller Wiegand Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: controller_id
        in: query
        schema:
          type: integer
        required: true
        description: Filter by controller ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Legacy Reader Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller wiegand connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller wiegand connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller wiegand connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller wiegand connection
                      controller_wiegand_id:
                        type: integer
                        description: The controller_wiegand ID of the controller wiegand connection
                      controller_wiegand:
                        type: object
                        title: Controller Wiegand
                        description: The controller_wiegand of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller wiegand
                          channel:
                            type: number
                            description: The channel of the controller wiegand
                          name:
                            type: string
                            description: The name of the controller wiegand
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      type:
                        const: legacy_reader
                      lock_id:
                        type:
                        - integer
                        - 'null'
                        description: The lock ID of the controller wiegand connection
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      elevator_id:
                        type:
                        - integer
                        - 'null'
                        description: The elevator ID of the controller wiegand connection
                      elevator:
                        type: object
                        title: Elevator
                        description: The elevator of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the elevator
                          resource_type:
                            type: string
                            description: The resource type of the elevator
                            const: Elevator
                          name:
                            type: string
                            description: The name of the elevator
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_wiegand_id
                    - controller_wiegand
                    - type
                    - lock_id
                    - elevator_id
                    additionalProperties: false
                  - type: object
                    title: Legacy Controller Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller wiegand connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller wiegand connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller wiegand connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller wiegand connection
                      controller_wiegand_id:
                        type: integer
                        description: The controller_wiegand ID of the controller wiegand connection
                      controller_wiegand:
                        type: object
                        title: Controller Wiegand
                        description: The controller_wiegand of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller wiegand
                          channel:
                            type: number
                            description: The channel of the controller wiegand
                          name:
                            type: string
                            description: The name of the controller wiegand
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      type:
                        const: legacy_controller
                      virtual_card_format_name:
                        type:
                        - string
                        - 'null'
                        enum:
                        - null
                        - hid_h10301
                        - hid_h10302
                        - hid_h10304
                        - em_410x_26
                        - em_410x_32_34
                        - keyscan_c15001
                        - hid_d10202
                        description: The format of the virtual card.
                      virtual_card_card_number:
                        type:
                        - integer
                        - 'null'
                        description: The card number of the virtual card.
                      virtual_card_card_id:
                        type:
                        - integer
                        - 'null'
                        description: The card id of the virtual card. Only applies to `EM_410X_32_34` cards.
                      virtual_card_oem:
                        type:
                        - integer
                        - 'null'
                        description: The oem of the virtual card. Only applies to `KEYSCAN_C15001` cards.
                      virtual_card_facility_code:
                        type:
                        - integer
                        - 'null'
                        description: The facility code of the virtual card.
                      virtual_card_uid:
                        type:
                        - string
                        - 'null'
                        pattern: ^([0-9a-fA-F]){6,16}$
                        description: The uid of the virtual card.
                      virtual_card_length:
                        type:
                        - integer
                        - 'null'
                        description: The bit length of the virtual card's uid.
                      lock_id:
                        type: integer
                        description: The lock ID of the controller wiegand connection
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_wiegand_id
                    - controller_wiegand
                    - type
                    - virtual_card_format_name
                    - virtual_card_card_number
                    - virtual_card_card_id
                    - virtual_card_oem
                    - virtual_card_facility_code
                    - virtual_card_uid
                    - virtual_card_length
                    - lock_id
                    - lock
                    additionalProperties: false
                  - type: object
                    title: Legacy Keypad Reader Connection
                    properties:
                      id:
                        type: integer
                        description: The ID of the controller wiegand connection
                      created_at:
                        type: string
                        format: date-time
                        description: When the controller wiegand connection was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the controller wiegand connection was updated
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller wiegand connection
                      controller_wiegand_id:
                        type: integer
                        description: The controller_wiegand ID of the controller wiegand connection
                      controller_wiegand:
                        type: object
                        title: Controller Wiegand
                        description: The controller_wiegand of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the controller wiegand
                          channel:
                            type: number
                            description: The channel of the controller wiegand
                          name:
                            type: string
                            description: The name of the controller wiegand
                        required:
                        - id
                        - channel
                        - name
                        additionalProperties: false
                      type:
                        const: legacy_keypad_reader
                      master_pin_code:
                        type:
                        - string
                        - 'null'
                        pattern: ^\d+$
                        description: The master pin code of the legacy keypad reader connection.
                      facility_code:
                        type:
                        - integer
                        - 'null'
                        description: The facility code of the keypad reader.
                      keypad_type:
                        type: string
                        enum:
                        - single_key_wiegand_6_bit_rosslare_format
                        - single_key_wiegand_8_bit_nibbles_complemented
                        - four_keys_binary_plus_facility_code_wiegand_26_bit
                        - one_to_five_keys_plus_facility_code_wiegand_26_bit
                        - single_key_wiegand_4_bit
                        description: The type of keypad connected to the wiegand channel.
                      two_factor_enabled:
                        type: boolean
                        description: Whether two factor authentication is enabled
                      lock_id:
                        type:
                        - integer
                        - 'null'
                        description: The lock ID of the controller wiegand connection
                      lock:
                        type: object
                        title: Lock
                        description: The lock of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the lock
                          resource_type:
                            type: string
                            description: The resource type of the lock
                            const: Lock
                          name:
                            type: string
                            description: The name of the lock
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                      elevator_id:
                        type:
                        - integer
                        - 'null'
                        description: The elevator ID of the controller wiegand connection
                      elevator:
                        type: object
                        title: Elevator
                        description: The elevator of the controller wiegand connection
                        properties:
                          id:
                            type: integer
                            description: The ID of the elevator
                          resource_type:
                            type: string
                            description: The resource type of the elevator
                            const: Elevator
                          name:
                            type: string
                            description: The name of the elevator
                        required:
                        - id
                        - resource_type
                        - name
                        additionalProperties: false
                    required:
                    - id
                    - created_at
                    - updated_at
                    - name
                    - controller_wiegand_id
                    - controller_wiegand
                    - type
                    - master_pin_code
                    - facility_code
                    - keypad_type
                    - two_factor_enabled
                    - lock_id
                    - elevator_id
                    additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createControllerWiegandConnection
      summary: Create a controller wiegand connection
      tags:
      - Controller Wiegand Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                title: Legacy Reader Connection
                properties:
                  controller_wiegand_connection:
                    type: object
                    properties:
                      type:
                        const: legacy_reader
                      controller_wiegand_id:
                        type: integer
                        description: The controller_wiegand ID of the controller wiegand connection
                      lock_id:
                        type:
                        - integer
                        - 'null'
                        description: The lock ID of the controller wiegand connection
                      elevator_id:
                        type:
                        - integer
                        - 'null'
                        description: The elevator ID of the controller wiegand connection
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller wiegand connection
                    required:
                    - type
                    - controller_wiegand_id
                required:
                - controller_wiegand_connection
              - type: object
                title: Legacy Controller Connection
                properties:
                  controller_wiegand_connection:
                    type: object
                    properties:
                      type:
                        const: legacy_controller
                      controller_wiegand_id:
                        type: integer
                        description: The controller_wiegand ID of the controller wiegand connection
                      lock_id:
                        type: integer
                        description: The lock ID of the controller wiegand connection
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller wiegand connection
                      virtual_card_format_name:
                        type:
                        - string
                        - 'null'
                        enum:
                        - null
                        - hid_h10301
                        - hid_h10302
                        - hid_h10304
                        - em_410x_26
                        - em_410x_32_34
                        - keyscan_c15001
                        - hid_d10202
                        description: The format of the virtual card.
                      virtual_card_card_number:
                        type:
                        - integer
                        - 'null'
                        description: The card number of the virtual card.
                      virtual_card_facility_code:
                        type:
                        - integer
                        - 'null'
                        description: The facility code of the virtual card.
                      virtual_card_card_id:
                        type:
                        - integer
                        - 'null'
                        description: The card id of the virtual card. Only applies to `EM_410X_32_34` cards.
                      virtual_card_oem:
                        type:
                        - integer
                        - 'null'
                        description: The oem of the virtual card. Only applies to `KEYSCAN_C15001` cards.
                      virtual_card_uid:
                        type:
                        - string
                        - 'null'
                        pattern: ^([0-9a-fA-F]){6,16}$
                        description: The uid of the virtual card.
                      virtual_card_length:
                        type:
                        - integer
                        - 'null'
                        description: The bit length of the virtual card's uid.
                    required:
                    - type
                    - controller_wiegand_id
                    - lock_id
                required:
                - controller_wiegand_connection
              - type: object
                title: Legacy Keypad Reader Connection
                properties:
                  controller_wiegand_connection:
                    type: object
                    properties:
                      type:
                        const: legacy_keypad_reader
                      controller_wiegand_id:
                        type: integer
                        description: The controller_wiegand ID of the controller wiegand connection
                      lock_id:
                        type:
                        - integer
                        - 'null'
                        description: The lock ID of the controller wiegand connection
                      elevator_id:
                        type:
                        - integer
                        - 'null'
                        description: The elevator ID of the controller wiegand connection
                      master_pin_code:
                        type:
                        - string
                        - 'null'
                        pattern: ^\d+$
                        description: The master pin code of the legacy keypad reader connection.
                      facility_code:
                        type:
                        - integer
                        - 'null'
                        description: The facility code of the keypad reader.
                      keypad_type:
                        type: string
                        enum:
                        - single_key_wiegand_6_bit_rosslare_format
                        - single_key_wiegand_8_bit_nibbles_complemented
                        - four_keys_binary_plus_facility_code_wiegand_26_bit
                        - one_to_five_keys_plus_facility_code_wiegand_26_bit
                        - single_key_wiegand_4_bit
                        description: The type of keypad connected to the wiegand channel.
                      name:
                        type:
                        - string
                        - 'null'
                        description: The name of the controller wiegand connection
                    required:
                    - type
                    - controller_wiegand_id
                required:
                - controller_wiegand_connection
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Legacy Reader Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    controller_wiegand_id:
                      type: integer
                      description: The controller_wiegand ID of the controller wiegand connection
                    controller_wiegand:
                      type: object
                      title: Controller Wiegand
                      description: The controller_wiegand of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller wiegand
                        channel:
                          type: number
                          description: The channel of the controller wiegand
                        name:
                          type: string
                          description: The name of the controller wiegand
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: legacy_reader
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the controller wiegand connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    elevator_id:
                      type:
                      - integer
                      - 'null'
                      description: The elevator ID of the controller wiegand connection
                    elevator:
                      type: object
                      title: Elevator
                      description: The elevator of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator
                        resource_type:
                          type: string
                          description: The resource type of the elevator
                          const: Elevator
                        name:
                          type: string
                          description: The name of the elevator
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_wiegand_id
                  - controller_wiegand
                  - type
                  - lock_id
                  - elevator_id
                  additionalProperties: false
                - type: object
                  title: Legacy Controller Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    controller_wiegand_id:
                      type: integer
                      description: The controller_wiegand ID of the controller wiegand connection
                    controller_wiegand:
                      type: object
                      title: Controller Wiegand
                      description: The controller_wiegand of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller wiegand
                        channel:
                          type: number
                          description: The channel of the controller wiegand
                        name:
                          type: string
                          description: The name of the controller wiegand
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: legacy_controller
                    virtual_card_format_name:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - hid_h10301
                      - hid_h10302
                      - hid_h10304
                      - em_410x_26
                      - em_410x_32_34
                      - keyscan_c15001
                      - hid_d10202
                      description: The format of the virtual card.
                    virtual_card_card_number:
                      type:
                      - integer
                      - 'null'
                      description: The card number of the virtual card.
                    virtual_card_card_id:
                      type:
                      - integer
                      - 'null'
                      description: The card id of the virtual card. Only applies to `EM_410X_32_34` cards.
                    virtual_card_oem:
                      type:
                      - integer
                      - 'null'
                      description: The oem of the virtual card. Only applies to `KEYSCAN_C15001` cards.
                    virtual_card_facility_code:
                      type:
                      - integer
                      - 'null'
                      description: The facility code of the virtual card.
                    virtual_card_uid:
                      type:
                      - string
                      - 'null'
                      pattern: ^([0-9a-fA-F]){6,16}$
                      description: The uid of the virtual card.
                    virtual_card_length:
                      type:
                      - integer
                      - 'null'
                      description: The bit length of the virtual card's uid.
                    lock_id:
                      type: integer
                      description: The lock ID of the controller wiegand connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_wiegand_id
                  - controller_wiegand
                  - type
                  - virtual_card_format_name
                  - virtual_card_card_number
                  - virtual_card_card_id
                  - virtual_card_oem
                  - virtual_card_facility_code
                  - virtual_card_uid
                  - virtual_card_length
                  - lock_id
                  - lock
                  additionalProperties: false
                - type: object
                  title: Legacy Keypad Reader Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    controller_wiegand_id:
                      type: integer
                      description: The controller_wiegand ID of the controller wiegand connection
                    controller_wiegand:
                      type: object
                      title: Controller Wiegand
                      description: The controller_wiegand of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller wiegand
                        channel:
                          type: number
                          description: The channel of the controller wiegand
                        name:
                          type: string
                          description: The name of the controller wiegand
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: legacy_keypad_reader
                    master_pin_code:
                      type:
                      - string
                      - 'null'
                      pattern: ^\d+$
                      description: The master pin code of the legacy keypad reader connection.
                    facility_code:
                      type:
                      - integer
                      - 'null'
                      description: The facility code of the keypad reader.
                    keypad_type:
                      type: string
                      enum:
                      - single_key_wiegand_6_bit_rosslare_format
                      - single_key_wiegand_8_bit_nibbles_complemented
                      - four_keys_binary_plus_facility_code_wiegand_26_bit
                      - one_to_five_keys_plus_facility_code_wiegand_26_bit
                      - single_key_wiegand_4_bit
                      description: The type of keypad connected to the wiegand channel.
                    two_factor_enabled:
                      type: boolean
                      description: Whether two factor authentication is enabled
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the controller wiegand connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    elevator_id:
                      type:
                      - integer
                      - 'null'
                      description: The elevator ID of the controller wiegand connection
                    elevator:
                      type: object
                      title: Elevator
                      description: The elevator of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator
                        resource_type:
                          type: string
                          description: The resource type of the elevator
                          const: Elevator
                        name:
                          type: string
                          description: The name of the elevator
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_wiegand_id
                  - controller_wiegand
                  - type
                  - master_pin_code
                  - facility_code
                  - keypad_type
                  - two_factor_enabled
                  - lock_id
                  - elevator_id
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /controller_wiegand_connections/{id}:
    get:
      operationId: fetchControllerWiegandConnection
      summary: Fetch a controller wiegand connection
      tags:
      - Controller Wiegand Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Legacy Reader Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    controller_wiegand_id:
                      type: integer
                      description: The controller_wiegand ID of the controller wiegand connection
                    controller_wiegand:
                      type: object
                      title: Controller Wiegand
                      description: The controller_wiegand of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller wiegand
                        channel:
                          type: number
                          description: The channel of the controller wiegand
                        name:
                          type: string
                          description: The name of the controller wiegand
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: legacy_reader
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the controller wiegand connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    elevator_id:
                      type:
                      - integer
                      - 'null'
                      description: The elevator ID of the controller wiegand connection
                    elevator:
                      type: object
                      title: Elevator
                      description: The elevator of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator
                        resource_type:
                          type: string
                          description: The resource type of the elevator
                          const: Elevator
                        name:
                          type: string
                          description: The name of the elevator
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_wiegand_id
                  - controller_wiegand
                  - type
                  - lock_id
                  - elevator_id
                  additionalProperties: false
                - type: object
                  title: Legacy Controller Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    controller_wiegand_id:
                      type: integer
                      description: The controller_wiegand ID of the controller wiegand connection
                    controller_wiegand:
                      type: object
                      title: Controller Wiegand
                      description: The controller_wiegand of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller wiegand
                        channel:
                          type: number
                          description: The channel of the controller wiegand
                        name:
                          type: string
                          description: The name of the controller wiegand
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: legacy_controller
                    virtual_card_format_name:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - hid_h10301
                      - hid_h10302
                      - hid_h10304
                      - em_410x_26
                      - em_410x_32_34
                      - keyscan_c15001
                      - hid_d10202
                      description: The format of the virtual card.
                    virtual_card_card_number:
                      type:
                      - integer
                      - 'null'
                      description: The card number of the virtual card.
                    virtual_card_card_id:
                      type:
                      - integer
                      - 'null'
                      description: The card id of the virtual card. Only applies to `EM_410X_32_34` cards.
                    virtual_card_oem:
                      type:
                      - integer
                      - 'null'
                      description: The oem of the virtual card. Only applies to `KEYSCAN_C15001` cards.
                    virtual_card_facility_code:
                      type:
                      - integer
                      - 'null'
                      description: The facility code of the virtual card.
                    virtual_card_uid:
                      type:
                      - string
                      - 'null'
                      pattern: ^([0-9a-fA-F]){6,16}$
                      description: The uid of the virtual card.
                    virtual_card_length:
                      type:
                      - integer
                      - 'null'
                      description: The bit length of the virtual card's uid.
                    lock_id:
                      type: integer
                      description: The lock ID of the controller wiegand connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_wiegand_id
                  - controller_wiegand
                  - type
                  - virtual_card_format_name
                  - virtual_card_card_number
                  - virtual_card_card_id
                  - virtual_card_oem
                  - virtual_card_facility_code
                  - virtual_card_uid
                  - virtual_card_length
                  - lock_id
                  - lock
                  additionalProperties: false
                - type: object
                  title: Legacy Keypad Reader Connection
                  properties:
                    id:
                      type: integer
                      description: The ID of the controller wiegand connection
                    created_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the controller wiegand connection was updated
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    controller_wiegand_id:
                      type: integer
                      description: The controller_wiegand ID of the controller wiegand connection
                    controller_wiegand:
                      type: object
                      title: Controller Wiegand
                      description: The controller_wiegand of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller wiegand
                        channel:
                          type: number
                          description: The channel of the controller wiegand
                        name:
                          type: string
                          description: The name of the controller wiegand
                      required:
                      - id
                      - channel
                      - name
                      additionalProperties: false
                    type:
                      const: legacy_keypad_reader
                    master_pin_code:
                      type:
                      - string
                      - 'null'
                      pattern: ^\d+$
                      description: The master pin code of the legacy keypad reader connection.
                    facility_code:
                      type:
                      - integer
                      - 'null'
                      description: The facility code of the keypad reader.
                    keypad_type:
                      type: string
                      enum:
                      - single_key_wiegand_6_bit_rosslare_format
                      - single_key_wiegand_8_bit_nibbles_complemented
                      - four_keys_binary_plus_facility_code_wiegand_26_bit
                      - one_to_five_keys_plus_facility_code_wiegand_26_bit
                      - single_key_wiegand_4_bit
                      description: The type of keypad connected to the wiegand channel.
                    two_factor_enabled:
                      type: boolean
                      description: Whether two factor authentication is enabled
                    lock_id:
                      type:
                      - integer
                      - 'null'
                      description: The lock ID of the controller wiegand connection
                    lock:
                      type: object
                      title: Lock
                      description: The lock of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the lock
                        resource_type:
                          type: string
                          description: The resource type of the lock
                          const: Lock
                        name:
                          type: string
                          description: The name of the lock
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                    elevator_id:
                      type:
                      - integer
                      - 'null'
                      description: The elevator ID of the controller wiegand connection
                    elevator:
                      type: object
                      title: Elevator
                      description: The elevator of the controller wiegand connection
                      properties:
                        id:
                          type: integer
                          description: The ID of the elevator
                        resource_type:
                          type: string
                          description: The resource type of the elevator
                          const: Elevator
                        name:
                          type: string
                          description: The name of the elevator
                      required:
                      - id
                      - resource_type
                      - name
                      additionalProperties: false
                  required:
                  - id
                  - created_at
                  - updated_at
                  - name
                  - controller_wiegand_id
                  - controller_wiegand
                  - type
                  - master_pin_code
                  - facility_code
                  - keypad_type
                  - two_factor_enabled
                  - lock_id
                  - elevator_id
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteControllerWiegandConnection
      summary: Delete a controller wiegand connection
      tags:
      - Controller Wiegand Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    patch:
      operationId: updateControllerWiegandConnection
      summary: Update a controller wiegand connection
      tags:
      - Controller Wiegand Connections
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Legacy Controller Connection
              properties:
                controller_wiegand_connection:
                  type: object
                  properties:
                    name:
                      type:
                      - string
                      - 'null'
                      description: The name of the controller wiegand connection
                    virtual_card_format_name:
                      type:
                      - string
                      - 'null'
                      enum:
                      - null
                      - hid_h10301
                      - hid_h10302
                      - hid_h10304
                      - em_410x_26
                      - em_410x_32_34
                      - keyscan_c15001
                      - hid_d10202
                      description: The format of the virtual card.
                    virtual_card_card_number:
                      type:
                      - integer
                      - 'null'
                      description: The card number of the virtual card.
                    virtual_card_facility_code:
                      type:
                      - integer
                      - 'null'
                      description: The facility code of the virtual card.
                    virtual_card_card_id:
                      type:
                      - integer
                      - 'null'
                      description: The card id of the virtual card. Only applies to `EM_410X_32_34` cards.
                    virtual_card_oem:
                      type:
                      - integer
                      - 'null'
                      description: The oem of the virtual card. Only applies to `KEYSCAN_C15001` cards.
                    virtual_card_uid:
                      type:
                      - string
                      - 'null'
                      pattern: ^([0-9a-fA-F]){6,16}$
                      description: The uid of the virtual card.
                    virtual_card_length:
                      type:
                      - integer
                      - 'null'
                      description: The bit length of the virtual card's uid.
                  required: []
              required:
              - controller_wiegand_connection
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
