openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Locks API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Locks
paths:
  /locks:
    get:
      operationId: fetchLocks
      summary: Fetch locks
      description: 'Returns a list of locks.


        When authenticating with a GroupLink, a subset of the Lock resource is returned.'
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      - Kisi-Group-Link: []
      - Kisi-Access-Key: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: query
        in: query
        schema:
          type: string
        description: 'Filter by a freetext string. Properties searched: `name`

          '
      - name: floor_id
        in: query
        schema:
          type: integer
        description: Filter by floor ID
      - name: place_id
        in: query
        schema:
          type: integer
        description: Filter by place ID
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: configured
        in: query
        schema:
          type: boolean
        description: Filter by whether the lock has been configured.
      - name: online
        in: query
        schema:
          type: boolean
        description: Filter by whether the lock is online.
      - name: unlocked
        in: query
        schema:
          type: boolean
        description: Filter by whether the lock is unlocked or locked.
      - name: locked_down
        in: query
        schema:
          type: boolean
        description: Filter by whether the lock is locked down.
      - name: favorite
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - '*'
        description: 'Include favorite status in response and/or filter by it.


          `*` - include `favorite` field in response<br>

          `true` - include `favorite` field in response and return favorites<br>

          `false` - include `favorite` field in response and return non-favorites<br>

          '
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - favorite
          - name
          - -name
        description: 'Sort the results. Prepend `-` to sort in reverse order.


          `favorite` - sort by favorite, most recent favorites first<br>

          `name` - sort by lock name, alphabetically

          '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Lock - when authenticated by group link
                    properties:
                      id:
                        type: integer
                        description: The ID of the lock
                      configured:
                        type: boolean
                        description: Whether the lock has been configured.
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the lock
                      locked_down_since:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: 'Since when the lock has been locked down.

                          '
                      locked_down:
                        type: boolean
                        description: 'Whether the lock is locked down. When locked down the lock is locked for everyone.

                          '
                      name:
                        type: string
                        description: The name of the lock
                      online:
                        type:
                        - boolean
                        - 'null'
                        description: Whether the lock is online.
                      open:
                        type: boolean
                        description: Whether the lock is open
                      unlocked_until:
                        deprecated: true
                        type:
                        - string
                        - 'null'
                        format: date-time
                      unlocked:
                        type: boolean
                        description: Whether the lock is unlocked.
                      place_id:
                        type: integer
                        description: The place ID of the lock
                      place:
                        type: object
                        title: Place
                        description: The place of the lock
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          name:
                            type: string
                            description: The name of the place
                          latitude:
                            type:
                            - number
                            - 'null'
                            format: float
                            description: The latitude of the place
                          longitude:
                            type:
                            - number
                            - 'null'
                            format: float
                            description: The longitude of the place
                        required:
                        - id
                        - name
                        - latitude
                        - longitude
                        additionalProperties: false
                    required:
                    - id
                    - configured
                    - description
                    - locked_down_since
                    - locked_down
                    - name
                    - online
                    - open
                    - unlocked_until
                    - unlocked
                    - place_id
                    - place
                    additionalProperties: false
                  - type: object
                    title: Lock
                    properties:
                      id:
                        type: integer
                        description: The ID of the lock
                      resource_type:
                        type: string
                        description: The resource type of the lock
                        const: Lock
                      created_at:
                        type: string
                        format: date-time
                        description: When the lock was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the lock was updated
                      configured:
                        type: boolean
                        description: Whether the lock has been configured.
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the lock
                      first_to_arrive_required_until:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: Until when the first to arrive trigger is required to be satisfied.
                      first_to_arrive_satisfied:
                        type: boolean
                        description: Whether the first to arrive condition is currently satisfied.
                      latitude:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: The latitude of the lock.
                      locked_down:
                        type: boolean
                        description: 'Whether the lock is locked down. When locked down the lock is locked for everyone.

                          '
                      locked_down_since:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: 'Since when the lock has been locked down.

                          '
                      longitude:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: The longitude of the lock.
                      name:
                        type: string
                        description: The name of the lock
                      on_scheduled_unlock:
                        type: boolean
                        description: If the lock is on a scheduled unlock.
                      online:
                        type:
                        - boolean
                        - 'null'
                        description: Whether the lock is online.
                      open:
                        type: boolean
                        description: Whether the lock is open
                      order_id:
                        type:
                        - integer
                        - 'null'
                        description: 'The position of the lock, determining the sort order of the locks.

                          '
                      unlocked:
                        type: boolean
                        description: Whether the lock is unlocked.
                      geofence_restriction_enabled:
                        type:
                        - boolean
                        - 'null'
                        description: 'Whether the lock is geofence restricted. Geofence restriction enforces that users may only unlock when they are near the lock.

                          '
                      geofence_restriction_radius:
                        type: number
                        description: The radius of the geofence restriction.
                      reader_restriction_enabled:
                        type:
                        - boolean
                        - 'null'
                        description: 'Whether reader restriction is enabled. Reader restriction enforces that users may only unlock when standing in front of the door.

                          '
                      time_restriction_enabled:
                        type:
                        - boolean
                        - 'null'
                        description: 'Whether the lock is time restricted. Time restriction enforces that users may only unlock at specific hours.

                          '
                      time_restriction_time_zone:
                        type:
                        - string
                        - 'null'
                        example: Europe/London
                        description: 'What time zone the time restriction applies to.

                          '
                      favorite:
                        type: boolean
                        description: 'Whether the lock is marked as a favorite by the user. Only shown if requested.

                          '
                      place_id:
                        type: integer
                        description: The place ID of the lock
                      place:
                        type: object
                        title: Place
                        description: The place of the lock
                        properties:
                          id:
                            type: integer
                            description: The ID of the place
                          name:
                            type: string
                            description: The name of the place
                          latitude:
                            type:
                            - number
                            - 'null'
                            format: float
                            description: The latitude of the place
                          longitude:
                            type:
                            - number
                            - 'null'
                            format: float
                            description: The longitude of the place
                        required:
                        - id
                        - name
                        - latitude
                        - longitude
                        additionalProperties: false
                      floor_id:
                        type:
                        - integer
                        - 'null'
                        description: The floor ID of the lock
                      groups_count:
                        deprecated: true
                        type: integer
                      unlocked_until:
                        deprecated: true
                        type:
                        - string
                        - 'null'
                        format: date-time
                    required:
                    - id
                    - resource_type
                    - created_at
                    - updated_at
                    - configured
                    - description
                    - first_to_arrive_required_until
                    - first_to_arrive_satisfied
                    - latitude
                    - locked_down
                    - locked_down_since
                    - longitude
                    - name
                    - on_scheduled_unlock
                    - online
                    - open
                    - order_id
                    - unlocked
                    - geofence_restriction_enabled
                    - geofence_restriction_radius
                    - reader_restriction_enabled
                    - time_restriction_enabled
                    - time_restriction_time_zone
                    - place_id
                    - place
                    - floor_id
                    - groups_count
                    - unlocked_until
                    additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createLock
      summary: Create lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Lock
              properties:
                lock:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the lock
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the lock
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the lock.
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the lock.
                    geofence_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is geofence restricted. Geofence restriction enforces that users may only unlock when they are near the lock.

                        '
                    reader_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether reader restriction is enabled. Reader restriction enforces that users may only unlock when standing in front of the door.

                        '
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is time restricted. Time restriction enforces that users may only unlock at specific hours.

                        '
                    order_id:
                      type:
                      - integer
                      - 'null'
                      description: 'The position of the lock, determining the sort order of the locks.

                        '
                    floor_id:
                      type:
                      - integer
                      - 'null'
                      description: The floor ID of the lock
                    place_id:
                      type: integer
                      description: The place ID of the lock
                    favorite:
                      type: boolean
                      description: 'Whether the lock is marked as a favorite by the user. Only shown if requested.

                        '
                  required:
                  - name
                  - place_id
              required:
              - lock
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Lock - when authenticated by group link
                  properties:
                    id:
                      type: integer
                      description: The ID of the lock
                    configured:
                      type: boolean
                      description: Whether the lock has been configured.
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the lock
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the lock has been locked down.

                        '
                    locked_down:
                      type: boolean
                      description: 'Whether the lock is locked down. When locked down the lock is locked for everyone.

                        '
                    name:
                      type: string
                      description: The name of the lock
                    online:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the lock is online.
                    open:
                      type: boolean
                      description: Whether the lock is open
                    unlocked_until:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                      format: date-time
                    unlocked:
                      type: boolean
                      description: Whether the lock is unlocked.
                    place_id:
                      type: integer
                      description: The place ID of the lock
                    place:
                      type: object
                      title: Place
                      description: The place of the lock
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        name:
                          type: string
                          description: The name of the place
                        latitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The latitude of the place
                        longitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The longitude of the place
                      required:
                      - id
                      - name
                      - latitude
                      - longitude
                      additionalProperties: false
                  required:
                  - id
                  - configured
                  - description
                  - locked_down_since
                  - locked_down
                  - name
                  - online
                  - open
                  - unlocked_until
                  - unlocked
                  - place_id
                  - place
                  additionalProperties: false
                - type: object
                  title: Lock
                  properties:
                    id:
                      type: integer
                      description: The ID of the lock
                    resource_type:
                      type: string
                      description: The resource type of the lock
                      const: Lock
                    created_at:
                      type: string
                      format: date-time
                      description: When the lock was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the lock was updated
                    configured:
                      type: boolean
                      description: Whether the lock has been configured.
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the lock
                    first_to_arrive_required_until:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: Until when the first to arrive trigger is required to be satisfied.
                    first_to_arrive_satisfied:
                      type: boolean
                      description: Whether the first to arrive condition is currently satisfied.
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the lock.
                    locked_down:
                      type: boolean
                      description: 'Whether the lock is locked down. When locked down the lock is locked for everyone.

                        '
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the lock has been locked down.

                        '
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the lock.
                    name:
                      type: string
                      description: The name of the lock
                    on_scheduled_unlock:
                      type: boolean
                      description: If the lock is on a scheduled unlock.
                    online:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the lock is online.
                    open:
                      type: boolean
                      description: Whether the lock is open
                    order_id:
                      type:
                      - integer
                      - 'null'
                      description: 'The position of the lock, determining the sort order of the locks.

                        '
                    unlocked:
                      type: boolean
                      description: Whether the lock is unlocked.
                    geofence_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is geofence restricted. Geofence restriction enforces that users may only unlock when they are near the lock.

                        '
                    geofence_restriction_radius:
                      type: number
                      description: The radius of the geofence restriction.
                    reader_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether reader restriction is enabled. Reader restriction enforces that users may only unlock when standing in front of the door.

                        '
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is time restricted. Time restriction enforces that users may only unlock at specific hours.

                        '
                    time_restriction_time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'What time zone the time restriction applies to.

                        '
                    favorite:
                      type: boolean
                      description: 'Whether the lock is marked as a favorite by the user. Only shown if requested.

                        '
                    place_id:
                      type: integer
                      description: The place ID of the lock
                    place:
                      type: object
                      title: Place
                      description: The place of the lock
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        name:
                          type: string
                          description: The name of the place
                        latitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The latitude of the place
                        longitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The longitude of the place
                      required:
                      - id
                      - name
                      - latitude
                      - longitude
                      additionalProperties: false
                    floor_id:
                      type:
                      - integer
                      - 'null'
                      description: The floor ID of the lock
                    groups_count:
                      deprecated: true
                      type: integer
                    unlocked_until:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                      format: date-time
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - configured
                  - description
                  - first_to_arrive_required_until
                  - first_to_arrive_satisfied
                  - latitude
                  - locked_down
                  - locked_down_since
                  - longitude
                  - name
                  - on_scheduled_unlock
                  - online
                  - open
                  - order_id
                  - unlocked
                  - geofence_restriction_enabled
                  - geofence_restriction_radius
                  - reader_restriction_enabled
                  - time_restriction_enabled
                  - time_restriction_time_zone
                  - place_id
                  - place
                  - floor_id
                  - groups_count
                  - unlocked_until
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /locks/{id}:
    get:
      operationId: fetchLock
      summary: Fetch lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      - name: favorite
        in: query
        schema:
          type:
          - boolean
          - 'null'
        description: Include favorite status in response
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Lock - when authenticated by group link
                  properties:
                    id:
                      type: integer
                      description: The ID of the lock
                    configured:
                      type: boolean
                      description: Whether the lock has been configured.
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the lock
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the lock has been locked down.

                        '
                    locked_down:
                      type: boolean
                      description: 'Whether the lock is locked down. When locked down the lock is locked for everyone.

                        '
                    name:
                      type: string
                      description: The name of the lock
                    online:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the lock is online.
                    open:
                      type: boolean
                      description: Whether the lock is open
                    unlocked_until:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                      format: date-time
                    unlocked:
                      type: boolean
                      description: Whether the lock is unlocked.
                    place_id:
                      type: integer
                      description: The place ID of the lock
                    place:
                      type: object
                      title: Place
                      description: The place of the lock
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        name:
                          type: string
                          description: The name of the place
                        latitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The latitude of the place
                        longitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The longitude of the place
                      required:
                      - id
                      - name
                      - latitude
                      - longitude
                      additionalProperties: false
                  required:
                  - id
                  - configured
                  - description
                  - locked_down_since
                  - locked_down
                  - name
                  - online
                  - open
                  - unlocked_until
                  - unlocked
                  - place_id
                  - place
                  additionalProperties: false
                - type: object
                  title: Lock
                  properties:
                    id:
                      type: integer
                      description: The ID of the lock
                    resource_type:
                      type: string
                      description: The resource type of the lock
                      const: Lock
                    created_at:
                      type: string
                      format: date-time
                      description: When the lock was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the lock was updated
                    configured:
                      type: boolean
                      description: Whether the lock has been configured.
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the lock
                    first_to_arrive_required_until:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: Until when the first to arrive trigger is required to be satisfied.
                    first_to_arrive_satisfied:
                      type: boolean
                      description: Whether the first to arrive condition is currently satisfied.
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the lock.
                    locked_down:
                      type: boolean
                      description: 'Whether the lock is locked down. When locked down the lock is locked for everyone.

                        '
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the lock has been locked down.

                        '
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the lock.
                    name:
                      type: string
                      description: The name of the lock
                    on_scheduled_unlock:
                      type: boolean
                      description: If the lock is on a scheduled unlock.
                    online:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the lock is online.
                    open:
                      type: boolean
                      description: Whether the lock is open
                    order_id:
                      type:
                      - integer
                      - 'null'
                      description: 'The position of the lock, determining the sort order of the locks.

                        '
                    unlocked:
                      type: boolean
                      description: Whether the lock is unlocked.
                    geofence_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is geofence restricted. Geofence restriction enforces that users may only unlock when they are near the lock.

                        '
                    geofence_restriction_radius:
                      type: number
                      description: The radius of the geofence restriction.
                    reader_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether reader restriction is enabled. Reader restriction enforces that users may only unlock when standing in front of the door.

                        '
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is time restricted. Time restriction enforces that users may only unlock at specific hours.

                        '
                    time_restriction_time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'What time zone the time restriction applies to.

                        '
                    favorite:
                      type: boolean
                      description: 'Whether the lock is marked as a favorite by the user. Only shown if requested.

                        '
                    place_id:
                      type: integer
                      description: The place ID of the lock
                    place:
                      type: object
                      title: Place
                      description: The place of the lock
                      properties:
                        id:
                          type: integer
                          description: The ID of the place
                        name:
                          type: string
                          description: The name of the place
                        latitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The latitude of the place
                        longitude:
                          type:
                          - number
                          - 'null'
                          format: float
                          description: The longitude of the place
                      required:
                      - id
                      - name
                      - latitude
                      - longitude
                      additionalProperties: false
                    floor_id:
                      type:
                      - integer
                      - 'null'
                      description: The floor ID of the lock
                    groups_count:
                      deprecated: true
                      type: integer
                    unlocked_until:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                      format: date-time
                  required:
                  - id
                  - resource_type
                  - created_at
                  - updated_at
                  - configured
                  - description
                  - first_to_arrive_required_until
                  - first_to_arrive_satisfied
                  - latitude
                  - locked_down
                  - locked_down_since
                  - longitude
                  - name
                  - on_scheduled_unlock
                  - online
                  - open
                  - order_id
                  - unlocked
                  - geofence_restriction_enabled
                  - geofence_restriction_radius
                  - reader_restriction_enabled
                  - time_restriction_enabled
                  - time_restriction_time_zone
                  - place_id
                  - place
                  - floor_id
                  - groups_count
                  - unlocked_until
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateLock
      summary: Update lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Lock
              properties:
                lock:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the lock
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the lock
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the lock.
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the lock.
                    geofence_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is geofence restricted. Geofence restriction enforces that users may only unlock when they are near the lock.

                        '
                    reader_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether reader restriction is enabled. Reader restriction enforces that users may only unlock when standing in front of the door.

                        '
                    time_restriction_enabled:
                      type:
                      - boolean
                      - 'null'
                      description: 'Whether the lock is time restricted. Time restriction enforces that users may only unlock at specific hours.

                        '
                    order_id:
                      type:
                      - integer
                      - 'null'
                      description: 'The position of the lock, determining the sort order of the locks.

                        '
                    floor_id:
                      type:
                      - integer
                      - 'null'
                      description: The floor ID of the lock
                    favorite:
                      type: boolean
                      description: 'Whether the lock is marked as a favorite by the user. Only shown if requested.

                        '
                  required: []
              required:
              - lock
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
    delete:
      operationId: deleteLock
      summary: Delete lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/first_to_arrive:
    post:
      operationId: firstToArriveLock
      summary: Activate first to arrive side effects
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      - Kisi-Group-Link: []
      - Kisi-Access-Key: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/last_to_leave:
    post:
      operationId: lastToLeaveLock
      summary: Reset first to arrive and disable scheduled unlock side effects
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      - Kisi-Group-Link: []
      - Kisi-Access-Key: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/unlock:
    post:
      operationId: unlockLock
      summary: Unlock lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      - Kisi-Group-Link: []
      - Kisi-Access-Key: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Lock
              properties:
                context:
                  type: object
                  properties:
                    location:
                      type: object
                      description: The user's current location (based on the WGS 84 coordinate system) for geo-fence restricted locks.
                      properties:
                        longitude:
                          type: number
                          format: float
                          description: The longitude of the user's location
                        latitude:
                          type: number
                          format: float
                          description: The latitude of the user's location
                      required:
                      - longitude
                      - latitude
                    services:
                      type: array
                      items:
                        type: object
                        description: The state of a service on the user's device, used to evaluate restrictions during unlock.
                        properties:
                          type:
                            type: string
                            enum:
                            - BLE
                            - GPS
                            - NFC
                            description: The type of the service.
                          available:
                            type: boolean
                            description: Whether the service is available on the device.
                          enabled:
                            type: boolean
                            description: Whether the service is enabled by the user.
                          authorized:
                            type: boolean
                            description: Whether the app is authorized to use the service.
                        required:
                        - type
                      description: The state of services on the user's device.
                  required: []
                lock:
                  type: object
                  properties:
                    proximity_proof:
                      type:
                      - string
                      - 'null'
                      description: Proximity proof to verify proximity to lock.
                  required:
                  - proximity_proof
              required: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    const: Unlocked!
                required:
                - message
                additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/lock_down:
    post:
      operationId: lockDownLock
      summary: Lock down lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/cancel_lockdown:
    post:
      operationId: cancelLockLockdown
      summary: Cancel lockdown of lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/favorite:
    post:
      operationId: favoriteLock
      summary: Favorite a lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /locks/{id}/unfavorite:
    post:
      operationId: unfavoriteLock
      summary: Unfavorite a lock
      tags:
      - Locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
