openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Calendars API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Calendars
paths:
  /calendar/summary:
    get:
      operationId: fetchSummary
      summary: Fetch summary of the events of a scheduleable's schedules
      description: 'The summary of a given general time interval (the "window") for a given scheduleable (e.g. a specific door) consists of three parts:


        - The effective time intervals within the window when the scheduleable is under the effect of the consequence. This is calculated as the difference of the regular and the exception events.

        - The exceptions time intervals within the window overriding events generated by regular schedules

        - The schedules by day for the window.


        Where:


        - Events are generated by the scheduleable''s non-override schedules.

        - Exceptions are generated by the scheduleable''s override schedules.


        Please note that you have to pass in either an `elevator_stop_id`, a `group_id`, or a `lock_id` to be used as the scheduleable.'
      tags:
      - Calendars
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: around
        in: query
        schema:
          type: string
        required: true
        description: 'The time range to scope the summary. The timestamp is expected to be in ISO8601 format.


          Supported patterns:

          - Start/End, eg. `2019-03-09T13:00:00Z/2019-03-10T15:30:00Z`

          - Start/Duration, eg. `2019-03-09T13:00:00Z/P1Y2M10D`

          - Duration/End, eg. `PT2H30M/2019-03-09T15:30:00Z`


          Duration on its own (eg. `P1Y2MT1H`) is not supported.

          '
      - name: consequence
        in: query
        schema:
          type: string
          enum:
          - allow
          - first_to_arrive
          - permit
          - unlock
        description: Filter by consequence
        required: true
      - name: elevator_stop_id
        in: query
        schema:
          type: integer
        description: Filter by the id of the scheduled elevator stop
      - name: group_id
        in: query
        schema:
          type: integer
        description: Filter by the id of the scheduled group
      - name: lock_id
        in: query
        schema:
          type: integer
        description: Filter by the id of the scheduled lock
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                title: Calendar
                properties:
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        starts_at:
                          type: string
                          format: date-time
                          description: When the interval starts
                        ends_at:
                          type: string
                          format: date-time
                          description: When the interval ends
                      required:
                      - starts_at
                      - ends_at
                  exceptions:
                    type: array
                    items:
                      type: object
                      properties:
                        starts_at:
                          type: string
                          format: date-time
                          description: When the interval starts
                        ends_at:
                          type: string
                          format: date-time
                          description: When the interval ends
                      required:
                      - starts_at
                      - ends_at
                  schedules_by_day:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          description: The date of a day in the time interval
                        schedule_ids:
                          type: array
                          description: Ids of schedules having events on this day
                          items:
                            type: integer
                      required:
                      - date
                      - schedule_ids
                required: []
                additionalProperties: false
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
