openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Wireless locks API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Wireless locks
paths:
  /wireless_locks:
    get:
      operationId: fetchWirelessLocks
      summary: Fetch wireless locks
      tags:
      - Wireless locks
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: lock_id
        in: query
        schema:
          type: integer
        description: Filter by lock ID
      - name: controller_id
        in: query
        schema:
          type: integer
        description: Filter by controller ID
      - name: gateway_id
        in: query
        schema:
          type: integer
        description: Filter by gateway ID
        deprecated: true
      - name: limit
        in: query
        schema:
          type: integer
          default: 10
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  title: Wireless Lock
                  properties:
                    id:
                      type: integer
                      description: The ID of the wireless lock
                    name:
                      type: string
                      description: The name of the wireless lock
                    channel:
                      type: integer
                      description: The channel of the wireless lock
                    online:
                      type:
                      - boolean
                      - 'null'
                      description: Whether the wireless lock is online
                    model:
                      type: string
                      const: NDE
                      description: The model of the wireless lock
                    address:
                      type: string
                      description: The address of the wireless lock
                    firmware_version:
                      type: string
                      description: The firmware version of the wireless lock
                    serial_number:
                      type: string
                    battery_level:
                      type: string
                    motor_stall:
                      type: boolean
                      description: Whether the wireless lock has a motor stall
                    loss_of_rf:
                      type: boolean
                      description: Whether the wireless lock has a loss of RF
                    loss_of_rs485:
                      type: boolean
                      description: Whether the wireless lock has a loss of RS485
                    unlocked:
                      type: boolean
                      description: Whether the wireless lock is unlocked
                    opened:
                      type: boolean
                      description: Whether the wireless lock is opened
                    created_at:
                      type: string
                      format: date-time
                      description: When the wireless lock was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the wireless lock was updated
                    controller_id:
                      type: integer
                      description: The controller ID of the wireless lock
                    controller:
                      type: object
                      title: Controller
                      description: The controller of the wireless lock
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller
                        name:
                          type: string
                          description: The name of the controller
                        online:
                          type: boolean
                          description: Whether the controller is online
                      required:
                      - id
                      - name
                      - online
                      additionalProperties: false
                    wireless_lock_connection_id:
                      type:
                      - integer
                      - 'null'
                      description: The wireless_lock_connection ID of the wireless lock
                    lock_id:
                      deprecated: true
                      type:
                      - integer
                      - 'null'
                      description: The ID of the lock
                    gateway_id:
                      type: integer
                      description: The gateway ID of the wireless lock
                      deprecated: true
                    gateway:
                      type: object
                      title: Controller
                      description: The gateway of the wireless lock
                      deprecated: true
                      properties:
                        id:
                          type: integer
                          description: The ID of the controller
                        name:
                          type: string
                          description: The name of the controller
                        online:
                          type: boolean
                          description: Whether the controller is online
                      required:
                      - id
                      - name
                      - online
                      additionalProperties: false
                  required:
                  - id
                  - name
                  - channel
                  - online
                  - model
                  - address
                  - firmware_version
                  - serial_number
                  - battery_level
                  - motor_stall
                  - loss_of_rf
                  - loss_of_rs485
                  - unlocked
                  - opened
                  - created_at
                  - updated_at
                  - controller_id
                  - controller
                  - wireless_lock_connection_id
                  - lock_id
                  - gateway_id
                  - gateway
                  additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
