openapi: 3.2.0
info:
  version: 1.0.0
  title: Kisi Places API
  description: '## Introduction


    Welcome to the Kisi API documentation.'
  contact:
    name: Kisi Support
    email: support@getkisi.com
servers:
- url: https://api.kisi.io
  description: Kisi Production
tags:
- name: Places
paths:
  /places:
    get:
      operationId: fetchPlaces
      summary: Fetch places
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: ids
        in: query
        schema:
          type: string
        description: Filter by object IDs
      - name: query
        in: query
        schema:
          type: string
        description: 'Filter by a freetext string. Properties searched: `name`

          '
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
          maximum: 250
        description: The number of objects to return
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
          maximum: 20000
        description: The number of objects to offset
      - name: favorite
        in: query
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          - '*'
        description: 'Include favorite status in response and/or filter by it.


          `*` - include `favorite` field in response<br>

          `true` - include `favorite` field in response and return favorites<br>

          `false` - include `favorite` field in response and return non-favorites<br>

          '
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - favorite
          - name
          - -name
        description: Sort the results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - type: object
                    title: Place - when authenticated by group link
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the place
                      address:
                        type:
                        - string
                        maxLength: 500
                        description: The address of the place
                      latitude:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: The latitude of the place
                      longitude:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: The longitude of the place
                      image:
                        type:
                        - string
                        - 'null'
                        format: uri
                        description: 'The URI to the image of the place. The image can be uploaded by first using the

                          <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                          to generate a signed URL and then using the URL to upload the image.

                          '
                      time_zone:
                        type:
                        - string
                        - 'null'
                        example: Europe/London
                        description: 'The time zone of the place.

                          It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                          '
                      color:
                        deprecated: true
                        type:
                        - string
                        - 'null'
                      logo:
                        deprecated: true
                        type:
                        - string
                        - 'null'
                    required:
                    - id
                    - resource_type
                    - name
                    - description
                    - address
                    - latitude
                    - longitude
                    - image
                    - time_zone
                    - color
                    - logo
                    additionalProperties: false
                  - type: object
                    title: Place
                    properties:
                      id:
                        type: integer
                        description: The ID of the place
                      resource_type:
                        type: string
                        description: The resource type of the place
                        const: Place
                      name:
                        type: string
                        description: The name of the place
                      description:
                        type:
                        - string
                        - 'null'
                        description: The description of the place
                      created_at:
                        type: string
                        format: date-time
                        description: When the place was created
                      updated_at:
                        type: string
                        format: date-time
                        description: When the place was updated
                      latitude:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: The latitude of the place
                      longitude:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: The longitude of the place
                      address:
                        type:
                        - string
                        maxLength: 500
                        description: The address of the place
                      image:
                        type:
                        - string
                        - 'null'
                        format: uri
                        description: 'The URI to the image of the place. The image can be uploaded by first using the

                          <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                          to generate a signed URL and then using the URL to upload the image.

                          '
                      time_zone:
                        type:
                        - string
                        - 'null'
                        example: Europe/London
                        description: 'The time zone of the place.

                          It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                          '
                      tz_time_zone:
                        type:
                        - string
                        - 'null'
                        example: Europe/London
                        description: The time zone of the place
                      locks_count:
                        type: integer
                        description: The number of locks in the place
                      integrations_count:
                        type: integer
                        description: The number of integrations in the place
                      locked_down:
                        type: boolean
                        description: 'Whether the place is locked down. When locked down the place is locked down for everyone.

                          '
                      locked_down_since:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        description: 'Since when the place has been locked down.

                          '
                      occupancy_rate:
                        type:
                        - number
                        - 'null'
                        format: float
                        description: 'What is the occupancy rate for an associated capacity record.

                          '
                      favorite:
                        type: boolean
                        description: Whether the place is marked as a favorite by the user. Only shown if requested.
                      organization_id:
                        type: integer
                        description: The organization ID of the place
                      organization:
                        type: object
                        title: Organization
                        description: The organization of the place
                        properties:
                          id:
                            type: integer
                            description: The ID of the organization
                          resource_type:
                            type: string
                            description: The resource type of the organization
                            const: Organization
                          name:
                            type: string
                            description: The name of the organization
                          domain:
                            type: string
                            description: The domain of the organization.
                        required:
                        - id
                        - resource_type
                        - name
                        - domain
                        additionalProperties: false
                      color:
                        deprecated: true
                        type:
                        - string
                        - 'null'
                      logo:
                        deprecated: true
                        type:
                        - string
                        - 'null'
                      user_id:
                        deprecated: true
                        type: 'null'
                      members_count:
                        deprecated: true
                        type: integer
                    required:
                    - id
                    - resource_type
                    - name
                    - description
                    - created_at
                    - updated_at
                    - latitude
                    - longitude
                    - address
                    - image
                    - time_zone
                    - tz_time_zone
                    - locks_count
                    - integrations_count
                    - locked_down
                    - locked_down_since
                    - occupancy_rate
                    - organization_id
                    - organization
                    - color
                    - logo
                    - user_id
                    - members_count
                    additionalProperties: false
          headers:
            X-Collection-Range:
              description: 'Pagination information for offset based pagination. `start-end` represents the range

                of items requested. `total` represents the total count of items. If there is a total

                of 15 items and an offset of 10 and limit of 10 is used, the resulting header is:

                `10-19/15`.

                '
              schema:
                type: string
                pattern: ^(?<start>\d+)-(?<end>\d+)/(?<total>\d+)$
              example: 0-9/200
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createPlace
      summary: Create place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Place
              properties:
                place:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the place
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the place
                    address:
                      type:
                      - string
                      maxLength: 500
                      description: The address of the place
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the place
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the place
                    image:
                      type:
                      - string
                      - 'null'
                      format: uri
                      description: 'The URI to the image of the place. The image can be uploaded by first using the

                        <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                        to generate a signed URL and then using the URL to upload the image.

                        '
                    time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'The time zone of the place.

                        It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                        '
                  required:
                  - name
                  - address
              required:
              - place
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Place - when authenticated by group link
                  properties:
                    id:
                      type: integer
                      description: The ID of the place
                    resource_type:
                      type: string
                      description: The resource type of the place
                      const: Place
                    name:
                      type: string
                      description: The name of the place
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the place
                    address:
                      type:
                      - string
                      maxLength: 500
                      description: The address of the place
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the place
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the place
                    image:
                      type:
                      - string
                      - 'null'
                      format: uri
                      description: 'The URI to the image of the place. The image can be uploaded by first using the

                        <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                        to generate a signed URL and then using the URL to upload the image.

                        '
                    time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'The time zone of the place.

                        It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                        '
                    color:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    logo:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - address
                  - latitude
                  - longitude
                  - image
                  - time_zone
                  - color
                  - logo
                  additionalProperties: false
                - type: object
                  title: Place
                  properties:
                    id:
                      type: integer
                      description: The ID of the place
                    resource_type:
                      type: string
                      description: The resource type of the place
                      const: Place
                    name:
                      type: string
                      description: The name of the place
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the place
                    created_at:
                      type: string
                      format: date-time
                      description: When the place was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the place was updated
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the place
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the place
                    address:
                      type:
                      - string
                      maxLength: 500
                      description: The address of the place
                    image:
                      type:
                      - string
                      - 'null'
                      format: uri
                      description: 'The URI to the image of the place. The image can be uploaded by first using the

                        <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                        to generate a signed URL and then using the URL to upload the image.

                        '
                    time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'The time zone of the place.

                        It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                        '
                    tz_time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: The time zone of the place
                    locks_count:
                      type: integer
                      description: The number of locks in the place
                    integrations_count:
                      type: integer
                      description: The number of integrations in the place
                    locked_down:
                      type: boolean
                      description: 'Whether the place is locked down. When locked down the place is locked down for everyone.

                        '
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the place has been locked down.

                        '
                    occupancy_rate:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: 'What is the occupancy rate for an associated capacity record.

                        '
                    favorite:
                      type: boolean
                      description: Whether the place is marked as a favorite by the user. Only shown if requested.
                    organization_id:
                      type: integer
                      description: The organization ID of the place
                    organization:
                      type: object
                      title: Organization
                      description: The organization of the place
                      properties:
                        id:
                          type: integer
                          description: The ID of the organization
                        resource_type:
                          type: string
                          description: The resource type of the organization
                          const: Organization
                        name:
                          type: string
                          description: The name of the organization
                        domain:
                          type: string
                          description: The domain of the organization.
                      required:
                      - id
                      - resource_type
                      - name
                      - domain
                      additionalProperties: false
                    color:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    logo:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    user_id:
                      deprecated: true
                      type: 'null'
                    members_count:
                      deprecated: true
                      type: integer
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - created_at
                  - updated_at
                  - latitude
                  - longitude
                  - address
                  - image
                  - time_zone
                  - tz_time_zone
                  - locks_count
                  - integrations_count
                  - locked_down
                  - locked_down_since
                  - occupancy_rate
                  - organization_id
                  - organization
                  - color
                  - logo
                  - user_id
                  - members_count
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /places/{id}:
    get:
      operationId: fetchPlace
      summary: Fetch place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - Kisi-Group-Link: []
      - Kisi-Access-Key: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      - name: favorite
        in: query
        schema:
          type:
          - boolean
          - 'null'
        description: Include favorite status in response
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                oneOf:
                - type: object
                  title: Place - when authenticated by group link
                  properties:
                    id:
                      type: integer
                      description: The ID of the place
                    resource_type:
                      type: string
                      description: The resource type of the place
                      const: Place
                    name:
                      type: string
                      description: The name of the place
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the place
                    address:
                      type:
                      - string
                      maxLength: 500
                      description: The address of the place
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the place
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the place
                    image:
                      type:
                      - string
                      - 'null'
                      format: uri
                      description: 'The URI to the image of the place. The image can be uploaded by first using the

                        <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                        to generate a signed URL and then using the URL to upload the image.

                        '
                    time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'The time zone of the place.

                        It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                        '
                    color:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    logo:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - address
                  - latitude
                  - longitude
                  - image
                  - time_zone
                  - color
                  - logo
                  additionalProperties: false
                - type: object
                  title: Place
                  properties:
                    id:
                      type: integer
                      description: The ID of the place
                    resource_type:
                      type: string
                      description: The resource type of the place
                      const: Place
                    name:
                      type: string
                      description: The name of the place
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the place
                    created_at:
                      type: string
                      format: date-time
                      description: When the place was created
                    updated_at:
                      type: string
                      format: date-time
                      description: When the place was updated
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the place
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the place
                    address:
                      type:
                      - string
                      maxLength: 500
                      description: The address of the place
                    image:
                      type:
                      - string
                      - 'null'
                      format: uri
                      description: 'The URI to the image of the place. The image can be uploaded by first using the

                        <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                        to generate a signed URL and then using the URL to upload the image.

                        '
                    time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'The time zone of the place.

                        It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                        '
                    tz_time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: The time zone of the place
                    locks_count:
                      type: integer
                      description: The number of locks in the place
                    integrations_count:
                      type: integer
                      description: The number of integrations in the place
                    locked_down:
                      type: boolean
                      description: 'Whether the place is locked down. When locked down the place is locked down for everyone.

                        '
                    locked_down_since:
                      type:
                      - string
                      - 'null'
                      format: date-time
                      description: 'Since when the place has been locked down.

                        '
                    occupancy_rate:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: 'What is the occupancy rate for an associated capacity record.

                        '
                    favorite:
                      type: boolean
                      description: Whether the place is marked as a favorite by the user. Only shown if requested.
                    organization_id:
                      type: integer
                      description: The organization ID of the place
                    organization:
                      type: object
                      title: Organization
                      description: The organization of the place
                      properties:
                        id:
                          type: integer
                          description: The ID of the organization
                        resource_type:
                          type: string
                          description: The resource type of the organization
                          const: Organization
                        name:
                          type: string
                          description: The name of the organization
                        domain:
                          type: string
                          description: The domain of the organization.
                      required:
                      - id
                      - resource_type
                      - name
                      - domain
                      additionalProperties: false
                    color:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    logo:
                      deprecated: true
                      type:
                      - string
                      - 'null'
                    user_id:
                      deprecated: true
                      type: 'null'
                    members_count:
                      deprecated: true
                      type: integer
                  required:
                  - id
                  - resource_type
                  - name
                  - description
                  - created_at
                  - updated_at
                  - latitude
                  - longitude
                  - address
                  - image
                  - time_zone
                  - tz_time_zone
                  - locks_count
                  - integrations_count
                  - locked_down
                  - locked_down_since
                  - occupancy_rate
                  - organization_id
                  - organization
                  - color
                  - logo
                  - user_id
                  - members_count
                  additionalProperties: false
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updatePlace
      summary: Update place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Place
              properties:
                place:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the place
                    description:
                      type:
                      - string
                      - 'null'
                      description: The description of the place
                    address:
                      type:
                      - string
                      maxLength: 500
                      description: The address of the place
                    latitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The latitude of the place
                    longitude:
                      type:
                      - number
                      - 'null'
                      format: float
                      description: The longitude of the place
                    image:
                      type:
                      - string
                      - 'null'
                      format: uri
                      description: 'The URI to the image of the place. The image can be uploaded by first using the

                        <a href="/operations/createSignedUploadURL">Signed upload url endpoint</a>

                        to generate a signed URL and then using the URL to upload the image.

                        '
                    time_zone:
                      type:
                      - string
                      - 'null'
                      example: Europe/London
                      description: 'The time zone of the place.

                        It should be a <a href="https://en.wikipedia.org/wiki/Tz_database#Names_of_time_zones"> valid IANA time zone name.</a>

                        '
                  required: []
              required:
              - place
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deletePlace
      summary: Delete place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /places/{id}/lock_down:
    post:
      operationId: lockDownPlace
      summary: Lock down place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /places/{id}/cancel_lockdown:
    post:
      operationId: cancelPlaceLockdown
      summary: Cancel lockdown of place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /places/{id}/favorite:
    post:
      operationId: favoritePlace
      summary: Favorite a place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /places/{id}/unfavorite:
    post:
      operationId: unfavoritePlace
      summary: Unfavorite a place
      tags:
      - Places
      security:
      - Kisi-Login: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        schema:
          type: integer
        required: true
        description: The ID of the object
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      description: Schema describing errors.
      type: object
      properties:
        error:
          type: string
          description: The error message.
          example: Wrong email address or password.
        code:
          type: string
          description: An identifier of the error.
          example: afc516
      required:
      - error
      - code
    Errors:
      description: Schema describing validation errors.
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
            - can't be blank or invalid
            password:
            - can't be blank
      required:
      - errors
  securitySchemes:
    Webhook-Signature:
      type: apiKey
      in: header
      name: X-Signature
      description: 'Authorize using a signature of the request body. The signature is a HMAC-SHA256 hash of the request body using a secret key. <br><br>E.g. `X-Signature: 123`'
    Kisi-Login:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a login. Prefix the value with `KISI-LOGIN`<br><br>Example: `Authorization: KISI-LOGIN 123`'
    Kisi-Access-Key:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using an access key. Prefix the value with `KISI-ACCESS-KEY`<br><br>Example: `Authorization: KISI-ACCESS-KEY 123`'
    Kisi-Group-Link:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a group link. Prefix the value with `KISI-GROUP-LINK`<br><br>Example: `Authorization: KISI-GROUP-LINK 123`'
    Kisi-Service:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorize using a service. Prefix the value with `KISI-SERVICE`<br><br>Example: `Authorization: KISI-SERVICE 123`'
    OAuth2Basic:
      type: http
      scheme: basic
      description: Username is the client id. Password is the client secret.
    OAuth2:
      type: oauth2
      description: 'OAuth access tokens are sent as bearer tokens. Example: `Authorization: Bearer youraccesstoken`'
      flows:
        authorizationCode:
          authorizationUrl: https://api.kisi.io/oauth/authorize
          tokenUrl: https://api.kisi.io/oauth/token
          scopes: {}
